body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2481 {
  position:absolute;
  left:20px;
  top:18px;
  width:375px;
  height:640px;
}
#u2482 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:51px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2483 {
  position:absolute;
  left:21px;
  top:18px;
  width:373px;
  height:51px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2484 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  word-wrap:break-word;
}
#u2485 {
  position:absolute;
  left:23px;
  top:69px;
  width:363px;
  height:53px;
}
#u2486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2486 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#3EADE9;
}
#u2487 {
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u2488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2488 {
  position:absolute;
  left:119px;
  top:0px;
  width:119px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2489 {
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u2490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u2490 {
  position:absolute;
  left:238px;
  top:0px;
  width:120px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2491 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u2492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u2492 {
  position:absolute;
  left:21px;
  top:108px;
  width:367px;
  height:1px;
}
#u2493 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2494 {
  position:absolute;
  left:29px;
  top:196px;
  width:354px;
  height:384px;
}
#u2495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:31px;
}
#u2495 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:31px;
  font-size:11px;
  text-align:left;
}
#u2496 {
  position:absolute;
  left:2px;
  top:9px;
  width:95px;
  word-wrap:break-word;
}
#u2497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:31px;
}
#u2497 {
  position:absolute;
  left:99px;
  top:0px;
  width:250px;
  height:31px;
  font-size:11px;
  text-align:right;
}
#u2498 {
  position:absolute;
  left:2px;
  top:9px;
  width:246px;
  word-wrap:break-word;
}
#u2499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:31px;
}
#u2499 {
  position:absolute;
  left:0px;
  top:31px;
  width:99px;
  height:31px;
  font-size:11px;
  text-align:left;
}
#u2500 {
  position:absolute;
  left:2px;
  top:9px;
  width:95px;
  word-wrap:break-word;
}
#u2501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:31px;
}
#u2501 {
  position:absolute;
  left:99px;
  top:31px;
  width:250px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u2502 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u2503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u2503 {
  position:absolute;
  left:0px;
  top:62px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u2504 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u2505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u2505 {
  position:absolute;
  left:99px;
  top:62px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u2506 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u2507 {
  position:absolute;
  left:0px;
  top:92px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u2508 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u2509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u2509 {
  position:absolute;
  left:99px;
  top:92px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u2510 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u2511 {
  position:absolute;
  left:0px;
  top:122px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u2512 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u2513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u2513 {
  position:absolute;
  left:99px;
  top:122px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u2514 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u2515 {
  position:absolute;
  left:0px;
  top:152px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u2516 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u2517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u2517 {
  position:absolute;
  left:99px;
  top:152px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u2518 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u2519 {
  position:absolute;
  left:0px;
  top:182px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u2520 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u2521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u2521 {
  position:absolute;
  left:99px;
  top:182px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u2522 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u2523 {
  position:absolute;
  left:0px;
  top:212px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u2524 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u2525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u2525 {
  position:absolute;
  left:99px;
  top:212px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u2526 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u2527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u2527 {
  position:absolute;
  left:0px;
  top:242px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u2528 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u2529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u2529 {
  position:absolute;
  left:99px;
  top:242px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u2530 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u2531 {
  position:absolute;
  left:0px;
  top:272px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u2532 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u2533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u2533 {
  position:absolute;
  left:99px;
  top:272px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u2534 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:77px;
}
#u2535 {
  position:absolute;
  left:0px;
  top:302px;
  width:99px;
  height:77px;
  font-size:11px;
  text-align:left;
}
#u2536 {
  position:absolute;
  left:2px;
  top:32px;
  width:95px;
  word-wrap:break-word;
}
#u2537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:77px;
}
#u2537 {
  position:absolute;
  left:99px;
  top:302px;
  width:250px;
  height:77px;
  font-size:11px;
  text-align:right;
}
#u2538 {
  position:absolute;
  left:2px;
  top:30px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2539 {
  position:absolute;
  left:29px;
  top:136px;
  width:354px;
  height:46px;
}
#u2540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u2540 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-size:10px;
  color:#0099FF;
}
#u2540_img.mouseDown {
}
#u2540.mouseDown {
}
#u2541 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u2542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u2542 {
  position:absolute;
  left:80px;
  top:0px;
  width:70px;
  height:20px;
  font-size:10px;
  color:#1E1E1E;
}
#u2542_img.mouseDown {
}
#u2542.mouseDown {
}
#u2543 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u2544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u2544 {
  position:absolute;
  left:150px;
  top:0px;
  width:112px;
  height:20px;
  font-size:10px;
  color:#000000;
}
#u2544_img.mouseDown {
}
#u2544.mouseDown {
}
#u2545 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u2546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u2546 {
  position:absolute;
  left:262px;
  top:0px;
  width:87px;
  height:20px;
  font-size:10px;
  color:#000000;
}
#u2546_img.mouseDown {
}
#u2546.mouseDown {
}
#u2547 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u2548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u2548 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:21px;
  font-size:10px;
  color:#0099FF;
}
#u2548_img.mouseDown {
}
#u2548.mouseDown {
}
#u2549 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u2550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u2550 {
  position:absolute;
  left:80px;
  top:20px;
  width:70px;
  height:21px;
  font-size:10px;
  color:#1E1E1E;
}
#u2550_img.mouseDown {
}
#u2550.mouseDown {
}
#u2551 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u2552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u2552 {
  position:absolute;
  left:150px;
  top:20px;
  width:112px;
  height:21px;
  font-size:10px;
  color:#000000;
}
#u2552_img.mouseDown {
}
#u2552.mouseDown {
}
#u2553 {
  position:absolute;
  left:2px;
  top:5px;
  width:108px;
  word-wrap:break-word;
}
#u2554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u2554 {
  position:absolute;
  left:262px;
  top:20px;
  width:87px;
  height:21px;
  font-size:10px;
  color:#000000;
}
#u2554_img.mouseDown {
}
#u2554.mouseDown {
}
#u2555 {
  position:absolute;
  left:2px;
  top:5px;
  width:83px;
  word-wrap:break-word;
}
#u2556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2556 {
  position:absolute;
  left:52px;
  top:151px;
  width:10px;
  height:10px;
}
#u2557 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2558 {
  position:absolute;
  left:62px;
  top:156px;
  width:0px;
  height:0px;
}
#u2558_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u2559 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2560 {
  position:absolute;
  left:122px;
  top:151px;
  width:10px;
  height:10px;
}
#u2561 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2562 {
  position:absolute;
  left:207px;
  top:151px;
  width:10px;
  height:10px;
}
#u2563 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2564 {
  position:absolute;
  left:132px;
  top:156px;
  width:0px;
  height:0px;
}
#u2564_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u2565 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2566 {
  position:absolute;
  left:297px;
  top:151px;
  width:10px;
  height:10px;
}
#u2567 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2568 {
  position:absolute;
  left:217px;
  top:156px;
  width:0px;
  height:0px;
}
#u2568_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u2569 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2570 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u2571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2571 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2571_img.mouseDown {
}
#u2571.mouseDown {
}
#u2572 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2573 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2573_img.mouseDown {
}
#u2573.mouseDown {
}
#u2574 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2575 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2575_img.mouseDown {
}
#u2575.mouseDown {
}
#u2576 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2577 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2577_img.mouseDown {
}
#u2577.mouseDown {
}
#u2578 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2579 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2579_img.mouseDown {
}
#u2579.mouseDown {
}
#u2580 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u2581 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u2582 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2583 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u2584 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2585 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u2586 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2587 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u2588 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2589 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u2590 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2591 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u2592 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2593 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2594 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2595 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2596 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2597 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
