body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3200 {
  position:absolute;
  left:20px;
  top:18px;
  width:375px;
  height:640px;
}
#u3201 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:51px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3202 {
  position:absolute;
  left:21px;
  top:18px;
  width:373px;
  height:51px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3203 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  word-wrap:break-word;
}
#u3204 {
  position:absolute;
  left:23px;
  top:69px;
  width:363px;
  height:53px;
}
#u3205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u3205 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#3EADE9;
}
#u3206 {
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u3207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u3207 {
  position:absolute;
  left:119px;
  top:0px;
  width:119px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3208 {
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u3209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u3209 {
  position:absolute;
  left:238px;
  top:0px;
  width:120px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3210 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u3211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u3211 {
  position:absolute;
  left:21px;
  top:108px;
  width:367px;
  height:1px;
}
#u3212 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3213 {
  position:absolute;
  left:29px;
  top:196px;
  width:354px;
  height:384px;
}
#u3214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:31px;
}
#u3214 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:31px;
  font-size:11px;
  text-align:left;
}
#u3215 {
  position:absolute;
  left:2px;
  top:9px;
  width:95px;
  word-wrap:break-word;
}
#u3216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:31px;
}
#u3216 {
  position:absolute;
  left:99px;
  top:0px;
  width:250px;
  height:31px;
  font-size:11px;
  text-align:right;
}
#u3217 {
  position:absolute;
  left:2px;
  top:9px;
  width:246px;
  word-wrap:break-word;
}
#u3218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:31px;
}
#u3218 {
  position:absolute;
  left:0px;
  top:31px;
  width:99px;
  height:31px;
  font-size:11px;
  text-align:left;
}
#u3219 {
  position:absolute;
  left:2px;
  top:9px;
  width:95px;
  word-wrap:break-word;
}
#u3220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:31px;
}
#u3220 {
  position:absolute;
  left:99px;
  top:31px;
  width:250px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u3221 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u3222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u3222 {
  position:absolute;
  left:0px;
  top:62px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3223 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u3224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u3224 {
  position:absolute;
  left:99px;
  top:62px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u3225 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u3226 {
  position:absolute;
  left:0px;
  top:92px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3227 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u3228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u3228 {
  position:absolute;
  left:99px;
  top:92px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u3229 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u3230 {
  position:absolute;
  left:0px;
  top:122px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3231 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u3232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u3232 {
  position:absolute;
  left:99px;
  top:122px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u3233 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u3234 {
  position:absolute;
  left:0px;
  top:152px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3235 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u3236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u3236 {
  position:absolute;
  left:99px;
  top:152px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u3237 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u3238 {
  position:absolute;
  left:0px;
  top:182px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3239 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u3240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u3240 {
  position:absolute;
  left:99px;
  top:182px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u3241 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u3242 {
  position:absolute;
  left:0px;
  top:212px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3243 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u3244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u3244 {
  position:absolute;
  left:99px;
  top:212px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u3245 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u3246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u3246 {
  position:absolute;
  left:0px;
  top:242px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3247 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u3248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u3248 {
  position:absolute;
  left:99px;
  top:242px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u3249 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u3250 {
  position:absolute;
  left:0px;
  top:272px;
  width:99px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3251 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u3252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u3252 {
  position:absolute;
  left:99px;
  top:272px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u3253 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:77px;
}
#u3254 {
  position:absolute;
  left:0px;
  top:302px;
  width:99px;
  height:77px;
  font-size:11px;
  text-align:left;
}
#u3255 {
  position:absolute;
  left:2px;
  top:32px;
  width:95px;
  word-wrap:break-word;
}
#u3256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:77px;
}
#u3256 {
  position:absolute;
  left:99px;
  top:302px;
  width:250px;
  height:77px;
  font-size:11px;
  text-align:right;
}
#u3257 {
  position:absolute;
  left:2px;
  top:30px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3258 {
  position:absolute;
  left:29px;
  top:136px;
  width:354px;
  height:46px;
}
#u3259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u3259 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-size:10px;
  color:#0099FF;
}
#u3259_img.mouseDown {
}
#u3259.mouseDown {
}
#u3260 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u3261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u3261 {
  position:absolute;
  left:80px;
  top:0px;
  width:70px;
  height:20px;
  font-size:10px;
  color:#1E1E1E;
}
#u3261_img.mouseDown {
}
#u3261.mouseDown {
}
#u3262 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u3263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u3263 {
  position:absolute;
  left:150px;
  top:0px;
  width:112px;
  height:20px;
  font-size:10px;
  color:#000000;
}
#u3263_img.mouseDown {
}
#u3263.mouseDown {
}
#u3264 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u3265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u3265 {
  position:absolute;
  left:262px;
  top:0px;
  width:87px;
  height:20px;
  font-size:10px;
  color:#000000;
}
#u3265_img.mouseDown {
}
#u3265.mouseDown {
}
#u3266 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u3267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u3267 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:21px;
  font-size:10px;
  color:#0099FF;
}
#u3267_img.mouseDown {
}
#u3267.mouseDown {
}
#u3268 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u3269 {
  position:absolute;
  left:80px;
  top:20px;
  width:70px;
  height:21px;
  font-size:10px;
  color:#1E1E1E;
}
#u3269_img.mouseDown {
}
#u3269.mouseDown {
}
#u3270 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u3271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u3271 {
  position:absolute;
  left:150px;
  top:20px;
  width:112px;
  height:21px;
  font-size:10px;
  color:#000000;
}
#u3271_img.mouseDown {
}
#u3271.mouseDown {
}
#u3272 {
  position:absolute;
  left:2px;
  top:5px;
  width:108px;
  word-wrap:break-word;
}
#u3273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u3273 {
  position:absolute;
  left:262px;
  top:20px;
  width:87px;
  height:21px;
  font-size:10px;
  color:#000000;
}
#u3273_img.mouseDown {
}
#u3273.mouseDown {
}
#u3274 {
  position:absolute;
  left:2px;
  top:5px;
  width:83px;
  word-wrap:break-word;
}
#u3275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3275 {
  position:absolute;
  left:52px;
  top:151px;
  width:10px;
  height:10px;
}
#u3276 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3277 {
  position:absolute;
  left:62px;
  top:156px;
  width:0px;
  height:0px;
}
#u3277_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u3278 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3279 {
  position:absolute;
  left:122px;
  top:151px;
  width:10px;
  height:10px;
}
#u3280 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3281 {
  position:absolute;
  left:207px;
  top:151px;
  width:10px;
  height:10px;
}
#u3282 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3283 {
  position:absolute;
  left:132px;
  top:156px;
  width:0px;
  height:0px;
}
#u3283_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u3284 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3285 {
  position:absolute;
  left:297px;
  top:151px;
  width:10px;
  height:10px;
}
#u3286 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3287 {
  position:absolute;
  left:217px;
  top:156px;
  width:0px;
  height:0px;
}
#u3287_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u3288 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3289 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u3290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3290 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3290_img.mouseDown {
}
#u3290.mouseDown {
}
#u3291 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3292 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3292_img.mouseDown {
}
#u3292.mouseDown {
}
#u3293 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3294 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3294_img.mouseDown {
}
#u3294.mouseDown {
}
#u3295 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3296 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3296_img.mouseDown {
}
#u3296.mouseDown {
}
#u3297 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3298 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3298_img.mouseDown {
}
#u3298.mouseDown {
}
#u3299 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u3300 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u3301 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3302 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u3303 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3304 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u3305 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3306 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u3307 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3308 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u3309 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3310 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u3311 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3312 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3313 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3314 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3315 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3316 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3317 {
  position:absolute;
  left:336px;
  top:33px;
  width:30px;
  height:30px;
}
#u3318 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3319 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u3320 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
