body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u344 {
  position:absolute;
  left:20px;
  top:18px;
  width:375px;
  height:640px;
}
#u345 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:51px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u346 {
  position:absolute;
  left:21px;
  top:18px;
  width:373px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u347 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  word-wrap:break-word;
}
#u348 {
  position:absolute;
  left:21px;
  top:172px;
  width:371px;
  height:429px;
}
#u348_input {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:429px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u349 {
  position:absolute;
  left:21px;
  top:123px;
  width:365px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u350 {
  position:absolute;
  left:2px;
  top:10px;
  width:361px;
  word-wrap:break-word;
}
#u351 {
  position:absolute;
  left:29px;
  top:69px;
  width:354px;
  height:46px;
}
#u352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u352 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-size:10px;
  color:#0099FF;
}
#u352_img.mouseDown {
}
#u352.mouseDown {
}
#u352_img.selected {
}
#u352.selected {
}
#u353 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u354 {
  position:absolute;
  left:80px;
  top:0px;
  width:70px;
  height:20px;
  font-size:10px;
  color:#1E1E1E;
}
#u354_img.mouseDown {
}
#u354.mouseDown {
}
#u355 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u356 {
  position:absolute;
  left:150px;
  top:0px;
  width:112px;
  height:20px;
  font-size:10px;
  color:#000000;
}
#u356_img.mouseDown {
}
#u356.mouseDown {
}
#u357 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u358 {
  position:absolute;
  left:262px;
  top:0px;
  width:87px;
  height:20px;
  font-size:10px;
  color:#000000;
}
#u358_img.mouseDown {
}
#u358.mouseDown {
}
#u359 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u360 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:21px;
  font-size:10px;
  color:#0099FF;
}
#u360_img.mouseDown {
}
#u360.mouseDown {
}
#u360_img.selected {
}
#u360.selected {
}
#u361 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u362 {
  position:absolute;
  left:80px;
  top:20px;
  width:70px;
  height:21px;
  font-size:10px;
  color:#1E1E1E;
}
#u362_img.mouseDown {
}
#u362.mouseDown {
}
#u363 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u364 {
  position:absolute;
  left:150px;
  top:20px;
  width:112px;
  height:21px;
  font-size:10px;
  color:#000000;
}
#u364_img.mouseDown {
}
#u364.mouseDown {
}
#u365 {
  position:absolute;
  left:2px;
  top:5px;
  width:108px;
  word-wrap:break-word;
}
#u366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u366 {
  position:absolute;
  left:262px;
  top:20px;
  width:87px;
  height:21px;
  font-size:10px;
  color:#000000;
}
#u366_img.mouseDown {
}
#u366.mouseDown {
}
#u367 {
  position:absolute;
  left:2px;
  top:5px;
  width:83px;
  word-wrap:break-word;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u368 {
  position:absolute;
  left:52px;
  top:84px;
  width:10px;
  height:10px;
}
#u369 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370 {
  position:absolute;
  left:62px;
  top:89px;
  width:0px;
  height:0px;
}
#u370_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u371 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u372 {
  position:absolute;
  left:122px;
  top:84px;
  width:10px;
  height:10px;
}
#u373 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u374 {
  position:absolute;
  left:207px;
  top:84px;
  width:10px;
  height:10px;
}
#u375 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376 {
  position:absolute;
  left:132px;
  top:89px;
  width:0px;
  height:0px;
}
#u376_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u377 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u378 {
  position:absolute;
  left:297px;
  top:84px;
  width:10px;
  height:10px;
}
#u379 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380 {
  position:absolute;
  left:217px;
  top:89px;
  width:0px;
  height:0px;
}
#u380_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u381 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u383 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u383_img.mouseDown {
}
#u383.mouseDown {
}
#u384 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u385 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u385_img.mouseDown {
}
#u385.mouseDown {
}
#u386 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u387 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u387_img.mouseDown {
}
#u387.mouseDown {
}
#u388 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u389 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u389_img.mouseDown {
}
#u389.mouseDown {
}
#u390 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u391 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u391_img.mouseDown {
}
#u391.mouseDown {
}
#u392 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u393 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u394 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u395 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u396 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u397 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u398 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u399 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u400 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u401 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u402 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u403 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u404 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u406 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u407 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u408 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u409 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u410 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u411 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
