body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2075 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2077 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2078 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  word-wrap:break-word;
}
#u2079-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2079-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2079-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2079 {
  position:absolute;
  left:140px;
  top:89px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2080 {
  position:absolute;
  left:29px;
  top:74px;
  width:362px;
  height:230px;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2083 {
  position:absolute;
  left:119px;
  top:0px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2085 {
  position:absolute;
  left:238px;
  top:0px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2087 {
  position:absolute;
  left:0px;
  top:75px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2089 {
  position:absolute;
  left:119px;
  top:75px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2091 {
  position:absolute;
  left:238px;
  top:75px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2093 {
  position:absolute;
  left:0px;
  top:150px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2095 {
  position:absolute;
  left:119px;
  top:150px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2097 {
  position:absolute;
  left:238px;
  top:150px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2099 {
  position:absolute;
  left:313px;
  top:170px;
  width:30px;
  height:30px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u2101 {
  position:absolute;
  left:72px;
  top:93px;
  width:35px;
  height:30px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2103 {
  position:absolute;
  left:192px;
  top:91px;
  width:30px;
  height:30px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2105 {
  position:absolute;
  left:313px;
  top:90px;
  width:30px;
  height:30px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2107 {
  position:absolute;
  left:72px;
  top:173px;
  width:30px;
  height:30px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2109 {
  position:absolute;
  left:72px;
  top:248px;
  width:30px;
  height:30px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2111 {
  position:absolute;
  left:192px;
  top:175px;
  width:30px;
  height:30px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2113 {
  position:absolute;
  left:192px;
  top:248px;
  width:30px;
  height:30px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2115 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2116 {
  position:absolute;
  left:2px;
  top:-16px;
  width:21px;
  word-wrap:break-word;
}
#u2117 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2118_img.mouseDown {
}
#u2118.mouseDown {
}
#u2119 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2120 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2120_img.mouseDown {
}
#u2120.mouseDown {
}
#u2121 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2122 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2122_img.mouseDown {
}
#u2122.mouseDown {
}
#u2123 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2124 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2124_img.mouseDown {
}
#u2124.mouseDown {
}
#u2125 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2126 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2126_img.mouseDown {
}
#u2126.mouseDown {
}
#u2127 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u2128 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2130 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2132 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2134 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2136 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2138 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2141 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2142 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2143 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2144 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
