body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2030 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2032 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2033 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  word-wrap:break-word;
}
#u2034-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2034-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2034-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2034 {
  position:absolute;
  left:141px;
  top:130px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2035 {
  position:absolute;
  left:30px;
  top:115px;
  width:362px;
  height:230px;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2036 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2038 {
  position:absolute;
  left:119px;
  top:0px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2040 {
  position:absolute;
  left:238px;
  top:0px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2042 {
  position:absolute;
  left:0px;
  top:75px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2044 {
  position:absolute;
  left:119px;
  top:75px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2046 {
  position:absolute;
  left:238px;
  top:75px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2048 {
  position:absolute;
  left:0px;
  top:150px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2050 {
  position:absolute;
  left:119px;
  top:150px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u2052 {
  position:absolute;
  left:238px;
  top:150px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:57px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2054 {
  position:absolute;
  left:314px;
  top:211px;
  width:30px;
  height:30px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u2056 {
  position:absolute;
  left:73px;
  top:134px;
  width:35px;
  height:30px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2058 {
  position:absolute;
  left:193px;
  top:132px;
  width:30px;
  height:30px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2060 {
  position:absolute;
  left:314px;
  top:131px;
  width:30px;
  height:30px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2062 {
  position:absolute;
  left:73px;
  top:214px;
  width:30px;
  height:30px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2064 {
  position:absolute;
  left:73px;
  top:289px;
  width:30px;
  height:30px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2066 {
  position:absolute;
  left:193px;
  top:216px;
  width:30px;
  height:30px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2068 {
  position:absolute;
  left:193px;
  top:289px;
  width:30px;
  height:30px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
}
#u2070 {
  position:absolute;
  left:34px;
  top:86px;
  width:75px;
  height:25px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u2072 {
  position:absolute;
  left:35px;
  top:89px;
  width:4px;
  height:18px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2074 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2075 {
  position:absolute;
  left:2px;
  top:-16px;
  width:21px;
  word-wrap:break-word;
}
#u2076 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2077_img.mouseDown {
}
#u2077.mouseDown {
}
#u2078 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2079 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2079_img.mouseDown {
}
#u2079.mouseDown {
}
#u2080 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2081 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2081_img.mouseDown {
}
#u2081.mouseDown {
}
#u2082 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2083 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2083_img.mouseDown {
}
#u2083.mouseDown {
}
#u2084 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2085 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2085_img.mouseDown {
}
#u2085.mouseDown {
}
#u2086 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u2087 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2089 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2091 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2093 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2095 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2097 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2100 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2101 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2102 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2103 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
