body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1143 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u1144 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1145 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1146 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  word-wrap:break-word;
}
#u1147-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1147-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1147-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1147 {
  position:absolute;
  left:141px;
  top:130px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1148 {
  position:absolute;
  left:30px;
  top:115px;
  width:362px;
  height:230px;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1149 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1150 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1151 {
  position:absolute;
  left:119px;
  top:0px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1153 {
  position:absolute;
  left:238px;
  top:0px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u1155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1155 {
  position:absolute;
  left:0px;
  top:75px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1157 {
  position:absolute;
  left:119px;
  top:75px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1158 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u1159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1159 {
  position:absolute;
  left:238px;
  top:75px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1160 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u1161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1161 {
  position:absolute;
  left:0px;
  top:150px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1162 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u1163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1163 {
  position:absolute;
  left:119px;
  top:150px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1164 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u1165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1165 {
  position:absolute;
  left:238px;
  top:150px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1166 {
  position:absolute;
  left:2px;
  top:57px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1167 {
  position:absolute;
  left:314px;
  top:211px;
  width:30px;
  height:30px;
}
#u1168 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u1169 {
  position:absolute;
  left:73px;
  top:134px;
  width:35px;
  height:30px;
}
#u1170 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1171 {
  position:absolute;
  left:193px;
  top:132px;
  width:30px;
  height:30px;
}
#u1172 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1173 {
  position:absolute;
  left:314px;
  top:131px;
  width:30px;
  height:30px;
}
#u1174 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1175 {
  position:absolute;
  left:73px;
  top:214px;
  width:30px;
  height:30px;
}
#u1176 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1177 {
  position:absolute;
  left:73px;
  top:289px;
  width:30px;
  height:30px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1179 {
  position:absolute;
  left:193px;
  top:216px;
  width:30px;
  height:30px;
}
#u1180 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1181 {
  position:absolute;
  left:193px;
  top:289px;
  width:30px;
  height:30px;
}
#u1182 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
}
#u1183 {
  position:absolute;
  left:34px;
  top:86px;
  width:75px;
  height:25px;
}
#u1184 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u1185_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u1185 {
  position:absolute;
  left:35px;
  top:89px;
  width:4px;
  height:18px;
}
#u1186 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1187 {
  position:absolute;
  left:21px;
  top:611px;
  width:376px;
  height:54px;
}
#u1188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u1188 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
  color:#999999;
}
#u1189 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
}
#u1190 {
  position:absolute;
  left:94px;
  top:0px;
  width:92px;
  height:29px;
  color:#999999;
}
#u1191 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u1192 {
  position:absolute;
  left:186px;
  top:0px;
  width:93px;
  height:29px;
  color:#999999;
}
#u1193 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
}
#u1194 {
  position:absolute;
  left:279px;
  top:0px;
  width:92px;
  height:29px;
  color:#999999;
}
#u1195 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u1196 {
  position:absolute;
  left:0px;
  top:29px;
  width:94px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1197 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u1198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u1198 {
  position:absolute;
  left:94px;
  top:29px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1199 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u1200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u1200 {
  position:absolute;
  left:186px;
  top:29px;
  width:93px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1201 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u1202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u1202 {
  position:absolute;
  left:279px;
  top:29px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1203 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u1204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1204 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206 {
  position:absolute;
  left:21px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1207 {
  position:absolute;
  left:114px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1208 {
  position:absolute;
  left:206px;
  top:611px;
  width:95px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1209 {
  position:absolute;
  left:300px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1210 {
  position:absolute;
  left:52px;
  top:611px;
  width:30px;
  height:30px;
}
#u1211 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1212 {
  position:absolute;
  left:239px;
  top:611px;
  width:32px;
  height:32px;
}
#u1213 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1214 {
  position:absolute;
  left:145px;
  top:611px;
  width:30px;
  height:30px;
}
#u1215 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1216 {
  position:absolute;
  left:331px;
  top:611px;
  width:30px;
  height:30px;
}
#u1217 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1218 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1219 {
  position:absolute;
  left:2px;
  top:-16px;
  width:21px;
  word-wrap:break-word;
}
