body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1678 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u1679 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1680 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1681 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1682 {
  position:absolute;
  left:33px;
  top:35px;
  width:20px;
  height:20px;
}
#u1683 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u1684 {
  position:absolute;
  left:22px;
  top:113px;
  width:370px;
  height:1px;
}
#u1685 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1686-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1686-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1686 {
  position:absolute;
  left:141px;
  top:130px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
}
#u1687 {
  position:absolute;
  left:44px;
  top:115px;
  width:97px;
  height:38px;
  color:#999999;
  text-align:left;
}
#u1688 {
  position:absolute;
  left:2px;
  top:11px;
  width:93px;
  word-wrap:break-word;
}
#u1689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1689 {
  position:absolute;
  left:44px;
  top:148px;
  width:300px;
  height:57px;
}
#u1690 {
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:34px;
}
#u1691 {
  position:absolute;
  left:44px;
  top:202px;
  width:97px;
  height:34px;
  color:#999999;
  text-align:left;
}
#u1692 {
  position:absolute;
  left:2px;
  top:9px;
  width:93px;
  word-wrap:break-word;
}
#u1693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1693 {
  position:absolute;
  left:44px;
  top:232px;
  width:300px;
  height:57px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u1695 {
  position:absolute;
  left:22px;
  top:407px;
  width:370px;
  height:1px;
}
#u1696 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
}
#u1697 {
  position:absolute;
  left:44px;
  top:412px;
  width:97px;
  height:38px;
  color:#999999;
  text-align:left;
}
#u1698 {
  position:absolute;
  left:2px;
  top:11px;
  width:93px;
  word-wrap:break-word;
}
#u1699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
}
#u1699 {
  position:absolute;
  left:44px;
  top:493px;
  width:97px;
  height:38px;
  color:#999999;
  text-align:left;
}
#u1700 {
  position:absolute;
  left:2px;
  top:11px;
  width:93px;
  word-wrap:break-word;
}
#u1701 {
  position:absolute;
  left:36px;
  top:441px;
  width:342px;
  height:35px;
}
#u1702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1702 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u1703 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1704 {
  position:absolute;
  left:88px;
  top:0px;
  width:88px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u1705 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u1706 {
  position:absolute;
  left:176px;
  top:0px;
  width:113px;
  height:30px;
  color:#999999;
  text-align:right;
}
#u1707 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u1708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u1708 {
  position:absolute;
  left:289px;
  top:0px;
  width:48px;
  height:30px;
  color:#999999;
}
#u1709 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
}
#u1710 {
  position:absolute;
  left:44px;
  top:294px;
  width:97px;
  height:38px;
  color:#999999;
  text-align:left;
}
#u1711 {
  position:absolute;
  left:2px;
  top:11px;
  width:93px;
  word-wrap:break-word;
}
#u1712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1712 {
  position:absolute;
  left:44px;
  top:326px;
  width:300px;
  height:57px;
}
#u1713 {
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714 {
  position:absolute;
  left:36px;
  top:533px;
  width:340px;
  height:33px;
}
#u1715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
}
#u1715 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  color:#999999;
  text-align:left;
}
#u1716 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u1717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
}
#u1717 {
  position:absolute;
  left:88px;
  top:0px;
  width:88px;
  height:28px;
  color:#999999;
  text-align:left;
}
#u1718 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u1719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
}
#u1719 {
  position:absolute;
  left:176px;
  top:0px;
  width:113px;
  height:28px;
  color:#999999;
  text-align:right;
}
#u1720 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u1721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u1721 {
  position:absolute;
  left:289px;
  top:0px;
  width:46px;
  height:28px;
  color:#999999;
}
#u1722 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1723 {
  position:absolute;
  left:338px;
  top:445px;
  width:20px;
  height:20px;
}
#u1724 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1725 {
  position:absolute;
  left:336px;
  top:533px;
  width:20px;
  height:20px;
}
#u1726 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
}
#u1727 {
  position:absolute;
  left:360px;
  top:33px;
  width:33px;
  height:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1728 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u1729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1729 {
  position:absolute;
  left:52px;
  top:159px;
  width:30px;
  height:30px;
}
#u1730 {
  position:absolute;
  left:2px;
  top:-14px;
  width:26px;
  word-wrap:break-word;
}
#u1731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
}
#u1731 {
  position:absolute;
  left:119px;
  top:239px;
  width:30px;
  height:31px;
}
#u1732 {
  position:absolute;
  left:2px;
  top:-14px;
  width:26px;
  word-wrap:break-word;
}
#u1733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1733 {
  position:absolute;
  left:52px;
  top:239px;
  width:30px;
  height:30px;
}
#u1734 {
  position:absolute;
  left:2px;
  top:-12px;
  width:26px;
  word-wrap:break-word;
}
#u1735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1735 {
  position:absolute;
  left:172px;
  top:246px;
  width:30px;
  height:30px;
}
#u1736 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1737 {
  position:absolute;
  left:118px;
  top:333px;
  width:35px;
  height:35px;
}
#u1738 {
  position:absolute;
  left:2px;
  top:-12px;
  width:31px;
  word-wrap:break-word;
}
#u1739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1739 {
  position:absolute;
  left:52px;
  top:332px;
  width:35px;
  height:35px;
  font-size:10px;
}
#u1740 {
  position:absolute;
  left:2px;
  top:-11px;
  width:31px;
  word-wrap:break-word;
}
#u1741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1741 {
  position:absolute;
  left:172px;
  top:336px;
  width:30px;
  height:30px;
}
#u1742 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1743 {
  position:absolute;
  left:21px;
  top:611px;
  width:376px;
  height:54px;
}
#u1744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u1744 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
  color:#999999;
}
#u1745 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
}
#u1746 {
  position:absolute;
  left:94px;
  top:0px;
  width:92px;
  height:29px;
  color:#999999;
}
#u1747 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u1748 {
  position:absolute;
  left:186px;
  top:0px;
  width:93px;
  height:29px;
  color:#999999;
}
#u1749 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
}
#u1750 {
  position:absolute;
  left:279px;
  top:0px;
  width:92px;
  height:29px;
  color:#999999;
}
#u1751 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u1752 {
  position:absolute;
  left:0px;
  top:29px;
  width:94px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1753 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u1754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u1754 {
  position:absolute;
  left:94px;
  top:29px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1755 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u1756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u1756 {
  position:absolute;
  left:186px;
  top:29px;
  width:93px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1757 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u1758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u1758 {
  position:absolute;
  left:279px;
  top:29px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1759 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u1760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1760 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1761 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1762 {
  position:absolute;
  left:21px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1763 {
  position:absolute;
  left:114px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1764 {
  position:absolute;
  left:206px;
  top:611px;
  width:95px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1765 {
  position:absolute;
  left:300px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1766 {
  position:absolute;
  left:52px;
  top:611px;
  width:30px;
  height:30px;
}
#u1767 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1768 {
  position:absolute;
  left:239px;
  top:611px;
  width:32px;
  height:32px;
}
#u1769 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1770 {
  position:absolute;
  left:145px;
  top:611px;
  width:30px;
  height:30px;
}
#u1771 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1772 {
  position:absolute;
  left:331px;
  top:611px;
  width:30px;
  height:30px;
}
#u1773 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1774 {
  position:absolute;
  left:300px;
  top:25px;
  width:30px;
  height:30px;
}
#u1775 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1776 {
  position:absolute;
  left:343px;
  top:33px;
  width:30px;
  height:30px;
}
#u1777 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u1778 {
  position:absolute;
  left:165px;
  top:78px;
  width:38px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u1779 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  word-wrap:break-word;
}
#u1780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:31px;
}
#u1780 {
  position:absolute;
  left:72px;
  top:77px;
  width:69px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1781 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u1782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:31px;
}
#u1782 {
  position:absolute;
  left:213px;
  top:79px;
  width:69px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1783 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
