body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1106 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:640px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1108 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1109 {
  position:absolute;
  left:2px;
  top:9px;
  width:369px;
  word-wrap:break-word;
}
#u1110 {
  position:absolute;
  left:26px;
  top:283px;
  width:365px;
  height:248px;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:35px;
}
#u1111 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:35px;
  color:#999999;
}
#u1111_img.mouseDown {
}
#u1111.mouseDown {
}
#u1112 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:35px;
}
#u1113 {
  position:absolute;
  left:41px;
  top:0px;
  width:252px;
  height:35px;
  color:#999999;
  text-align:left;
}
#u1113_img.mouseDown {
}
#u1113.mouseDown {
}
#u1114 {
  position:absolute;
  left:2px;
  top:10px;
  width:248px;
  word-wrap:break-word;
}
#u1115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1115 {
  position:absolute;
  left:293px;
  top:0px;
  width:67px;
  height:35px;
  color:#999999;
}
#u1115_img.mouseDown {
}
#u1115.mouseDown {
}
#u1116 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:33px;
}
#u1117 {
  position:absolute;
  left:0px;
  top:35px;
  width:41px;
  height:33px;
  color:#999999;
}
#u1117_img.mouseDown {
}
#u1117.mouseDown {
}
#u1118 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:33px;
}
#u1119 {
  position:absolute;
  left:41px;
  top:35px;
  width:252px;
  height:33px;
  color:#999999;
  text-align:left;
}
#u1119_img.mouseDown {
}
#u1119.mouseDown {
}
#u1120 {
  position:absolute;
  left:2px;
  top:8px;
  width:248px;
  word-wrap:break-word;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
}
#u1121 {
  position:absolute;
  left:293px;
  top:35px;
  width:67px;
  height:33px;
  color:#999999;
}
#u1121_img.mouseDown {
}
#u1121.mouseDown {
}
#u1122 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:35px;
}
#u1123 {
  position:absolute;
  left:0px;
  top:68px;
  width:41px;
  height:35px;
  color:#999999;
}
#u1123_img.mouseDown {
}
#u1123.mouseDown {
}
#u1124 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:35px;
}
#u1125 {
  position:absolute;
  left:41px;
  top:68px;
  width:252px;
  height:35px;
  color:#999999;
  text-align:left;
}
#u1125_img.mouseDown {
}
#u1125.mouseDown {
}
#u1126 {
  position:absolute;
  left:2px;
  top:10px;
  width:248px;
  word-wrap:break-word;
}
#u1127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1127 {
  position:absolute;
  left:293px;
  top:68px;
  width:67px;
  height:35px;
  color:#999999;
}
#u1127_img.mouseDown {
}
#u1127.mouseDown {
}
#u1128 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:35px;
}
#u1129 {
  position:absolute;
  left:0px;
  top:103px;
  width:41px;
  height:35px;
  color:#999999;
}
#u1129_img.mouseDown {
}
#u1129.mouseDown {
}
#u1130 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:35px;
}
#u1131 {
  position:absolute;
  left:41px;
  top:103px;
  width:252px;
  height:35px;
  color:#999999;
  text-align:left;
}
#u1131_img.mouseDown {
}
#u1131.mouseDown {
}
#u1132 {
  position:absolute;
  left:2px;
  top:10px;
  width:248px;
  word-wrap:break-word;
}
#u1133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1133 {
  position:absolute;
  left:293px;
  top:103px;
  width:67px;
  height:35px;
  color:#999999;
}
#u1133_img.mouseDown {
}
#u1133.mouseDown {
}
#u1134 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:35px;
}
#u1135 {
  position:absolute;
  left:0px;
  top:138px;
  width:41px;
  height:35px;
  color:#999999;
}
#u1135_img.mouseDown {
}
#u1135.mouseDown {
}
#u1136 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:35px;
}
#u1137 {
  position:absolute;
  left:41px;
  top:138px;
  width:252px;
  height:35px;
  color:#999999;
  text-align:left;
}
#u1137_img.mouseDown {
}
#u1137.mouseDown {
}
#u1138 {
  position:absolute;
  left:2px;
  top:10px;
  width:248px;
  word-wrap:break-word;
}
#u1139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1139 {
  position:absolute;
  left:293px;
  top:138px;
  width:67px;
  height:35px;
  color:#999999;
}
#u1139_img.mouseDown {
}
#u1139.mouseDown {
}
#u1140 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:35px;
}
#u1141 {
  position:absolute;
  left:0px;
  top:173px;
  width:41px;
  height:35px;
  color:#999999;
}
#u1141_img.mouseDown {
}
#u1141.mouseDown {
}
#u1142 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:35px;
}
#u1143 {
  position:absolute;
  left:41px;
  top:173px;
  width:252px;
  height:35px;
  color:#999999;
  text-align:left;
}
#u1143_img.mouseDown {
}
#u1143.mouseDown {
}
#u1144 {
  position:absolute;
  left:2px;
  top:10px;
  width:248px;
  word-wrap:break-word;
}
#u1145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1145 {
  position:absolute;
  left:293px;
  top:173px;
  width:67px;
  height:35px;
  color:#999999;
}
#u1145_img.mouseDown {
}
#u1145.mouseDown {
}
#u1146 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:35px;
}
#u1147 {
  position:absolute;
  left:0px;
  top:208px;
  width:41px;
  height:35px;
  color:#999999;
}
#u1147_img.mouseDown {
}
#u1147.mouseDown {
}
#u1148 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:35px;
}
#u1149 {
  position:absolute;
  left:41px;
  top:208px;
  width:252px;
  height:35px;
  color:#999999;
  text-align:left;
}
#u1149_img.mouseDown {
}
#u1149.mouseDown {
}
#u1150 {
  position:absolute;
  left:2px;
  top:10px;
  width:248px;
  word-wrap:break-word;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1151 {
  position:absolute;
  left:293px;
  top:208px;
  width:67px;
  height:35px;
  color:#999999;
}
#u1151_img.mouseDown {
}
#u1151.mouseDown {
}
#u1152 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1153 {
  position:absolute;
  left:356px;
  top:30px;
  width:30px;
  height:30px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1155 {
  position:absolute;
  left:31px;
  top:80px;
  width:15px;
  height:15px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:21px;
}
#u1157 {
  position:absolute;
  left:53px;
  top:79px;
  width:300px;
  height:21px;
  font-size:12px;
  text-align:left;
}
#u1157_img.mouseOver {
}
#u1157.mouseOver {
}
#u1158 {
  position:absolute;
  left:2px;
  top:3px;
  width:296px;
  word-wrap:break-word;
}
#u1159 {
  position:absolute;
  left:33px;
  top:129px;
  width:336px;
  height:36px;
}
#u1160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
}
#u1160 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
  color:#0099FF;
}
#u1160_img.mouseOver {
}
#u1160.mouseOver {
}
#u1160_img.mouseDown {
}
#u1160.mouseDown {
}
#u1161 {
  position:absolute;
  left:2px;
  top:8px;
  width:162px;
  word-wrap:break-word;
}
#u1162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:31px;
}
#u1162 {
  position:absolute;
  left:166px;
  top:0px;
  width:165px;
  height:31px;
}
#u1162_img.mouseOver {
}
#u1162.mouseOver {
}
#u1162_img.mouseDown {
}
#u1162.mouseDown {
}
#u1163 {
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u1164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#D7D7D7;
  text-align:left;
}
#u1164 {
  position:absolute;
  left:27px;
  top:159px;
  width:359px;
  height:30px;
  font-size:11px;
  color:#D7D7D7;
  text-align:left;
}
#u1165 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u1166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1166 {
  position:absolute;
  left:19px;
  top:114px;
  width:374px;
  height:2px;
}
#u1167 {
  position:absolute;
  left:2px;
  top:-7px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1168 {
  position:absolute;
  left:362px;
  top:167px;
  width:15px;
  height:15px;
}
#u1169 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170 {
  position:absolute;
  left:26px;
  top:207px;
  width:365px;
  height:40px;
}
#u1171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:35px;
}
#u1171 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:35px;
  color:#999999;
}
#u1171_img.mouseDown {
}
#u1171.mouseDown {
}
#u1172 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:35px;
}
#u1173 {
  position:absolute;
  left:41px;
  top:0px;
  width:252px;
  height:35px;
  color:#999999;
  text-align:left;
}
#u1173_img.mouseOver {
}
#u1173.mouseOver {
}
#u1173_img.mouseDown {
}
#u1173.mouseDown {
}
#u1174 {
  position:absolute;
  left:2px;
  top:10px;
  width:248px;
  word-wrap:break-word;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1175 {
  position:absolute;
  left:293px;
  top:0px;
  width:67px;
  height:35px;
  color:#999999;
}
#u1175_img.mouseOver {
}
#u1175.mouseOver {
}
#u1175_img.mouseDown {
}
#u1175.mouseDown {
}
#u1176 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1177 {
  position:absolute;
  left:33px;
  top:210px;
  width:25px;
  height:25px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u1180 {
  position:absolute;
  left:66px;
  top:242px;
  width:185px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
  text-align:left;
}
#u1180_img.mouseOver {
}
#u1180.mouseOver {
}
#u1181 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u1182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1182 {
  position:absolute;
  left:333px;
  top:252px;
  width:20px;
  height:20px;
  color:#0099FF;
}
#u1183 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1184 {
  position:absolute;
  left:291px;
  top:252px;
  width:20px;
  height:20px;
  color:#0099FF;
}
#u1185 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1186 {
  position:absolute;
  left:38px;
  top:301px;
  width:18px;
  height:18px;
}
#u1187 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1188 {
  position:absolute;
  left:38px;
  top:338px;
  width:18px;
  height:18px;
}
#u1189 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1190 {
  position:absolute;
  left:38px;
  top:366px;
  width:18px;
  height:18px;
}
#u1191 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1192 {
  position:absolute;
  left:38px;
  top:404px;
  width:18px;
  height:18px;
}
#u1193 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1194 {
  position:absolute;
  left:38px;
  top:439px;
  width:18px;
  height:18px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1196 {
  position:absolute;
  left:38px;
  top:504px;
  width:18px;
  height:18px;
}
#u1197 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1198 {
  position:absolute;
  left:38px;
  top:476px;
  width:18px;
  height:18px;
}
#u1199 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:2px;
}
#u1200 {
  position:absolute;
  left:27px;
  top:159px;
  width:166px;
  height:1px;
}
#u1201 {
  position:absolute;
  left:2px;
  top:-8px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1202 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1203 {
  position:absolute;
  left:2px;
  top:-16px;
  width:21px;
  word-wrap:break-word;
}
#u1204 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1205 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1205_img.mouseDown {
}
#u1205.mouseDown {
}
#u1206 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1207 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1207_img.mouseDown {
}
#u1207.mouseDown {
}
#u1208 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1209 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1209_img.mouseDown {
}
#u1209.mouseDown {
}
#u1210 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1211 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1211_img.mouseDown {
}
#u1211.mouseDown {
}
#u1212 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1213 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1213_img.mouseDown {
}
#u1213.mouseDown {
}
#u1214 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1215 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1217 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1219 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1221 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1223 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1225 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1228 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1229 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1230 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1231 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
