body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2606 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u2607 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2608 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2609 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  word-wrap:break-word;
}
#u2610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u2610 {
  position:absolute;
  left:26px;
  top:86px;
  width:130px;
  height:25px;
}
#u2611 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u2612_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u2612 {
  position:absolute;
  left:35px;
  top:89px;
  width:4px;
  height:18px;
}
#u2613 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:106px;
}
#u2614 {
  position:absolute;
  left:39px;
  top:212px;
  width:337px;
  height:106px;
}
#u2615 {
  position:absolute;
  left:2px;
  top:45px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2616 {
  position:absolute;
  left:52px;
  top:125px;
  width:70px;
  height:70px;
  color:#00FF00;
}
#u2617 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u2618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2618 {
  position:absolute;
  left:170px;
  top:125px;
  width:70px;
  height:70px;
  color:#3EADE9;
}
#u2619 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u2620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2620 {
  position:absolute;
  left:291px;
  top:127px;
  width:70px;
  height:70px;
  color:#FF0000;
}
#u2621 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u2622_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:53px;
  height:25px;
}
#u2622 {
  position:absolute;
  left:250px;
  top:160px;
  width:41px;
  height:5px;
}
#u2623 {
  position:absolute;
  left:2px;
  top:-6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2624_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:53px;
  height:25px;
}
#u2624 {
  position:absolute;
  left:125px;
  top:158px;
  width:41px;
  height:5px;
}
#u2625 {
  position:absolute;
  left:2px;
  top:-6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2626 {
  position:absolute;
  left:48px;
  top:384px;
  width:70px;
  height:70px;
  color:#00FF00;
}
#u2627 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u2628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2628 {
  position:absolute;
  left:166px;
  top:384px;
  width:70px;
  height:70px;
  color:#3EADE9;
}
#u2629 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u2630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2630 {
  position:absolute;
  left:287px;
  top:386px;
  width:70px;
  height:70px;
  color:#FF0000;
}
#u2631 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u2632_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:53px;
  height:25px;
}
#u2632 {
  position:absolute;
  left:246px;
  top:419px;
  width:41px;
  height:5px;
}
#u2633 {
  position:absolute;
  left:2px;
  top:-6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2634_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:53px;
  height:25px;
}
#u2634 {
  position:absolute;
  left:121px;
  top:417px;
  width:41px;
  height:5px;
}
#u2635 {
  position:absolute;
  left:2px;
  top:-6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u2636 {
  position:absolute;
  left:26px;
  top:349px;
  width:130px;
  height:25px;
}
#u2637 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u2638_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u2638 {
  position:absolute;
  left:35px;
  top:352px;
  width:4px;
  height:18px;
}
#u2639 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:106px;
}
#u2640 {
  position:absolute;
  left:35px;
  top:480px;
  width:337px;
  height:106px;
}
#u2641 {
  position:absolute;
  left:2px;
  top:45px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u2642 {
  position:absolute;
  left:239px;
  top:81px;
  width:130px;
  height:25px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u2643 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u2644 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u2645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2645 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2645_img.mouseDown {
}
#u2645.mouseDown {
}
#u2646 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2647 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2647_img.mouseDown {
}
#u2647.mouseDown {
}
#u2648 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2649 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2649_img.mouseDown {
}
#u2649.mouseDown {
}
#u2650 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2651 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2651_img.mouseDown {
}
#u2651.mouseDown {
}
#u2652 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2653 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2653_img.mouseDown {
}
#u2653.mouseDown {
}
#u2654 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u2655 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u2656 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2657 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u2658 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2659 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u2660 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2661 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u2662 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2663 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u2664 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2665 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u2666 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2667 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2668 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2669 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2670 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2671 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2672 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2673 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
