body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2916 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u2917 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2918 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2919 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  word-wrap:break-word;
}
#u2920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u2920 {
  position:absolute;
  left:26px;
  top:86px;
  width:130px;
  height:25px;
}
#u2921 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u2922_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u2922 {
  position:absolute;
  left:35px;
  top:89px;
  width:4px;
  height:18px;
}
#u2923 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:106px;
}
#u2924 {
  position:absolute;
  left:39px;
  top:212px;
  width:337px;
  height:106px;
}
#u2925 {
  position:absolute;
  left:2px;
  top:45px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2926 {
  position:absolute;
  left:52px;
  top:125px;
  width:70px;
  height:70px;
  color:#00FF00;
}
#u2927 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u2928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2928 {
  position:absolute;
  left:170px;
  top:125px;
  width:70px;
  height:70px;
  color:#3EADE9;
}
#u2929 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u2930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2930 {
  position:absolute;
  left:291px;
  top:127px;
  width:70px;
  height:70px;
  color:#FF0000;
}
#u2931 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u2932_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:53px;
  height:25px;
}
#u2932 {
  position:absolute;
  left:250px;
  top:160px;
  width:41px;
  height:5px;
}
#u2933 {
  position:absolute;
  left:2px;
  top:-6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2934_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:53px;
  height:25px;
}
#u2934 {
  position:absolute;
  left:125px;
  top:158px;
  width:41px;
  height:5px;
}
#u2935 {
  position:absolute;
  left:2px;
  top:-6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2936 {
  position:absolute;
  left:48px;
  top:384px;
  width:70px;
  height:70px;
  color:#00FF00;
}
#u2937 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u2938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2938 {
  position:absolute;
  left:166px;
  top:384px;
  width:70px;
  height:70px;
  color:#3EADE9;
}
#u2939 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u2940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2940 {
  position:absolute;
  left:287px;
  top:386px;
  width:70px;
  height:70px;
  color:#FF0000;
}
#u2941 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u2942_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:53px;
  height:25px;
}
#u2942 {
  position:absolute;
  left:246px;
  top:419px;
  width:41px;
  height:5px;
}
#u2943 {
  position:absolute;
  left:2px;
  top:-6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:53px;
  height:25px;
}
#u2944 {
  position:absolute;
  left:121px;
  top:417px;
  width:41px;
  height:5px;
}
#u2945 {
  position:absolute;
  left:2px;
  top:-6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u2946 {
  position:absolute;
  left:26px;
  top:349px;
  width:130px;
  height:25px;
}
#u2947 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u2948_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u2948 {
  position:absolute;
  left:35px;
  top:352px;
  width:4px;
  height:18px;
}
#u2949 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:106px;
}
#u2950 {
  position:absolute;
  left:35px;
  top:480px;
  width:337px;
  height:106px;
}
#u2951 {
  position:absolute;
  left:2px;
  top:45px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u2952 {
  position:absolute;
  left:239px;
  top:81px;
  width:130px;
  height:25px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u2953 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u2954 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u2955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2955 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2955_img.mouseDown {
}
#u2955.mouseDown {
}
#u2956 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2957 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2957_img.mouseDown {
}
#u2957.mouseDown {
}
#u2958 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2959 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2959_img.mouseDown {
}
#u2959.mouseDown {
}
#u2960 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2961 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2961_img.mouseDown {
}
#u2961.mouseDown {
}
#u2962 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2963 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2963_img.mouseDown {
}
#u2963.mouseDown {
}
#u2964 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u2965 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u2966 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2967 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u2968 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2969 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u2970 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2971 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u2972 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2973 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u2974 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2975 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u2976 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2977 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2978 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2979 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2980 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2981 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2982 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2983 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
