body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2241 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u2242 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2243 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2244 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2245 {
  position:absolute;
  left:33px;
  top:35px;
  width:20px;
  height:20px;
}
#u2246 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247 {
  position:absolute;
  left:21px;
  top:611px;
  width:376px;
  height:54px;
}
#u2248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u2248 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
  color:#999999;
}
#u2249 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
}
#u2250 {
  position:absolute;
  left:94px;
  top:0px;
  width:92px;
  height:29px;
  color:#999999;
}
#u2251 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u2252 {
  position:absolute;
  left:186px;
  top:0px;
  width:93px;
  height:29px;
  color:#999999;
}
#u2253 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
}
#u2254 {
  position:absolute;
  left:279px;
  top:0px;
  width:92px;
  height:29px;
  color:#999999;
}
#u2255 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u2256 {
  position:absolute;
  left:0px;
  top:29px;
  width:94px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2257 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u2258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u2258 {
  position:absolute;
  left:94px;
  top:29px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2259 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u2260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u2260 {
  position:absolute;
  left:186px;
  top:29px;
  width:93px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2261 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u2262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u2262 {
  position:absolute;
  left:279px;
  top:29px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2263 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u2264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u2264 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u2265 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266 {
  position:absolute;
  left:21px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2267 {
  position:absolute;
  left:114px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2268 {
  position:absolute;
  left:206px;
  top:611px;
  width:95px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2269 {
  position:absolute;
  left:300px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2270 {
  position:absolute;
  left:52px;
  top:611px;
  width:30px;
  height:30px;
}
#u2271 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2272 {
  position:absolute;
  left:239px;
  top:611px;
  width:32px;
  height:32px;
}
#u2273 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2274 {
  position:absolute;
  left:145px;
  top:611px;
  width:30px;
  height:30px;
}
#u2275 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2276 {
  position:absolute;
  left:331px;
  top:611px;
  width:30px;
  height:30px;
}
#u2277 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:29px;
}
#u2278 {
  position:absolute;
  left:39px;
  top:73px;
  width:347px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u2279 {
  position:absolute;
  left:2px;
  top:7px;
  width:343px;
  word-wrap:break-word;
}
#u2280 {
  position:absolute;
  left:33px;
  top:112px;
  width:340px;
  height:187px;
}
#u2281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u2281 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  text-align:left;
}
#u2282 {
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u2283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u2283 {
  position:absolute;
  left:112px;
  top:0px;
  width:112px;
  height:32px;
}
#u2284 {
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u2285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
}
#u2285 {
  position:absolute;
  left:224px;
  top:0px;
  width:111px;
  height:32px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u2287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2287 {
  position:absolute;
  left:0px;
  top:32px;
  width:112px;
  height:30px;
  text-align:left;
}
#u2288 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2289 {
  position:absolute;
  left:112px;
  top:32px;
  width:112px;
  height:30px;
}
#u2290 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2291 {
  position:absolute;
  left:224px;
  top:32px;
  width:111px;
  height:30px;
}
#u2292 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2293 {
  position:absolute;
  left:0px;
  top:62px;
  width:112px;
  height:30px;
  text-align:left;
}
#u2294 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2295 {
  position:absolute;
  left:112px;
  top:62px;
  width:112px;
  height:30px;
}
#u2296 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2297 {
  position:absolute;
  left:224px;
  top:62px;
  width:111px;
  height:30px;
}
#u2298 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2299 {
  position:absolute;
  left:0px;
  top:92px;
  width:112px;
  height:30px;
  text-align:left;
}
#u2300 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2301 {
  position:absolute;
  left:112px;
  top:92px;
  width:112px;
  height:30px;
}
#u2302 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2303 {
  position:absolute;
  left:224px;
  top:92px;
  width:111px;
  height:30px;
}
#u2304 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2305 {
  position:absolute;
  left:0px;
  top:122px;
  width:112px;
  height:30px;
  text-align:left;
}
#u2306 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2307 {
  position:absolute;
  left:112px;
  top:122px;
  width:112px;
  height:30px;
}
#u2308 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2309 {
  position:absolute;
  left:224px;
  top:122px;
  width:111px;
  height:30px;
}
#u2310 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2311 {
  position:absolute;
  left:0px;
  top:152px;
  width:112px;
  height:30px;
  text-align:left;
}
#u2312 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2313 {
  position:absolute;
  left:112px;
  top:152px;
  width:112px;
  height:30px;
}
#u2314 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2315 {
  position:absolute;
  left:224px;
  top:152px;
  width:111px;
  height:30px;
}
#u2316 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2317 {
  position:absolute;
  left:33px;
  top:337px;
  width:358px;
  height:255px;
}
#u2318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u2318 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u2319 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u2320 {
  position:absolute;
  left:88px;
  top:0px;
  width:88px;
  height:32px;
}
#u2321 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u2322 {
  position:absolute;
  left:176px;
  top:0px;
  width:88px;
  height:32px;
}
#u2323 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
}
#u2324 {
  position:absolute;
  left:264px;
  top:0px;
  width:89px;
  height:32px;
}
#u2325 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u2326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u2326 {
  position:absolute;
  left:0px;
  top:32px;
  width:88px;
  height:34px;
  text-align:left;
}
#u2327 {
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  word-wrap:break-word;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u2328 {
  position:absolute;
  left:88px;
  top:32px;
  width:88px;
  height:34px;
}
#u2329 {
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  word-wrap:break-word;
}
#u2330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u2330 {
  position:absolute;
  left:176px;
  top:32px;
  width:88px;
  height:34px;
}
#u2331 {
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  word-wrap:break-word;
}
#u2332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u2332 {
  position:absolute;
  left:264px;
  top:32px;
  width:89px;
  height:34px;
}
#u2333 {
  position:absolute;
  left:2px;
  top:9px;
  width:85px;
  word-wrap:break-word;
}
#u2334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2334 {
  position:absolute;
  left:0px;
  top:66px;
  width:88px;
  height:30px;
  text-align:left;
}
#u2335 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2336 {
  position:absolute;
  left:88px;
  top:66px;
  width:88px;
  height:30px;
}
#u2337 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2338 {
  position:absolute;
  left:176px;
  top:66px;
  width:88px;
  height:30px;
}
#u2339 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u2340 {
  position:absolute;
  left:264px;
  top:66px;
  width:89px;
  height:30px;
}
#u2341 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u2342 {
  position:absolute;
  left:0px;
  top:96px;
  width:88px;
  height:34px;
  text-align:left;
}
#u2343 {
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  word-wrap:break-word;
}
#u2344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u2344 {
  position:absolute;
  left:88px;
  top:96px;
  width:88px;
  height:34px;
}
#u2345 {
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  word-wrap:break-word;
}
#u2346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u2346 {
  position:absolute;
  left:176px;
  top:96px;
  width:88px;
  height:34px;
}
#u2347 {
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u2348 {
  position:absolute;
  left:264px;
  top:96px;
  width:89px;
  height:34px;
}
#u2349 {
  position:absolute;
  left:2px;
  top:9px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2350 {
  position:absolute;
  left:0px;
  top:130px;
  width:88px;
  height:30px;
  text-align:left;
}
#u2351 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2352 {
  position:absolute;
  left:88px;
  top:130px;
  width:88px;
  height:30px;
}
#u2353 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2354 {
  position:absolute;
  left:176px;
  top:130px;
  width:88px;
  height:30px;
}
#u2355 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u2356 {
  position:absolute;
  left:264px;
  top:130px;
  width:89px;
  height:30px;
}
#u2357 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2358 {
  position:absolute;
  left:0px;
  top:160px;
  width:88px;
  height:30px;
  text-align:left;
}
#u2359 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2360 {
  position:absolute;
  left:88px;
  top:160px;
  width:88px;
  height:30px;
}
#u2361 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2362 {
  position:absolute;
  left:176px;
  top:160px;
  width:88px;
  height:30px;
}
#u2363 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u2364 {
  position:absolute;
  left:264px;
  top:160px;
  width:89px;
  height:30px;
}
#u2365 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2366 {
  position:absolute;
  left:0px;
  top:190px;
  width:88px;
  height:30px;
  text-align:left;
}
#u2367 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2368 {
  position:absolute;
  left:88px;
  top:190px;
  width:88px;
  height:30px;
}
#u2369 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2370 {
  position:absolute;
  left:176px;
  top:190px;
  width:88px;
  height:30px;
}
#u2371 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u2372 {
  position:absolute;
  left:264px;
  top:190px;
  width:89px;
  height:30px;
}
#u2373 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2374 {
  position:absolute;
  left:0px;
  top:220px;
  width:88px;
  height:30px;
  text-align:left;
}
#u2375 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2376 {
  position:absolute;
  left:88px;
  top:220px;
  width:88px;
  height:30px;
}
#u2377 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2378 {
  position:absolute;
  left:176px;
  top:220px;
  width:88px;
  height:30px;
}
#u2379 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u2380 {
  position:absolute;
  left:264px;
  top:220px;
  width:89px;
  height:30px;
}
#u2381 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:29px;
}
#u2382 {
  position:absolute;
  left:33px;
  top:304px;
  width:347px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u2383 {
  position:absolute;
  left:2px;
  top:7px;
  width:343px;
  word-wrap:break-word;
}
