body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-19px;
  width:378px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  position:absolute;
  left:20px;
  top:18px;
  width:375px;
  height:640px;
}
#u239 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u240 {
  position:absolute;
  left:19px;
  top:261px;
  width:371px;
  height:76px;
}
#u241 {
  position:absolute;
  left:2px;
  top:30px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:51px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u242 {
  position:absolute;
  left:21px;
  top:18px;
  width:373px;
  height:51px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u243 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
}
#u244 {
  position:absolute;
  left:21px;
  top:144px;
  width:68px;
  height:25px;
  font-size:12px;
}
#u245 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:24px;
  top:252px;
  width:367px;
  height:76px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:56px;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:56px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3EADE9;
}
#u248 {
  position:absolute;
  left:2px;
  top:30px;
  width:77px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:56px;
}
#u249 {
  position:absolute;
  left:81px;
  top:0px;
  width:200px;
  height:56px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u250 {
  position:absolute;
  left:2px;
  top:30px;
  width:196px;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:56px;
}
#u251 {
  position:absolute;
  left:281px;
  top:0px;
  width:81px;
  height:56px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#33FF00;
}
#u252 {
  position:absolute;
  left:2px;
  top:30px;
  width:77px;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u253 {
  position:absolute;
  left:0px;
  top:56px;
  width:81px;
  height:15px;
  font-size:10px;
  color:#999999;
}
#u254 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u255 {
  position:absolute;
  left:81px;
  top:56px;
  width:200px;
  height:15px;
  font-size:10px;
  color:#999999;
}
#u256 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u257 {
  position:absolute;
  left:281px;
  top:56px;
  width:81px;
  height:15px;
  font-size:10px;
  color:#999999;
}
#u258 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u259 {
  position:absolute;
  left:22px;
  top:148px;
  width:4px;
  height:18px;
}
#u260 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u261 {
  position:absolute;
  left:121px;
  top:282px;
  width:1px;
  height:35px;
}
#u262 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u263 {
  position:absolute;
  left:294px;
  top:282px;
  width:1px;
  height:35px;
}
#u264 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:24px;
  top:81px;
  width:363px;
  height:53px;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:48px;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:48px;
  font-size:12px;
}
#u267 {
  position:absolute;
  left:2px;
  top:31px;
  width:115px;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:48px;
}
#u268 {
  position:absolute;
  left:119px;
  top:0px;
  width:119px;
  height:48px;
  font-size:12px;
}
#u269 {
  position:absolute;
  left:2px;
  top:31px;
  width:115px;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u270 {
  position:absolute;
  left:238px;
  top:0px;
  width:120px;
  height:48px;
  font-size:12px;
}
#u271 {
  position:absolute;
  left:2px;
  top:31px;
  width:116px;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u272 {
  position:absolute;
  left:186px;
  top:79px;
  width:30px;
  height:30px;
}
#u273 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u274 {
  position:absolute;
  left:117px;
  top:163px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u275 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u276 {
  position:absolute;
  left:249px;
  top:163px;
  width:60px;
  height:60px;
  color:#FF9900;
}
#u277 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u278 {
  position:absolute;
  left:101px;
  top:235px;
  width:80px;
  height:15px;
  font-size:10px;
  color:#999999;
}
#u279 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u280 {
  position:absolute;
  left:216px;
  top:235px;
  width:127px;
  height:15px;
  font-size:10px;
  color:#999999;
}
#u281 {
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u282 {
  position:absolute;
  left:66px;
  top:77px;
  width:30px;
  height:30px;
}
#u283 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u284 {
  position:absolute;
  left:22px;
  top:139px;
  width:367px;
  height:1px;
}
#u285 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u286 {
  position:absolute;
  left:25px;
  top:338px;
  width:367px;
  height:1px;
}
#u287 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288 {
  position:absolute;
  left:229px;
  top:282px;
  width:71px;
  height:50px;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  font-size:8px;
  color:#999999;
}
#u290 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u291 {
  position:absolute;
  left:30px;
  top:0px;
  width:36px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3EADE9;
}
#u292 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u293 {
  position:absolute;
  left:0px;
  top:15px;
  width:30px;
  height:15px;
  font-size:8px;
  color:#999999;
}
#u294 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u295 {
  position:absolute;
  left:30px;
  top:15px;
  width:36px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u296 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u297 {
  position:absolute;
  left:0px;
  top:30px;
  width:30px;
  height:15px;
  font-size:8px;
  color:#999999;
}
#u298 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u299 {
  position:absolute;
  left:30px;
  top:30px;
  width:36px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#00FF00;
}
#u300 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u301 {
  position:absolute;
  left:307px;
  top:79px;
  width:30px;
  height:30px;
}
#u302 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u304_img.mouseDown {
}
#u304.mouseDown {
}
#u305 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u306 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u306_img.mouseDown {
}
#u306.mouseDown {
}
#u307 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u308 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u308_img.mouseDown {
}
#u308.mouseDown {
}
#u309 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u310 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u310_img.mouseDown {
}
#u310.mouseDown {
}
#u311 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u312 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u312_img.mouseDown {
}
#u312.mouseDown {
}
#u313 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u314 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u315 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u316 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u317 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u318 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u319 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u320 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u321 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u322 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u323 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u324 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u325 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u327 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u328 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u329 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u330 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u331 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u332 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
#u333 {
  position:absolute;
  left:27px;
  top:158px;
  width:359px;
  height:179px;
  overflow:hidden;
}
#u333_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:179px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u333_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u334 {
  position:absolute;
  left:26px;
  top:878px;
  width:371px;
  height:1px;
}
#u335 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:132px;
}
#u336 {
  position:absolute;
  left:231px;
  top:448px;
  width:163px;
  height:132px;
}
#u337 {
  position:absolute;
  left:2px;
  top:58px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
}
#u338 {
  position:absolute;
  left:28px;
  top:347px;
  width:68px;
  height:25px;
  font-size:12px;
}
#u339 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u340_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u340 {
  position:absolute;
  left:24px;
  top:347px;
  width:4px;
  height:18px;
}
#u341 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:184px;
}
#u342 {
  position:absolute;
  left:24px;
  top:375px;
  width:218px;
  height:184px;
}
#u343 {
  position:absolute;
  left:2px;
  top:84px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
