body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  position:absolute;
  left:20px;
  top:18px;
  width:375px;
  height:640px;
}
#u195 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  position:absolute;
  left:19px;
  top:261px;
  width:371px;
  height:76px;
}
#u197 {
  position:absolute;
  left:2px;
  top:30px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:51px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u198 {
  position:absolute;
  left:21px;
  top:18px;
  width:373px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u199 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
}
#u200 {
  position:absolute;
  left:21px;
  top:144px;
  width:68px;
  height:25px;
  font-size:12px;
}
#u201 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:24px;
  top:252px;
  width:367px;
  height:76px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:56px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3EADE9;
}
#u204 {
  position:absolute;
  left:2px;
  top:30px;
  width:77px;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:56px;
}
#u205 {
  position:absolute;
  left:81px;
  top:0px;
  width:200px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u206 {
  position:absolute;
  left:2px;
  top:30px;
  width:196px;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:56px;
}
#u207 {
  position:absolute;
  left:281px;
  top:0px;
  width:81px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#33FF00;
}
#u208 {
  position:absolute;
  left:2px;
  top:30px;
  width:77px;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u209 {
  position:absolute;
  left:0px;
  top:56px;
  width:81px;
  height:15px;
  font-size:10px;
  color:#999999;
}
#u210 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u211 {
  position:absolute;
  left:81px;
  top:56px;
  width:200px;
  height:15px;
  font-size:10px;
  color:#999999;
}
#u212 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u213 {
  position:absolute;
  left:281px;
  top:56px;
  width:81px;
  height:15px;
  font-size:10px;
  color:#999999;
}
#u214 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u215 {
  position:absolute;
  left:22px;
  top:148px;
  width:4px;
  height:18px;
}
#u216 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u217 {
  position:absolute;
  left:121px;
  top:282px;
  width:1px;
  height:35px;
}
#u218 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u219 {
  position:absolute;
  left:294px;
  top:282px;
  width:1px;
  height:35px;
}
#u220 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:24px;
  top:81px;
  width:363px;
  height:53px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:48px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:48px;
  font-size:12px;
}
#u223 {
  position:absolute;
  left:2px;
  top:31px;
  width:115px;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:48px;
}
#u224 {
  position:absolute;
  left:119px;
  top:0px;
  width:119px;
  height:48px;
  font-size:12px;
}
#u225 {
  position:absolute;
  left:2px;
  top:31px;
  width:115px;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u226 {
  position:absolute;
  left:238px;
  top:0px;
  width:120px;
  height:48px;
  font-size:12px;
}
#u227 {
  position:absolute;
  left:2px;
  top:31px;
  width:116px;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u228 {
  position:absolute;
  left:69px;
  top:81px;
  width:30px;
  height:30px;
}
#u229 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u230 {
  position:absolute;
  left:117px;
  top:163px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u231 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u232 {
  position:absolute;
  left:249px;
  top:163px;
  width:60px;
  height:60px;
  color:#FF9900;
}
#u233 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u234 {
  position:absolute;
  left:101px;
  top:235px;
  width:80px;
  height:15px;
  font-size:10px;
  color:#999999;
}
#u235 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u236 {
  position:absolute;
  left:216px;
  top:235px;
  width:127px;
  height:15px;
  font-size:10px;
  color:#999999;
}
#u237 {
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u238 {
  position:absolute;
  left:188px;
  top:81px;
  width:30px;
  height:30px;
}
#u239 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u240 {
  position:absolute;
  left:22px;
  top:139px;
  width:367px;
  height:1px;
}
#u241 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:25px;
  top:354px;
  width:357px;
  height:51px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:46px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:46px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u244 {
  position:absolute;
  left:2px;
  top:16px;
  width:348px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:25px;
  top:388px;
  width:351px;
  height:28px;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
#u247 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u248 {
  position:absolute;
  left:115px;
  top:0px;
  width:115px;
  height:23px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
#u249 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:23px;
}
#u250 {
  position:absolute;
  left:230px;
  top:0px;
  width:116px;
  height:23px;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u251 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u252 {
  position:absolute;
  left:25px;
  top:338px;
  width:367px;
  height:1px;
}
#u253 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:27px;
  top:411px;
  width:357px;
  height:51px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:46px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:46px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u256 {
  position:absolute;
  left:2px;
  top:10px;
  width:348px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:27px;
  top:451px;
  width:351px;
  height:28px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
#u259 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u260 {
  position:absolute;
  left:115px;
  top:0px;
  width:115px;
  height:23px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
#u261 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:23px;
}
#u262 {
  position:absolute;
  left:230px;
  top:0px;
  width:116px;
  height:23px;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u263 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:229px;
  top:282px;
  width:71px;
  height:50px;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  font-size:8px;
  color:#999999;
}
#u266 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u267 {
  position:absolute;
  left:30px;
  top:0px;
  width:36px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3EADE9;
}
#u268 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u269 {
  position:absolute;
  left:0px;
  top:15px;
  width:30px;
  height:15px;
  font-size:8px;
  color:#999999;
}
#u270 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u271 {
  position:absolute;
  left:30px;
  top:15px;
  width:36px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u272 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u273 {
  position:absolute;
  left:0px;
  top:30px;
  width:30px;
  height:15px;
  font-size:8px;
  color:#999999;
}
#u274 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u275 {
  position:absolute;
  left:30px;
  top:30px;
  width:36px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#00FF00;
}
#u276 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:27px;
  top:474px;
  width:357px;
  height:51px;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:46px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:46px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u279 {
  position:absolute;
  left:2px;
  top:10px;
  width:348px;
  word-wrap:break-word;
}
#u280 {
  position:absolute;
  left:27px;
  top:508px;
  width:351px;
  height:28px;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
#u282 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u283 {
  position:absolute;
  left:115px;
  top:0px;
  width:115px;
  height:23px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
#u284 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:23px;
}
#u285 {
  position:absolute;
  left:230px;
  top:0px;
  width:116px;
  height:23px;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u286 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u287 {
  position:absolute;
  left:25px;
  top:410px;
  width:367px;
  height:1px;
}
#u288 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u289 {
  position:absolute;
  left:24px;
  top:474px;
  width:367px;
  height:1px;
}
#u290 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u291 {
  position:absolute;
  left:23px;
  top:533px;
  width:367px;
  height:1px;
}
#u292 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u293 {
  position:absolute;
  left:307px;
  top:81px;
  width:30px;
  height:30px;
}
#u294 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u296 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u296_img.mouseDown {
}
#u296.mouseDown {
}
#u297 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u298 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u298_img.mouseDown {
}
#u298.mouseDown {
}
#u299 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u300 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u300_img.mouseDown {
}
#u300.mouseDown {
}
#u301 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u302 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u302_img.mouseDown {
}
#u302.mouseDown {
}
#u303 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u304 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u304_img.mouseDown {
}
#u304.mouseDown {
}
#u305 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u306 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u307 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u308 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u309 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u310 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u311 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u312 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u313 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u314 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u315 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u316 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u317 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u319 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u320 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u321 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u322 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
