body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5242 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u5243 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5244 {
  position:absolute;
  left:1px;
  top:28px;
  width:374px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5245 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  word-wrap:break-word;
}
#u5246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u5246 {
  position:absolute;
  left:15px;
  top:126px;
  width:126px;
  height:36px;
}
#u5247 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u5248 {
  position:absolute;
  left:335px;
  top:102px;
  width:26px;
  height:36px;
}
#u5249 {
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5250 {
  position:absolute;
  left:1px;
  top:28px;
  width:62px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u5251 {
  position:absolute;
  left:2px;
  top:3px;
  width:373px;
  height:20px;
}
#u5252 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u5253 {
  position:absolute;
  left:8px;
  top:28px;
  width:31px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5254 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u5255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u5255 {
  position:absolute;
  left:0px;
  top:316px;
  width:374px;
  height:1px;
}
#u5256 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5257 {
  position:absolute;
  left:15px;
  top:70px;
  width:349px;
  height:223px;
}
#u5258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u5258 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5259 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u5260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
}
#u5260 {
  position:absolute;
  left:96px;
  top:0px;
  width:248px;
  height:30px;
  font-size:12px;
  text-align:right;
}
#u5261 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  word-wrap:break-word;
}
#u5262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u5262 {
  position:absolute;
  left:0px;
  top:30px;
  width:96px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5263 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u5264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
}
#u5264 {
  position:absolute;
  left:96px;
  top:30px;
  width:248px;
  height:30px;
  font-size:12px;
  text-align:right;
}
#u5265 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  word-wrap:break-word;
}
#u5266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u5266 {
  position:absolute;
  left:0px;
  top:60px;
  width:96px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5267 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u5268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
}
#u5268 {
  position:absolute;
  left:96px;
  top:60px;
  width:248px;
  height:30px;
  font-size:12px;
  text-align:right;
}
#u5269 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  word-wrap:break-word;
}
#u5270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u5270 {
  position:absolute;
  left:0px;
  top:90px;
  width:96px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5271 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u5272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
}
#u5272 {
  position:absolute;
  left:96px;
  top:90px;
  width:248px;
  height:32px;
  font-size:12px;
  text-align:right;
}
#u5273 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  word-wrap:break-word;
}
#u5274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u5274 {
  position:absolute;
  left:0px;
  top:122px;
  width:96px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5275 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u5276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
}
#u5276 {
  position:absolute;
  left:96px;
  top:122px;
  width:248px;
  height:32px;
  font-size:12px;
  text-align:right;
}
#u5277 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  word-wrap:break-word;
}
#u5278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u5278 {
  position:absolute;
  left:0px;
  top:154px;
  width:96px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5279 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u5280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
}
#u5280 {
  position:absolute;
  left:96px;
  top:154px;
  width:248px;
  height:32px;
  font-size:12px;
  text-align:right;
}
#u5281 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u5282 {
  position:absolute;
  left:0px;
  top:186px;
  width:96px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5283 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u5284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
}
#u5284 {
  position:absolute;
  left:96px;
  top:186px;
  width:248px;
  height:32px;
  font-size:12px;
  text-align:right;
}
#u5285 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:87px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5286 {
  position:absolute;
  left:2px;
  top:320px;
  width:114px;
  height:87px;
}
#u5287 {
  position:absolute;
  left:2px;
  top:28px;
  width:110px;
  word-wrap:break-word;
}
#u5288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u5288 {
  position:absolute;
  left:0px;
  top:411px;
  width:374px;
  height:1px;
}
#u5289 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u5290 {
  position:absolute;
  left:330px;
  top:32px;
  width:28px;
  height:25px;
}
#u5291 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
