body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2631 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:640px;
}
#u2632 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2633 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2634 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  word-wrap:break-word;
}
#u2635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2635 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2636 {
  position:absolute;
  left:2px;
  top:-16px;
  width:21px;
  word-wrap:break-word;
}
#u2637 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u2638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2638 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2638_img.mouseDown {
}
#u2638.mouseDown {
}
#u2639 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2640 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2640_img.mouseDown {
}
#u2640.mouseDown {
}
#u2641 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2642 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2642_img.mouseDown {
}
#u2642.mouseDown {
}
#u2643 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2644 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2644_img.mouseDown {
}
#u2644.mouseDown {
}
#u2645 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2646 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2646_img.mouseDown {
}
#u2646.mouseDown {
}
#u2647 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u2648 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u2649 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2650 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u2651 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2652 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u2653 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2654 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u2655 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2656 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u2657 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2658 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u2659 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2660 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2661 {
  position:absolute;
  left:23px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2662 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2663 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2664 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2665 {
  position:absolute;
  left:30px;
  top:73px;
  width:347px;
  height:25px;
}
#u2666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u2666 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
  color:#3EADE9;
}
#u2667 {
  position:absolute;
  left:2px;
  top:2px;
  width:167px;
  word-wrap:break-word;
}
#u2668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u2668 {
  position:absolute;
  left:171px;
  top:0px;
  width:171px;
  height:20px;
}
#u2669 {
  position:absolute;
  left:2px;
  top:2px;
  width:167px;
  word-wrap:break-word;
}
#u2670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u2670 {
  position:absolute;
  left:21px;
  top:94px;
  width:369px;
  height:1px;
}
#u2671 {
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2672 {
  position:absolute;
  left:44px;
  top:105px;
  width:345px;
  height:271px;
}
#u2673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u2673 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  font-size:10px;
}
#u2674 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u2675 {
  position:absolute;
  left:75px;
  top:0px;
  width:75px;
  height:26px;
  font-size:10px;
}
#u2676 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:26px;
}
#u2677 {
  position:absolute;
  left:150px;
  top:0px;
  width:103px;
  height:26px;
  font-size:10px;
}
#u2678 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u2679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
}
#u2679 {
  position:absolute;
  left:253px;
  top:0px;
  width:87px;
  height:26px;
  font-size:10px;
}
#u2680 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u2681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2681 {
  position:absolute;
  left:0px;
  top:26px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2682 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2683 {
  position:absolute;
  left:75px;
  top:26px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2684 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2685 {
  position:absolute;
  left:150px;
  top:26px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2686 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2687 {
  position:absolute;
  left:253px;
  top:26px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2688 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2689 {
  position:absolute;
  left:0px;
  top:56px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2690 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2691 {
  position:absolute;
  left:75px;
  top:56px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2692 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2693 {
  position:absolute;
  left:150px;
  top:56px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2694 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2695 {
  position:absolute;
  left:253px;
  top:56px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2696 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2697 {
  position:absolute;
  left:0px;
  top:86px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2698 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2699 {
  position:absolute;
  left:75px;
  top:86px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2700 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2701 {
  position:absolute;
  left:150px;
  top:86px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2702 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2703 {
  position:absolute;
  left:253px;
  top:86px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2704 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2705 {
  position:absolute;
  left:0px;
  top:116px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2706 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2707 {
  position:absolute;
  left:75px;
  top:116px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2708 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2709 {
  position:absolute;
  left:150px;
  top:116px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2710 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2711 {
  position:absolute;
  left:253px;
  top:116px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2712 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2713 {
  position:absolute;
  left:0px;
  top:146px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2714 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2715 {
  position:absolute;
  left:75px;
  top:146px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2716 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2717 {
  position:absolute;
  left:150px;
  top:146px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2718 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2719 {
  position:absolute;
  left:253px;
  top:146px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2720 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2721 {
  position:absolute;
  left:0px;
  top:176px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2722 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2723 {
  position:absolute;
  left:75px;
  top:176px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2724 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2725 {
  position:absolute;
  left:150px;
  top:176px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2726 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2727 {
  position:absolute;
  left:253px;
  top:176px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2728 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2729 {
  position:absolute;
  left:0px;
  top:206px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2730 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2731 {
  position:absolute;
  left:75px;
  top:206px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2732 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2733 {
  position:absolute;
  left:150px;
  top:206px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2734 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2735 {
  position:absolute;
  left:253px;
  top:206px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2736 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2737 {
  position:absolute;
  left:0px;
  top:236px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2738 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2739 {
  position:absolute;
  left:75px;
  top:236px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2740 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2741 {
  position:absolute;
  left:150px;
  top:236px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2742 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2743 {
  position:absolute;
  left:253px;
  top:236px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2744 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2745 {
  position:absolute;
  left:336px;
  top:33px;
  width:30px;
  height:30px;
}
#u2746 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2747 {
  position:absolute;
  left:44px;
  top:142px;
  width:10px;
  height:10px;
}
#u2748 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2749 {
  position:absolute;
  left:44px;
  top:179px;
  width:10px;
  height:10px;
}
#u2750 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2751 {
  position:absolute;
  left:44px;
  top:212px;
  width:10px;
  height:10px;
}
#u2752 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2753 {
  position:absolute;
  left:44px;
  top:248px;
  width:10px;
  height:10px;
}
#u2754 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2755 {
  position:absolute;
  left:44px;
  top:284px;
  width:10px;
  height:10px;
}
#u2756 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2757 {
  position:absolute;
  left:44px;
  top:318px;
  width:10px;
  height:10px;
}
#u2758 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2759 {
  position:absolute;
  left:49px;
  top:294px;
  width:0px;
  height:0px;
}
#u2759_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u2760 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2761 {
  position:absolute;
  left:49px;
  top:222px;
  width:0px;
  height:0px;
}
#u2761_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u2762 {
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2763 {
  position:absolute;
  left:49px;
  top:258px;
  width:0px;
  height:0px;
}
#u2763_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u2764 {
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2765 {
  position:absolute;
  left:49px;
  top:152px;
  width:0px;
  height:0px;
}
#u2765_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u2766 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2767 {
  position:absolute;
  left:49px;
  top:189px;
  width:0px;
  height:0px;
}
#u2767_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u2768 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2769 {
  position:absolute;
  left:44px;
  top:355px;
  width:10px;
  height:10px;
}
#u2770 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2771 {
  position:absolute;
  left:49px;
  top:328px;
  width:0px;
  height:0px;
}
#u2771_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u2772 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
