body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2689 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:640px;
}
#u2690 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2691 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2692 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  word-wrap:break-word;
}
#u2693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2693 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2694 {
  position:absolute;
  left:2px;
  top:-16px;
  width:21px;
  word-wrap:break-word;
}
#u2695 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u2696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2696 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2696_img.mouseDown {
}
#u2696.mouseDown {
}
#u2697 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2698 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2698_img.mouseDown {
}
#u2698.mouseDown {
}
#u2699 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2700 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2700_img.mouseDown {
}
#u2700.mouseDown {
}
#u2701 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2702 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2702_img.mouseDown {
}
#u2702.mouseDown {
}
#u2703 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2704 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2704_img.mouseDown {
}
#u2704.mouseDown {
}
#u2705 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u2706 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u2707 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2708 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u2709 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2710 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u2711 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2712 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u2713 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2714 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u2715 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2716 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u2717 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2718 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2719 {
  position:absolute;
  left:23px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2720 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2721 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2722 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2723 {
  position:absolute;
  left:30px;
  top:73px;
  width:347px;
  height:25px;
}
#u2724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u2724 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
  color:#3EADE9;
}
#u2725 {
  position:absolute;
  left:2px;
  top:2px;
  width:167px;
  word-wrap:break-word;
}
#u2726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u2726 {
  position:absolute;
  left:171px;
  top:0px;
  width:171px;
  height:20px;
}
#u2727 {
  position:absolute;
  left:2px;
  top:2px;
  width:167px;
  word-wrap:break-word;
}
#u2728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u2728 {
  position:absolute;
  left:21px;
  top:94px;
  width:369px;
  height:1px;
}
#u2729 {
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2730 {
  position:absolute;
  left:44px;
  top:105px;
  width:345px;
  height:271px;
}
#u2731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u2731 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  font-size:10px;
}
#u2732 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u2733 {
  position:absolute;
  left:75px;
  top:0px;
  width:75px;
  height:26px;
  font-size:10px;
}
#u2734 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:26px;
}
#u2735 {
  position:absolute;
  left:150px;
  top:0px;
  width:103px;
  height:26px;
  font-size:10px;
}
#u2736 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u2737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
}
#u2737 {
  position:absolute;
  left:253px;
  top:0px;
  width:87px;
  height:26px;
  font-size:10px;
}
#u2738 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u2739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2739 {
  position:absolute;
  left:0px;
  top:26px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2740 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2741 {
  position:absolute;
  left:75px;
  top:26px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2742 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2743 {
  position:absolute;
  left:150px;
  top:26px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2744 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2745 {
  position:absolute;
  left:253px;
  top:26px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2746 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2747 {
  position:absolute;
  left:0px;
  top:56px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2748 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2749 {
  position:absolute;
  left:75px;
  top:56px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2750 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2751 {
  position:absolute;
  left:150px;
  top:56px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2752 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2753 {
  position:absolute;
  left:253px;
  top:56px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2754 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2755 {
  position:absolute;
  left:0px;
  top:86px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2756 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2757 {
  position:absolute;
  left:75px;
  top:86px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2758 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2759 {
  position:absolute;
  left:150px;
  top:86px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2760 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2761 {
  position:absolute;
  left:253px;
  top:86px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2762 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2763 {
  position:absolute;
  left:0px;
  top:116px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2764 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2765 {
  position:absolute;
  left:75px;
  top:116px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2766 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2767 {
  position:absolute;
  left:150px;
  top:116px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2768 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2769 {
  position:absolute;
  left:253px;
  top:116px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2770 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2771 {
  position:absolute;
  left:0px;
  top:146px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2772 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2773 {
  position:absolute;
  left:75px;
  top:146px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2774 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2775 {
  position:absolute;
  left:150px;
  top:146px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2776 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2777 {
  position:absolute;
  left:253px;
  top:146px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2778 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2779 {
  position:absolute;
  left:0px;
  top:176px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2780 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2781 {
  position:absolute;
  left:75px;
  top:176px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2782 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2783 {
  position:absolute;
  left:150px;
  top:176px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2784 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2785 {
  position:absolute;
  left:253px;
  top:176px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2786 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2787 {
  position:absolute;
  left:0px;
  top:206px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2788 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2789 {
  position:absolute;
  left:75px;
  top:206px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2790 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2791 {
  position:absolute;
  left:150px;
  top:206px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2792 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2793 {
  position:absolute;
  left:253px;
  top:206px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2794 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2795 {
  position:absolute;
  left:0px;
  top:236px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2796 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2797 {
  position:absolute;
  left:75px;
  top:236px;
  width:75px;
  height:30px;
  font-size:10px;
}
#u2798 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2799 {
  position:absolute;
  left:150px;
  top:236px;
  width:103px;
  height:30px;
  font-size:10px;
}
#u2800 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2801 {
  position:absolute;
  left:253px;
  top:236px;
  width:87px;
  height:30px;
  font-size:10px;
}
#u2802 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2803 {
  position:absolute;
  left:336px;
  top:33px;
  width:30px;
  height:30px;
}
#u2804 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2805 {
  position:absolute;
  left:44px;
  top:142px;
  width:10px;
  height:10px;
}
#u2806 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2807 {
  position:absolute;
  left:44px;
  top:179px;
  width:10px;
  height:10px;
}
#u2808 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2809 {
  position:absolute;
  left:44px;
  top:212px;
  width:10px;
  height:10px;
}
#u2810 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2811 {
  position:absolute;
  left:44px;
  top:248px;
  width:10px;
  height:10px;
}
#u2812 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2813 {
  position:absolute;
  left:44px;
  top:284px;
  width:10px;
  height:10px;
}
#u2814 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2815 {
  position:absolute;
  left:44px;
  top:318px;
  width:10px;
  height:10px;
}
#u2816 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2817 {
  position:absolute;
  left:49px;
  top:294px;
  width:0px;
  height:0px;
}
#u2817_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u2818 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2819 {
  position:absolute;
  left:49px;
  top:222px;
  width:0px;
  height:0px;
}
#u2819_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u2820 {
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2821 {
  position:absolute;
  left:49px;
  top:258px;
  width:0px;
  height:0px;
}
#u2821_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u2822 {
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2823 {
  position:absolute;
  left:49px;
  top:152px;
  width:0px;
  height:0px;
}
#u2823_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u2824 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2825 {
  position:absolute;
  left:49px;
  top:189px;
  width:0px;
  height:0px;
}
#u2825_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u2826 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2827 {
  position:absolute;
  left:44px;
  top:355px;
  width:10px;
  height:10px;
}
#u2828 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2829 {
  position:absolute;
  left:49px;
  top:328px;
  width:0px;
  height:0px;
}
#u2829_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u2830 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
