body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3804 {
  position:absolute;
  left:20px;
  top:18px;
  width:375px;
  height:640px;
}
#u3805 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:51px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3806 {
  position:absolute;
  left:21px;
  top:18px;
  width:373px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3807 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  word-wrap:break-word;
}
#u3808 {
  position:absolute;
  left:30px;
  top:111px;
  width:354px;
  height:46px;
}
#u3809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u3809 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-size:10px;
  color:#0099FF;
}
#u3809_img.mouseDown {
}
#u3809.mouseDown {
}
#u3810 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u3811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u3811 {
  position:absolute;
  left:80px;
  top:0px;
  width:70px;
  height:20px;
  font-size:10px;
  color:#1E1E1E;
}
#u3811_img.mouseDown {
}
#u3811.mouseDown {
}
#u3812 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u3813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u3813 {
  position:absolute;
  left:150px;
  top:0px;
  width:112px;
  height:20px;
  font-size:10px;
  color:#000000;
}
#u3813_img.mouseDown {
}
#u3813.mouseDown {
}
#u3814 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u3815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u3815 {
  position:absolute;
  left:262px;
  top:0px;
  width:87px;
  height:20px;
  font-size:10px;
  color:#000000;
}
#u3815_img.mouseDown {
}
#u3815.mouseDown {
}
#u3816 {
  position:absolute;
  left:2px;
  top:2px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u3817 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:21px;
  font-size:10px;
  color:#0099FF;
}
#u3817_img.mouseDown {
}
#u3817.mouseDown {
}
#u3818 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u3819 {
  position:absolute;
  left:80px;
  top:20px;
  width:70px;
  height:21px;
  font-size:10px;
  color:#1E1E1E;
}
#u3819_img.mouseDown {
}
#u3819.mouseDown {
}
#u3820 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u3821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u3821 {
  position:absolute;
  left:150px;
  top:20px;
  width:112px;
  height:21px;
  font-size:10px;
  color:#000000;
}
#u3821_img.mouseDown {
}
#u3821.mouseDown {
}
#u3822 {
  position:absolute;
  left:2px;
  top:5px;
  width:108px;
  word-wrap:break-word;
}
#u3823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u3823 {
  position:absolute;
  left:262px;
  top:20px;
  width:87px;
  height:21px;
  font-size:10px;
  color:#000000;
}
#u3823_img.mouseDown {
}
#u3823.mouseDown {
}
#u3824 {
  position:absolute;
  left:2px;
  top:2px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3825 {
  position:absolute;
  left:53px;
  top:126px;
  width:10px;
  height:10px;
}
#u3826 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3827 {
  position:absolute;
  left:63px;
  top:131px;
  width:0px;
  height:0px;
}
#u3827_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u3828 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3829 {
  position:absolute;
  left:123px;
  top:126px;
  width:10px;
  height:10px;
}
#u3830 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3831 {
  position:absolute;
  left:208px;
  top:126px;
  width:10px;
  height:10px;
}
#u3832 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3833 {
  position:absolute;
  left:133px;
  top:131px;
  width:0px;
  height:0px;
}
#u3833_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u3834 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3835 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u3836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3836 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3836_img.mouseDown {
}
#u3836.mouseDown {
}
#u3837 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3838 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3838_img.mouseDown {
}
#u3838.mouseDown {
}
#u3839 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3840 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3840_img.mouseDown {
}
#u3840.mouseDown {
}
#u3841 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3842 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3842_img.mouseDown {
}
#u3842.mouseDown {
}
#u3843 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3844 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3844_img.mouseDown {
}
#u3844.mouseDown {
}
#u3845 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u3846 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u3847 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3848 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u3849 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3850 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u3851 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3852 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u3853 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3854 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u3855 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3856 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u3857 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3858 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3859 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3860 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3861 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3862 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3863 {
  position:absolute;
  left:336px;
  top:33px;
  width:30px;
  height:30px;
}
#u3864 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3865 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u3866 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
#u3867 {
  position:absolute;
  left:23px;
  top:69px;
  width:370px;
  height:40px;
}
#u3868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
}
#u3868 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3869 {
  position:absolute;
  left:2px;
  top:18px;
  width:87px;
  word-wrap:break-word;
}
#u3870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
}
#u3870 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3871 {
  position:absolute;
  left:2px;
  top:18px;
  width:87px;
  word-wrap:break-word;
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
}
#u3872 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3873 {
  position:absolute;
  left:2px;
  top:18px;
  width:87px;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
}
#u3874 {
  position:absolute;
  left:273px;
  top:0px;
  width:92px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#3EADE9;
}
#u3875 {
  position:absolute;
  left:2px;
  top:18px;
  width:88px;
  word-wrap:break-word;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u3876 {
  position:absolute;
  left:21px;
  top:108px;
  width:367px;
  height:1px;
}
#u3877 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3878 {
  position:absolute;
  left:30px;
  top:155px;
  width:354px;
  height:444px;
}
#u3879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3879 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3880 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u3881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
}
#u3881 {
  position:absolute;
  left:83px;
  top:0px;
  width:266px;
  height:30px;
  font-size:10px;
  color:#3EADE9;
  text-align:right;
}
#u3882 {
  position:absolute;
  left:2px;
  top:10px;
  width:262px;
  word-wrap:break-word;
}
#u3883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3883 {
  position:absolute;
  left:0px;
  top:30px;
  width:83px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3884 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u3885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
}
#u3885 {
  position:absolute;
  left:83px;
  top:30px;
  width:266px;
  height:30px;
  font-size:10px;
  color:#3EADE9;
  text-align:right;
}
#u3886 {
  position:absolute;
  left:2px;
  top:4px;
  width:262px;
  word-wrap:break-word;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3887 {
  position:absolute;
  left:0px;
  top:60px;
  width:83px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3888 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
}
#u3889 {
  position:absolute;
  left:83px;
  top:60px;
  width:266px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u3890 {
  position:absolute;
  left:2px;
  top:7px;
  width:262px;
  word-wrap:break-word;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3891 {
  position:absolute;
  left:0px;
  top:90px;
  width:83px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3892 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
}
#u3893 {
  position:absolute;
  left:83px;
  top:90px;
  width:266px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u3894 {
  position:absolute;
  left:2px;
  top:7px;
  width:262px;
  word-wrap:break-word;
}
#u3895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:31px;
}
#u3895 {
  position:absolute;
  left:0px;
  top:120px;
  width:83px;
  height:31px;
  font-size:11px;
  text-align:left;
}
#u3896 {
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u3897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:31px;
}
#u3897 {
  position:absolute;
  left:83px;
  top:120px;
  width:266px;
  height:31px;
  color:#FF0000;
  text-align:right;
}
#u3898 {
  position:absolute;
  left:2px;
  top:8px;
  width:262px;
  word-wrap:break-word;
}
#u3899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3899 {
  position:absolute;
  left:0px;
  top:151px;
  width:83px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3900 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u3901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
}
#u3901 {
  position:absolute;
  left:83px;
  top:151px;
  width:266px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u3902 {
  position:absolute;
  left:2px;
  top:7px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3903 {
  position:absolute;
  left:0px;
  top:181px;
  width:83px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3904 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u3905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
}
#u3905 {
  position:absolute;
  left:83px;
  top:181px;
  width:266px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u3906 {
  position:absolute;
  left:2px;
  top:7px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:31px;
}
#u3907 {
  position:absolute;
  left:0px;
  top:211px;
  width:83px;
  height:31px;
  font-size:11px;
  text-align:left;
}
#u3908 {
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u3909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:31px;
}
#u3909 {
  position:absolute;
  left:83px;
  top:211px;
  width:266px;
  height:31px;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u3910 {
  position:absolute;
  left:2px;
  top:9px;
  width:262px;
  word-wrap:break-word;
}
#u3911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3911 {
  position:absolute;
  left:0px;
  top:242px;
  width:83px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3912 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u3913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
}
#u3913 {
  position:absolute;
  left:83px;
  top:242px;
  width:266px;
  height:30px;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u3914 {
  position:absolute;
  left:2px;
  top:8px;
  width:262px;
  word-wrap:break-word;
}
#u3915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3915 {
  position:absolute;
  left:0px;
  top:272px;
  width:83px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3916 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u3917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
}
#u3917 {
  position:absolute;
  left:83px;
  top:272px;
  width:266px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u3918 {
  position:absolute;
  left:2px;
  top:7px;
  width:262px;
  word-wrap:break-word;
}
#u3919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3919 {
  position:absolute;
  left:0px;
  top:302px;
  width:83px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3920 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u3921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
}
#u3921 {
  position:absolute;
  left:83px;
  top:302px;
  width:266px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u3922 {
  position:absolute;
  left:2px;
  top:7px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3923 {
  position:absolute;
  left:0px;
  top:332px;
  width:83px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3924 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u3925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
}
#u3925 {
  position:absolute;
  left:83px;
  top:332px;
  width:266px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u3926 {
  position:absolute;
  left:2px;
  top:7px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:77px;
}
#u3927 {
  position:absolute;
  left:0px;
  top:362px;
  width:83px;
  height:77px;
  font-size:11px;
  text-align:left;
}
#u3928 {
  position:absolute;
  left:2px;
  top:32px;
  width:79px;
  word-wrap:break-word;
}
#u3929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:77px;
}
#u3929 {
  position:absolute;
  left:83px;
  top:362px;
  width:266px;
  height:77px;
  font-size:11px;
  text-align:right;
}
#u3930 {
  position:absolute;
  left:2px;
  top:30px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
