body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5330 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u5331 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u5332 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u5333 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u5334 {
  position:absolute;
  left:220px;
  top:48px;
  width:80px;
  height:21px;
  font-size:16px;
  color:#999999;
}
#u5335 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u5336 {
  position:absolute;
  left:21px;
  top:46px;
  width:372px;
  height:34px;
}
#u5337 {
  position:absolute;
  left:2px;
  top:9px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5338 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u5339 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u5340 {
  position:absolute;
  left:21px;
  top:84px;
  width:373px;
  height:1px;
}
#u5341 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:23px;
}
#u5342 {
  position:absolute;
  left:156px;
  top:51px;
  width:102px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u5343 {
  position:absolute;
  left:2px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u5344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u5344 {
  position:absolute;
  left:34px;
  top:185px;
  width:360px;
  height:1px;
}
#u5345 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u5346 {
  position:absolute;
  left:34px;
  top:245px;
  width:362px;
  height:1px;
}
#u5347 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u5348 {
  position:absolute;
  left:34px;
  top:305px;
  width:360px;
  height:1px;
}
#u5349 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5350 {
  position:absolute;
  left:34px;
  top:125px;
  width:359px;
  height:60px;
}
#u5350_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u5351 {
  position:absolute;
  left:34px;
  top:124px;
  width:360px;
  height:1px;
}
#u5352 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5353 {
  position:absolute;
  left:34px;
  top:186px;
  width:360px;
  height:59px;
}
#u5353_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:59px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5354 {
  position:absolute;
  left:34px;
  top:245px;
  width:359px;
  height:60px;
}
#u5354_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u5355 {
  position:absolute;
  left:34px;
  top:245px;
  width:360px;
  height:1px;
}
#u5356 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:15px;
}
#u5357 {
  position:absolute;
  left:34px;
  top:315px;
  width:135px;
  height:15px;
  font-size:12px;
  color:#FF9500;
}
#u5358 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u5359 {
  position:absolute;
  left:27px;
  top:46px;
  width:76px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u5360 {
  position:absolute;
  left:304px;
  top:49px;
  width:80px;
  height:23px;
  font-size:14px;
  color:#EB9D14;
  text-align:right;
}
#u5361 {
  position:absolute;
  left:2px;
  top:3px;
  width:76px;
  word-wrap:break-word;
}
