body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3119 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u3120 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3121 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u3122 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3123-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3123-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3123-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3123 {
  position:absolute;
  left:140px;
  top:223px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3124 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u3125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3125 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3125_img.mouseDown {
}
#u3125.mouseDown {
}
#u3126 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3127 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3127_img.mouseDown {
}
#u3127.mouseDown {
}
#u3128 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3129 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3129_img.mouseDown {
}
#u3129.mouseDown {
}
#u3130 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3131 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3131_img.mouseDown {
}
#u3131.mouseDown {
}
#u3132 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3133 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3133_img.mouseDown {
}
#u3133.mouseDown {
}
#u3134 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u3135 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u3136 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3137 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u3138 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3139 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u3140 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3141 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u3142 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3143 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u3144 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3145 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u3146 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3147 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3148 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3149 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3150 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3151 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3152 {
  position:absolute;
  left:30px;
  top:251px;
  width:354px;
  height:211px;
}
#u3153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u3153 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  font-size:11px;
  text-align:left;
}
#u3154 {
  position:absolute;
  left:2px;
  top:9px;
  width:101px;
  word-wrap:break-word;
}
#u3155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:31px;
}
#u3155 {
  position:absolute;
  left:105px;
  top:0px;
  width:244px;
  height:31px;
  font-size:11px;
  color:#666666;
}
#u3156 {
  position:absolute;
  left:2px;
  top:8px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u3157 {
  position:absolute;
  left:0px;
  top:31px;
  width:105px;
  height:31px;
  font-size:11px;
  text-align:left;
}
#u3158 {
  position:absolute;
  left:2px;
  top:9px;
  width:101px;
  word-wrap:break-word;
}
#u3159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:31px;
}
#u3159 {
  position:absolute;
  left:105px;
  top:31px;
  width:244px;
  height:31px;
  font-size:11px;
  color:#666666;
}
#u3160 {
  position:absolute;
  left:2px;
  top:8px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u3161 {
  position:absolute;
  left:0px;
  top:62px;
  width:105px;
  height:36px;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u3162 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u3163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u3163 {
  position:absolute;
  left:105px;
  top:62px;
  width:244px;
  height:36px;
  font-size:11px;
  color:#666666;
}
#u3164 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u3165 {
  position:absolute;
  left:0px;
  top:98px;
  width:105px;
  height:36px;
  font-size:11px;
  text-align:left;
}
#u3166 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u3167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u3167 {
  position:absolute;
  left:105px;
  top:98px;
  width:244px;
  height:36px;
  font-size:11px;
  color:#666666;
}
#u3168 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u3169 {
  position:absolute;
  left:0px;
  top:134px;
  width:105px;
  height:36px;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u3170 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u3171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u3171 {
  position:absolute;
  left:105px;
  top:134px;
  width:244px;
  height:36px;
  font-size:11px;
  color:#000000;
}
#u3172 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u3173 {
  position:absolute;
  left:0px;
  top:170px;
  width:105px;
  height:36px;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u3174 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u3175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u3175 {
  position:absolute;
  left:105px;
  top:170px;
  width:244px;
  height:36px;
  font-size:11px;
  color:#000000;
}
#u3176 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:2px;
}
#u3177 {
  position:absolute;
  left:197px;
  top:240px;
  width:167px;
  height:1px;
}
#u3178 {
  position:absolute;
  left:2px;
  top:-8px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#D7D7D7;
  text-align:left;
}
#u3179 {
  position:absolute;
  left:28px;
  top:80px;
  width:359px;
  height:30px;
  font-size:11px;
  color:#D7D7D7;
  text-align:left;
}
#u3180 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u3181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3181 {
  position:absolute;
  left:361px;
  top:84px;
  width:18px;
  height:18px;
}
#u3182 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3183 {
  position:absolute;
  left:20px;
  top:20px;
  width:373px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u3184 {
  position:absolute;
  left:2px;
  top:10px;
  width:369px;
  word-wrap:break-word;
}
#u3185 {
  position:absolute;
  left:30px;
  top:210px;
  width:345px;
  height:35px;
}
#u3186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u3186 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  color:#3EADE9;
}
#u3187 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u3188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u3188 {
  position:absolute;
  left:170px;
  top:0px;
  width:170px;
  height:30px;
  color:#000000;
}
#u3189 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u3190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3190 {
  position:absolute;
  left:354px;
  top:30px;
  width:30px;
  height:30px;
}
#u3191 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3192 {
  position:absolute;
  left:77px;
  top:114px;
  width:70px;
  height:70px;
  color:#3EADE9;
}
#u3193 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u3194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3194 {
  position:absolute;
  left:185px;
  top:114px;
  width:70px;
  height:70px;
  color:#33FF00;
}
#u3195 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u3196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3196 {
  position:absolute;
  left:284px;
  top:114px;
  width:70px;
  height:70px;
  color:#FF0000;
}
#u3197 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u3198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3198 {
  position:absolute;
  left:32px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u3199 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
