body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3404 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u3405 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3406 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u3407 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3408-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3408-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3408-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3408 {
  position:absolute;
  left:140px;
  top:223px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3409 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u3410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3410 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3410_img.mouseDown {
}
#u3410.mouseDown {
}
#u3411 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3412 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3412_img.mouseDown {
}
#u3412.mouseDown {
}
#u3413 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3414 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3414_img.mouseDown {
}
#u3414.mouseDown {
}
#u3415 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3416 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3416_img.mouseDown {
}
#u3416.mouseDown {
}
#u3417 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3418 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3418_img.mouseDown {
}
#u3418.mouseDown {
}
#u3419 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u3420 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u3421 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3422 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u3423 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3424 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u3425 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3426 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u3427 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3428 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u3429 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3430 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u3431 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3432 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3433 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3434 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3435 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3436 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3437 {
  position:absolute;
  left:30px;
  top:251px;
  width:354px;
  height:211px;
}
#u3438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u3438 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  font-size:11px;
  text-align:left;
}
#u3439 {
  position:absolute;
  left:2px;
  top:9px;
  width:101px;
  word-wrap:break-word;
}
#u3440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:31px;
}
#u3440 {
  position:absolute;
  left:105px;
  top:0px;
  width:244px;
  height:31px;
  font-size:11px;
  color:#666666;
}
#u3441 {
  position:absolute;
  left:2px;
  top:8px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u3442 {
  position:absolute;
  left:0px;
  top:31px;
  width:105px;
  height:31px;
  font-size:11px;
  text-align:left;
}
#u3443 {
  position:absolute;
  left:2px;
  top:9px;
  width:101px;
  word-wrap:break-word;
}
#u3444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:31px;
}
#u3444 {
  position:absolute;
  left:105px;
  top:31px;
  width:244px;
  height:31px;
  font-size:11px;
  color:#666666;
}
#u3445 {
  position:absolute;
  left:2px;
  top:8px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u3446 {
  position:absolute;
  left:0px;
  top:62px;
  width:105px;
  height:36px;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u3447 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u3448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u3448 {
  position:absolute;
  left:105px;
  top:62px;
  width:244px;
  height:36px;
  font-size:11px;
  color:#666666;
}
#u3449 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u3450 {
  position:absolute;
  left:0px;
  top:98px;
  width:105px;
  height:36px;
  font-size:11px;
  text-align:left;
}
#u3451 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u3452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u3452 {
  position:absolute;
  left:105px;
  top:98px;
  width:244px;
  height:36px;
  font-size:11px;
  color:#666666;
}
#u3453 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u3454 {
  position:absolute;
  left:0px;
  top:134px;
  width:105px;
  height:36px;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u3455 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u3456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u3456 {
  position:absolute;
  left:105px;
  top:134px;
  width:244px;
  height:36px;
  font-size:11px;
  color:#000000;
}
#u3457 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u3458 {
  position:absolute;
  left:0px;
  top:170px;
  width:105px;
  height:36px;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u3459 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u3460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u3460 {
  position:absolute;
  left:105px;
  top:170px;
  width:244px;
  height:36px;
  font-size:11px;
  color:#000000;
}
#u3461 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:2px;
}
#u3462 {
  position:absolute;
  left:197px;
  top:240px;
  width:167px;
  height:1px;
}
#u3463 {
  position:absolute;
  left:2px;
  top:-8px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#D7D7D7;
  text-align:left;
}
#u3464 {
  position:absolute;
  left:28px;
  top:80px;
  width:359px;
  height:30px;
  font-size:11px;
  color:#D7D7D7;
  text-align:left;
}
#u3465 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u3466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3466 {
  position:absolute;
  left:361px;
  top:84px;
  width:18px;
  height:18px;
}
#u3467 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3468 {
  position:absolute;
  left:20px;
  top:20px;
  width:373px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u3469 {
  position:absolute;
  left:2px;
  top:10px;
  width:369px;
  word-wrap:break-word;
}
#u3470 {
  position:absolute;
  left:30px;
  top:210px;
  width:345px;
  height:35px;
}
#u3471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u3471 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  color:#3EADE9;
}
#u3472 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u3473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u3473 {
  position:absolute;
  left:170px;
  top:0px;
  width:170px;
  height:30px;
  color:#000000;
}
#u3474 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u3475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3475 {
  position:absolute;
  left:354px;
  top:30px;
  width:30px;
  height:30px;
}
#u3476 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3477 {
  position:absolute;
  left:77px;
  top:114px;
  width:70px;
  height:70px;
  color:#3EADE9;
}
#u3478 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u3479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3479 {
  position:absolute;
  left:185px;
  top:114px;
  width:70px;
  height:70px;
  color:#33FF00;
}
#u3480 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u3481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3481 {
  position:absolute;
  left:284px;
  top:114px;
  width:70px;
  height:70px;
  color:#FF0000;
}
#u3482 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u3483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3483 {
  position:absolute;
  left:32px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u3484 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
