body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1470 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u1471 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1472 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1473 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u1474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u1474 {
  position:absolute;
  left:165px;
  top:78px;
  width:38px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u1475 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  word-wrap:break-word;
}
#u1476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1476 {
  position:absolute;
  left:360px;
  top:35px;
  width:20px;
  height:20px;
}
#u1477 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:31px;
}
#u1478 {
  position:absolute;
  left:72px;
  top:77px;
  width:69px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1479 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u1480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:31px;
}
#u1480 {
  position:absolute;
  left:213px;
  top:79px;
  width:69px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1481 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u1482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u1482 {
  position:absolute;
  left:22px;
  top:113px;
  width:370px;
  height:1px;
}
#u1483 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:41px;
}
#u1484 {
  position:absolute;
  left:33px;
  top:121px;
  width:69px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u1485 {
  position:absolute;
  left:2px;
  top:9px;
  width:65px;
  word-wrap:break-word;
}
#u1486-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1486-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1486-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1486 {
  position:absolute;
  left:141px;
  top:130px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1487 {
  position:absolute;
  left:22px;
  top:147px;
  width:125px;
  height:454px;
}
#u1487_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:454px;
}
#u1488 {
  position:absolute;
  left:154px;
  top:114px;
  width:243px;
  height:230px;
}
#u1489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1489 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1490 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u1491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1491 {
  position:absolute;
  left:119px;
  top:0px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1492 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u1493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1493 {
  position:absolute;
  left:0px;
  top:75px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1494 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u1495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1495 {
  position:absolute;
  left:119px;
  top:75px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1496 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u1497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1497 {
  position:absolute;
  left:0px;
  top:150px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1498 {
  position:absolute;
  left:2px;
  top:60px;
  width:115px;
  word-wrap:break-word;
}
#u1499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
}
#u1499 {
  position:absolute;
  left:119px;
  top:150px;
  width:119px;
  height:75px;
  font-size:11px;
}
#u1500 {
  position:absolute;
  left:2px;
  top:57px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1501 {
  position:absolute;
  left:194px;
  top:204px;
  width:30px;
  height:30px;
}
#u1502 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1503 {
  position:absolute;
  left:319px;
  top:204px;
  width:30px;
  height:30px;
}
#u1504 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1505 {
  position:absolute;
  left:194px;
  top:276px;
  width:30px;
  height:30px;
}
#u1506 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1507 {
  position:absolute;
  left:194px;
  top:130px;
  width:30px;
  height:30px;
}
#u1508 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:495px;
}
#u1509 {
  position:absolute;
  left:153px;
  top:114px;
  width:1px;
  height:494px;
}
#u1510 {
  position:absolute;
  left:2px;
  top:239px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1511 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1512 {
  position:absolute;
  left:2px;
  top:-16px;
  width:21px;
  word-wrap:break-word;
}
#u1513 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u1514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1514 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1514_img.mouseDown {
}
#u1514.mouseDown {
}
#u1515 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1516 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1516_img.mouseDown {
}
#u1516.mouseDown {
}
#u1517 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1518 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1518_img.mouseDown {
}
#u1518.mouseDown {
}
#u1519 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1520 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1520_img.mouseDown {
}
#u1520.mouseDown {
}
#u1521 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1522 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1522_img.mouseDown {
}
#u1522.mouseDown {
}
#u1523 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1524 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1525 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1526 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u1527 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1528 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u1529 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1530 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u1531 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1532 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u1533 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1534 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u1535 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1536 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1537 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1538 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1539 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1540 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1541 {
  position:absolute;
  left:297px;
  top:25px;
  width:30px;
  height:30px;
}
#u1542 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1543 {
  position:absolute;
  left:314px;
  top:130px;
  width:30px;
  height:30px;
}
#u1544 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
