body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1034 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1036 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1037 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u1038 {
  position:absolute;
  left:101px;
  top:79px;
  width:38px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u1039 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1040 {
  position:absolute;
  left:33px;
  top:35px;
  width:20px;
  height:20px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:31px;
}
#u1042 {
  position:absolute;
  left:152px;
  top:79px;
  width:69px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1043 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:31px;
}
#u1044 {
  position:absolute;
  left:232px;
  top:79px;
  width:69px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1045 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:31px;
}
#u1046 {
  position:absolute;
  left:311px;
  top:79px;
  width:69px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1047 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u1048 {
  position:absolute;
  left:22px;
  top:113px;
  width:370px;
  height:1px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u1050 {
  position:absolute;
  left:22px;
  top:373px;
  width:370px;
  height:1px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1052 {
  position:absolute;
  left:336px;
  top:533px;
  width:20px;
  height:20px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
}
#u1054 {
  position:absolute;
  left:347px;
  top:31px;
  width:33px;
  height:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1055 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
.u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
.u1057 {
  position:absolute;
  left:18px;
  top:3px;
  width:10px;
  height:10px;
}
.u1058 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
.u1059 {
  position:absolute;
  left:18px;
  top:51px;
  width:10px;
  height:10px;
}
.u1060 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
.u1061 {
  position:absolute;
  left:18px;
  top:91px;
  width:10px;
  height:10px;
}
.u1062 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
.u1063 {
  position:absolute;
  left:18px;
  top:130px;
  width:10px;
  height:10px;
}
.u1064 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
.u1065 {
  position:absolute;
  left:18px;
  top:168px;
  width:10px;
  height:10px;
}
.u1066 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1067 {
  position:absolute;
  left:23px;
  top:101px;
  width:0px;
  height:0px;
}
.u1067_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
.u1068 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1069 {
  position:absolute;
  left:23px;
  top:140px;
  width:0px;
  height:0px;
}
.u1069_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
.u1070 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1071 {
  position:absolute;
  left:23px;
  top:13px;
  width:0px;
  height:0px;
}
.u1071_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
.u1072 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1073 {
  position:absolute;
  left:23px;
  top:61px;
  width:0px;
  height:0px;
}
.u1073_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
.u1074 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1075 {
  position:absolute;
  left:28px;
  top:-5px;
  width:109px;
  height:245px;
}
.u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
.u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
  font-size:11px;
  text-align:left;
}
.u1077 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
.u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
.u1078 {
  position:absolute;
  left:0px;
  top:40px;
  width:115px;
  height:40px;
  font-size:11px;
  text-align:left;
}
.u1079 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
.u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
.u1080 {
  position:absolute;
  left:0px;
  top:80px;
  width:115px;
  height:40px;
  font-size:11px;
  text-align:left;
}
.u1081 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
.u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
.u1082 {
  position:absolute;
  left:0px;
  top:120px;
  width:115px;
  height:40px;
  font-size:11px;
  text-align:left;
}
.u1083 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
.u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
.u1084 {
  position:absolute;
  left:0px;
  top:160px;
  width:115px;
  height:40px;
  font-size:11px;
  text-align:left;
}
.u1085 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
.u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
.u1086 {
  position:absolute;
  left:0px;
  top:200px;
  width:115px;
  height:40px;
  font-size:11px;
  text-align:left;
}
.u1087 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
.u1088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
.u1088 {
  position:absolute;
  left:18px;
  top:210px;
  width:10px;
  height:10px;
}
.u1089 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1090 {
  position:absolute;
  left:23px;
  top:178px;
  width:0px;
  height:0px;
}
.u1090_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
.u1091 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:235px;
}
#u1056 {
  position:absolute;
  left:21px;
  top:119px;
  width:132px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1092 {
  position:absolute;
  left:179px;
  top:114px;
  width:218px;
  height:160px;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:75px;
}
#u1093 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:75px;
  font-size:11px;
}
#u1093_img.mouseOver {
}
#u1093.mouseOver {
}
#u1094 {
  position:absolute;
  left:2px;
  top:60px;
  width:102px;
  word-wrap:break-word;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:75px;
}
#u1095 {
  position:absolute;
  left:106px;
  top:0px;
  width:107px;
  height:75px;
  font-size:11px;
}
#u1095_img.mouseOver {
}
#u1095.mouseOver {
}
#u1096 {
  position:absolute;
  left:2px;
  top:60px;
  width:103px;
  word-wrap:break-word;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:80px;
}
#u1097 {
  position:absolute;
  left:0px;
  top:75px;
  width:106px;
  height:80px;
  font-size:11px;
}
#u1097_img.mouseOver {
}
#u1097.mouseOver {
}
#u1098 {
  position:absolute;
  left:2px;
  top:65px;
  width:102px;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:80px;
}
#u1099 {
  position:absolute;
  left:106px;
  top:75px;
  width:107px;
  height:80px;
  font-size:11px;
}
#u1099_img.mouseOver {
}
#u1099.mouseOver {
}
#u1100 {
  position:absolute;
  left:2px;
  top:65px;
  width:103px;
  word-wrap:break-word;
}
#u1101 {
  position:absolute;
  left:22px;
  top:374px;
  width:370px;
  height:227px;
}
#u1101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:227px;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1102 {
  position:absolute;
  left:211px;
  top:124px;
  width:40px;
  height:40px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1104 {
  position:absolute;
  left:213px;
  top:202px;
  width:40px;
  height:40px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1106 {
  position:absolute;
  left:321px;
  top:125px;
  width:40px;
  height:40px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1108 {
  position:absolute;
  left:320px;
  top:202px;
  width:40px;
  height:40px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:261px;
}
#u1110 {
  position:absolute;
  left:178px;
  top:114px;
  width:1px;
  height:260px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:122px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112 {
  position:absolute;
  left:21px;
  top:611px;
  width:376px;
  height:54px;
}
#u1113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u1113 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
  color:#999999;
}
#u1114 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
}
#u1115 {
  position:absolute;
  left:94px;
  top:0px;
  width:92px;
  height:29px;
  color:#999999;
}
#u1116 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u1117 {
  position:absolute;
  left:186px;
  top:0px;
  width:93px;
  height:29px;
  color:#999999;
}
#u1118 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
}
#u1119 {
  position:absolute;
  left:279px;
  top:0px;
  width:92px;
  height:29px;
  color:#999999;
}
#u1120 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u1121 {
  position:absolute;
  left:0px;
  top:29px;
  width:94px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1122 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u1123 {
  position:absolute;
  left:94px;
  top:29px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1124 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u1125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u1125 {
  position:absolute;
  left:186px;
  top:29px;
  width:93px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1126 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u1127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u1127 {
  position:absolute;
  left:279px;
  top:29px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1128 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u1129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1129 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1131 {
  position:absolute;
  left:21px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1132 {
  position:absolute;
  left:114px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1133 {
  position:absolute;
  left:206px;
  top:611px;
  width:95px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1134 {
  position:absolute;
  left:300px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1135 {
  position:absolute;
  left:52px;
  top:611px;
  width:30px;
  height:30px;
}
#u1136 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1137 {
  position:absolute;
  left:239px;
  top:611px;
  width:32px;
  height:32px;
}
#u1138 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1139 {
  position:absolute;
  left:145px;
  top:611px;
  width:30px;
  height:30px;
}
#u1140 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1141 {
  position:absolute;
  left:331px;
  top:611px;
  width:30px;
  height:30px;
}
#u1142 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
