body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:568px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:118px;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:33px;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:33px;
  font-size:10px;
}
#u945 {
  position:absolute;
  left:2px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:33px;
}
#u946 {
  position:absolute;
  left:54px;
  top:0px;
  width:46px;
  height:33px;
  font-size:10px;
}
#u947 {
  position:absolute;
  left:2px;
  top:11px;
  width:42px;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u948 {
  position:absolute;
  left:100px;
  top:0px;
  width:152px;
  height:33px;
  font-size:10px;
}
#u949 {
  position:absolute;
  left:2px;
  top:11px;
  width:148px;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u950 {
  position:absolute;
  left:252px;
  top:0px;
  width:39px;
  height:33px;
  font-size:10px;
}
#u951 {
  position:absolute;
  left:2px;
  top:11px;
  width:35px;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
}
#u952 {
  position:absolute;
  left:291px;
  top:0px;
  width:42px;
  height:33px;
  font-size:10px;
}
#u953 {
  position:absolute;
  left:2px;
  top:5px;
  width:38px;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:33px;
}
#u954 {
  position:absolute;
  left:333px;
  top:0px;
  width:45px;
  height:33px;
  font-size:10px;
}
#u955 {
  position:absolute;
  left:2px;
  top:11px;
  width:41px;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:33px;
}
#u956 {
  position:absolute;
  left:378px;
  top:0px;
  width:63px;
  height:33px;
  font-size:10px;
}
#u957 {
  position:absolute;
  left:2px;
  top:11px;
  width:59px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:33px;
}
#u958 {
  position:absolute;
  left:441px;
  top:0px;
  width:63px;
  height:33px;
  font-size:10px;
}
#u959 {
  position:absolute;
  left:2px;
  top:5px;
  width:59px;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u960 {
  position:absolute;
  left:504px;
  top:0px;
  width:64px;
  height:33px;
  font-size:10px;
}
#u961 {
  position:absolute;
  left:2px;
  top:11px;
  width:60px;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u962 {
  position:absolute;
  left:0px;
  top:33px;
  width:54px;
  height:20px;
  font-size:10px;
}
#u963 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
}
#u964 {
  position:absolute;
  left:54px;
  top:33px;
  width:46px;
  height:20px;
  font-size:10px;
}
#u965 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:20px;
}
#u966 {
  position:absolute;
  left:100px;
  top:33px;
  width:152px;
  height:20px;
  font-size:10px;
}
#u967 {
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u968 {
  position:absolute;
  left:252px;
  top:33px;
  width:39px;
  height:20px;
  font-size:10px;
}
#u969 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u970 {
  position:absolute;
  left:291px;
  top:33px;
  width:42px;
  height:20px;
  font-size:10px;
}
#u971 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u972 {
  position:absolute;
  left:333px;
  top:33px;
  width:45px;
  height:20px;
  font-size:10px;
}
#u973 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u974 {
  position:absolute;
  left:378px;
  top:33px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u975 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u976 {
  position:absolute;
  left:441px;
  top:33px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u977 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u978 {
  position:absolute;
  left:504px;
  top:33px;
  width:64px;
  height:20px;
  font-size:10px;
}
#u979 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u980 {
  position:absolute;
  left:0px;
  top:53px;
  width:54px;
  height:20px;
  font-size:10px;
}
#u981 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
}
#u982 {
  position:absolute;
  left:54px;
  top:53px;
  width:46px;
  height:20px;
  font-size:10px;
}
#u983 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:20px;
}
#u984 {
  position:absolute;
  left:100px;
  top:53px;
  width:152px;
  height:20px;
  font-size:10px;
}
#u985 {
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u986 {
  position:absolute;
  left:252px;
  top:53px;
  width:39px;
  height:20px;
  font-size:10px;
}
#u987 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u988 {
  position:absolute;
  left:291px;
  top:53px;
  width:42px;
  height:20px;
  font-size:10px;
}
#u989 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u990 {
  position:absolute;
  left:333px;
  top:53px;
  width:45px;
  height:20px;
  font-size:10px;
}
#u991 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u992 {
  position:absolute;
  left:378px;
  top:53px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u993 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u994 {
  position:absolute;
  left:441px;
  top:53px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u995 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u996 {
  position:absolute;
  left:504px;
  top:53px;
  width:64px;
  height:20px;
  font-size:10px;
}
#u997 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u998 {
  position:absolute;
  left:0px;
  top:73px;
  width:54px;
  height:20px;
  font-size:10px;
}
#u999 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
}
#u1000 {
  position:absolute;
  left:54px;
  top:73px;
  width:46px;
  height:20px;
  font-size:10px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:20px;
}
#u1002 {
  position:absolute;
  left:100px;
  top:73px;
  width:152px;
  height:20px;
  font-size:10px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u1004 {
  position:absolute;
  left:252px;
  top:73px;
  width:39px;
  height:20px;
  font-size:10px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u1006 {
  position:absolute;
  left:291px;
  top:73px;
  width:42px;
  height:20px;
  font-size:10px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u1008 {
  position:absolute;
  left:333px;
  top:73px;
  width:45px;
  height:20px;
  font-size:10px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u1010 {
  position:absolute;
  left:378px;
  top:73px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u1012 {
  position:absolute;
  left:441px;
  top:73px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u1014 {
  position:absolute;
  left:504px;
  top:73px;
  width:64px;
  height:20px;
  font-size:10px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u1016 {
  position:absolute;
  left:0px;
  top:93px;
  width:54px;
  height:20px;
  font-size:10px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
}
#u1018 {
  position:absolute;
  left:54px;
  top:93px;
  width:46px;
  height:20px;
  font-size:10px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:20px;
}
#u1020 {
  position:absolute;
  left:100px;
  top:93px;
  width:152px;
  height:20px;
  font-size:10px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u1022 {
  position:absolute;
  left:252px;
  top:93px;
  width:39px;
  height:20px;
  font-size:10px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u1024 {
  position:absolute;
  left:291px;
  top:93px;
  width:42px;
  height:20px;
  font-size:10px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u1026 {
  position:absolute;
  left:333px;
  top:93px;
  width:45px;
  height:20px;
  font-size:10px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u1028 {
  position:absolute;
  left:378px;
  top:93px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u1030 {
  position:absolute;
  left:441px;
  top:93px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u1032 {
  position:absolute;
  left:504px;
  top:93px;
  width:64px;
  height:20px;
  font-size:10px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
