body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:568px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:118px;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:33px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:33px;
  font-size:10px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:33px;
}
#u2006 {
  position:absolute;
  left:54px;
  top:0px;
  width:46px;
  height:33px;
  font-size:10px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:11px;
  width:42px;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u2008 {
  position:absolute;
  left:100px;
  top:0px;
  width:152px;
  height:33px;
  font-size:10px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:11px;
  width:148px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u2010 {
  position:absolute;
  left:252px;
  top:0px;
  width:39px;
  height:33px;
  font-size:10px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:11px;
  width:35px;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
}
#u2012 {
  position:absolute;
  left:291px;
  top:0px;
  width:42px;
  height:33px;
  font-size:10px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:5px;
  width:38px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:33px;
}
#u2014 {
  position:absolute;
  left:333px;
  top:0px;
  width:45px;
  height:33px;
  font-size:10px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:11px;
  width:41px;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:33px;
}
#u2016 {
  position:absolute;
  left:378px;
  top:0px;
  width:63px;
  height:33px;
  font-size:10px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:11px;
  width:59px;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:33px;
}
#u2018 {
  position:absolute;
  left:441px;
  top:0px;
  width:63px;
  height:33px;
  font-size:10px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:5px;
  width:59px;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u2020 {
  position:absolute;
  left:504px;
  top:0px;
  width:64px;
  height:33px;
  font-size:10px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:11px;
  width:60px;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u2022 {
  position:absolute;
  left:0px;
  top:33px;
  width:54px;
  height:20px;
  font-size:10px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
}
#u2024 {
  position:absolute;
  left:54px;
  top:33px;
  width:46px;
  height:20px;
  font-size:10px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:20px;
}
#u2026 {
  position:absolute;
  left:100px;
  top:33px;
  width:152px;
  height:20px;
  font-size:10px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u2028 {
  position:absolute;
  left:252px;
  top:33px;
  width:39px;
  height:20px;
  font-size:10px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u2030 {
  position:absolute;
  left:291px;
  top:33px;
  width:42px;
  height:20px;
  font-size:10px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u2032 {
  position:absolute;
  left:333px;
  top:33px;
  width:45px;
  height:20px;
  font-size:10px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u2034 {
  position:absolute;
  left:378px;
  top:33px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u2036 {
  position:absolute;
  left:441px;
  top:33px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u2038 {
  position:absolute;
  left:504px;
  top:33px;
  width:64px;
  height:20px;
  font-size:10px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u2040 {
  position:absolute;
  left:0px;
  top:53px;
  width:54px;
  height:20px;
  font-size:10px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
}
#u2042 {
  position:absolute;
  left:54px;
  top:53px;
  width:46px;
  height:20px;
  font-size:10px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:20px;
}
#u2044 {
  position:absolute;
  left:100px;
  top:53px;
  width:152px;
  height:20px;
  font-size:10px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u2046 {
  position:absolute;
  left:252px;
  top:53px;
  width:39px;
  height:20px;
  font-size:10px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u2048 {
  position:absolute;
  left:291px;
  top:53px;
  width:42px;
  height:20px;
  font-size:10px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u2050 {
  position:absolute;
  left:333px;
  top:53px;
  width:45px;
  height:20px;
  font-size:10px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u2052 {
  position:absolute;
  left:378px;
  top:53px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u2054 {
  position:absolute;
  left:441px;
  top:53px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u2056 {
  position:absolute;
  left:504px;
  top:53px;
  width:64px;
  height:20px;
  font-size:10px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u2058 {
  position:absolute;
  left:0px;
  top:73px;
  width:54px;
  height:20px;
  font-size:10px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
}
#u2060 {
  position:absolute;
  left:54px;
  top:73px;
  width:46px;
  height:20px;
  font-size:10px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:20px;
}
#u2062 {
  position:absolute;
  left:100px;
  top:73px;
  width:152px;
  height:20px;
  font-size:10px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u2064 {
  position:absolute;
  left:252px;
  top:73px;
  width:39px;
  height:20px;
  font-size:10px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u2066 {
  position:absolute;
  left:291px;
  top:73px;
  width:42px;
  height:20px;
  font-size:10px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u2068 {
  position:absolute;
  left:333px;
  top:73px;
  width:45px;
  height:20px;
  font-size:10px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u2070 {
  position:absolute;
  left:378px;
  top:73px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u2072 {
  position:absolute;
  left:441px;
  top:73px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u2074 {
  position:absolute;
  left:504px;
  top:73px;
  width:64px;
  height:20px;
  font-size:10px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u2076 {
  position:absolute;
  left:0px;
  top:93px;
  width:54px;
  height:20px;
  font-size:10px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
}
#u2078 {
  position:absolute;
  left:54px;
  top:93px;
  width:46px;
  height:20px;
  font-size:10px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:20px;
}
#u2080 {
  position:absolute;
  left:100px;
  top:93px;
  width:152px;
  height:20px;
  font-size:10px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u2082 {
  position:absolute;
  left:252px;
  top:93px;
  width:39px;
  height:20px;
  font-size:10px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u2084 {
  position:absolute;
  left:291px;
  top:93px;
  width:42px;
  height:20px;
  font-size:10px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u2086 {
  position:absolute;
  left:333px;
  top:93px;
  width:45px;
  height:20px;
  font-size:10px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u2088 {
  position:absolute;
  left:378px;
  top:93px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u2090 {
  position:absolute;
  left:441px;
  top:93px;
  width:63px;
  height:20px;
  font-size:10px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u2092 {
  position:absolute;
  left:504px;
  top:93px;
  width:64px;
  height:20px;
  font-size:10px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
