body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u195 {
  position:absolute;
  left:20px;
  top:18px;
  width:375px;
  height:640px;
}
#u196 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u198_img.mouseDown {
}
#u198.mouseDown {
}
#u199 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u200 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u200_img.mouseDown {
}
#u200.mouseDown {
}
#u201 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u202 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u202_img.mouseDown {
}
#u202.mouseDown {
}
#u203 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u204 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u204_img.mouseDown {
}
#u204.mouseDown {
}
#u205 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u206 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u206_img.mouseDown {
}
#u206.mouseDown {
}
#u207 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u208 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u209 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:51px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u210 {
  position:absolute;
  left:21px;
  top:18px;
  width:373px;
  height:51px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u211 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u212 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u213 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u214 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u215 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u216 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u217 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u218 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u219 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u220 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u221 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u222 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u223 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u225 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u226 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u227 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u228 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:125px;
}
#u229 {
  position:absolute;
  left:28px;
  top:272px;
  width:356px;
  height:125px;
}
#u230 {
  position:absolute;
  left:2px;
  top:54px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:145px;
}
#u231 {
  position:absolute;
  left:38px;
  top:427px;
  width:195px;
  height:145px;
}
#u232 {
  position:absolute;
  left:2px;
  top:64px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:145px;
}
#u233 {
  position:absolute;
  left:224px;
  top:427px;
  width:166px;
  height:145px;
}
#u234 {
  position:absolute;
  left:2px;
  top:64px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:150px;
}
#u235 {
  position:absolute;
  left:80px;
  top:85px;
  width:230px;
  height:150px;
}
#u236 {
  position:absolute;
  left:2px;
  top:67px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:23px;
  top:69px;
  width:367px;
  height:531px;
  overflow:hidden;
  touch-action:none;
}
#u237_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:531px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u237_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
