body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  position:absolute;
  left:20px;
  top:18px;
  width:375px;
  height:640px;
}
#u690 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:51px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u691 {
  position:absolute;
  left:21px;
  top:18px;
  width:373px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u692 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  word-wrap:break-word;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u693 {
  position:absolute;
  left:21px;
  top:123px;
  width:365px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u694 {
  position:absolute;
  left:2px;
  top:10px;
  width:361px;
  word-wrap:break-word;
}
#u695 {
  position:absolute;
  left:29px;
  top:69px;
  width:354px;
  height:46px;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-size:10px;
}
#u696_img.mouseDown {
}
#u696.mouseDown {
}
#u697 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u698 {
  position:absolute;
  left:80px;
  top:0px;
  width:70px;
  height:20px;
  font-size:10px;
  color:#1E1E1E;
}
#u698_img.mouseDown {
}
#u698.mouseDown {
}
#u699 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u700 {
  position:absolute;
  left:150px;
  top:0px;
  width:112px;
  height:20px;
  font-size:10px;
  color:#000000;
}
#u700_img.mouseDown {
}
#u700.mouseDown {
}
#u701 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u702 {
  position:absolute;
  left:262px;
  top:0px;
  width:87px;
  height:20px;
  font-size:10px;
  color:#3EADE9;
}
#u702_img.mouseDown {
}
#u702.mouseDown {
}
#u703 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u704 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:21px;
  font-size:10px;
}
#u704_img.mouseDown {
}
#u704.mouseDown {
}
#u705 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u706 {
  position:absolute;
  left:80px;
  top:20px;
  width:70px;
  height:21px;
  font-size:10px;
  color:#1E1E1E;
}
#u706_img.mouseDown {
}
#u706.mouseDown {
}
#u707 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u708 {
  position:absolute;
  left:150px;
  top:20px;
  width:112px;
  height:21px;
  font-size:10px;
  color:#000000;
}
#u708_img.mouseDown {
}
#u708.mouseDown {
}
#u709 {
  position:absolute;
  left:2px;
  top:5px;
  width:108px;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u710 {
  position:absolute;
  left:262px;
  top:20px;
  width:87px;
  height:21px;
  font-size:10px;
  color:#3EADE9;
}
#u710_img.mouseDown {
}
#u710.mouseDown {
}
#u711 {
  position:absolute;
  left:2px;
  top:5px;
  width:83px;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u712 {
  position:absolute;
  left:52px;
  top:84px;
  width:10px;
  height:10px;
}
#u713 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714 {
  position:absolute;
  left:62px;
  top:89px;
  width:0px;
  height:0px;
}
#u714_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u715 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u716 {
  position:absolute;
  left:122px;
  top:84px;
  width:10px;
  height:10px;
}
#u717 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u718 {
  position:absolute;
  left:207px;
  top:84px;
  width:10px;
  height:10px;
}
#u719 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720 {
  position:absolute;
  left:132px;
  top:89px;
  width:0px;
  height:0px;
}
#u720_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u721 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u722 {
  position:absolute;
  left:297px;
  top:84px;
  width:10px;
  height:10px;
}
#u723 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724 {
  position:absolute;
  left:217px;
  top:89px;
  width:0px;
  height:0px;
}
#u724_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u725 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u726 {
  position:absolute;
  left:29px;
  top:171px;
  width:4px;
  height:18px;
}
#u727 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u728 {
  position:absolute;
  left:322px;
  top:565px;
  width:50px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u729 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u730 {
  position:absolute;
  left:40px;
  top:172px;
  width:81px;
  height:16px;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u732 {
  position:absolute;
  left:40px;
  top:344px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u734 {
  position:absolute;
  left:29px;
  top:202px;
  width:362px;
  height:127px;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
  font-size:10px;
}
#u736 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:49px;
}
#u737 {
  position:absolute;
  left:20px;
  top:0px;
  width:28px;
  height:49px;
  font-size:10px;
}
#u738 {
  position:absolute;
  left:2px;
  top:13px;
  width:24px;
  word-wrap:break-word;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:49px;
}
#u739 {
  position:absolute;
  left:48px;
  top:0px;
  width:61px;
  height:49px;
  font-size:10px;
}
#u740 {
  position:absolute;
  left:2px;
  top:19px;
  width:57px;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:49px;
}
#u741 {
  position:absolute;
  left:109px;
  top:0px;
  width:28px;
  height:49px;
  font-size:10px;
}
#u742 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:49px;
}
#u743 {
  position:absolute;
  left:137px;
  top:0px;
  width:25px;
  height:49px;
  font-size:10px;
}
#u744 {
  position:absolute;
  left:2px;
  top:13px;
  width:21px;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:49px;
}
#u745 {
  position:absolute;
  left:162px;
  top:0px;
  width:32px;
  height:49px;
  font-size:10px;
}
#u746 {
  position:absolute;
  left:2px;
  top:13px;
  width:28px;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:49px;
}
#u747 {
  position:absolute;
  left:194px;
  top:0px;
  width:32px;
  height:49px;
  font-size:10px;
}
#u748 {
  position:absolute;
  left:2px;
  top:13px;
  width:28px;
  word-wrap:break-word;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:49px;
}
#u749 {
  position:absolute;
  left:226px;
  top:0px;
  width:32px;
  height:49px;
  font-size:10px;
}
#u750 {
  position:absolute;
  left:2px;
  top:13px;
  width:28px;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:49px;
}
#u751 {
  position:absolute;
  left:258px;
  top:0px;
  width:32px;
  height:49px;
  font-size:10px;
}
#u752 {
  position:absolute;
  left:2px;
  top:13px;
  width:28px;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:49px;
}
#u753 {
  position:absolute;
  left:290px;
  top:0px;
  width:32px;
  height:49px;
  font-size:10px;
}
#u754 {
  position:absolute;
  left:2px;
  top:13px;
  width:28px;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:49px;
}
#u755 {
  position:absolute;
  left:322px;
  top:0px;
  width:35px;
  height:49px;
  font-size:10px;
}
#u756 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:73px;
}
#u757 {
  position:absolute;
  left:0px;
  top:49px;
  width:20px;
  height:73px;
  font-size:10px;
}
#u758 {
  position:absolute;
  left:2px;
  top:20px;
  width:16px;
  word-wrap:break-word;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:73px;
}
#u759 {
  position:absolute;
  left:20px;
  top:49px;
  width:28px;
  height:73px;
  font-size:10px;
}
#u760 {
  position:absolute;
  left:2px;
  top:20px;
  width:24px;
  word-wrap:break-word;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:73px;
}
#u761 {
  position:absolute;
  left:48px;
  top:49px;
  width:61px;
  height:73px;
  font-size:10px;
}
#u762 {
  position:absolute;
  left:2px;
  top:14px;
  width:57px;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:73px;
}
#u763 {
  position:absolute;
  left:109px;
  top:49px;
  width:28px;
  height:73px;
  font-size:10px;
}
#u764 {
  position:absolute;
  left:2px;
  top:14px;
  width:24px;
  word-wrap:break-word;
}
#u765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:73px;
}
#u765 {
  position:absolute;
  left:137px;
  top:49px;
  width:25px;
  height:73px;
  font-size:10px;
}
#u766 {
  position:absolute;
  left:2px;
  top:20px;
  width:21px;
  word-wrap:break-word;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:73px;
}
#u767 {
  position:absolute;
  left:162px;
  top:49px;
  width:32px;
  height:73px;
  font-size:10px;
}
#u768 {
  position:absolute;
  left:2px;
  top:25px;
  width:28px;
  word-wrap:break-word;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:73px;
}
#u769 {
  position:absolute;
  left:194px;
  top:49px;
  width:32px;
  height:73px;
  font-size:10px;
}
#u770 {
  position:absolute;
  left:2px;
  top:25px;
  width:28px;
  word-wrap:break-word;
}
#u771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:73px;
}
#u771 {
  position:absolute;
  left:226px;
  top:49px;
  width:32px;
  height:73px;
  font-size:10px;
}
#u772 {
  position:absolute;
  left:2px;
  top:25px;
  width:28px;
  word-wrap:break-word;
}
#u773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:73px;
}
#u773 {
  position:absolute;
  left:258px;
  top:49px;
  width:32px;
  height:73px;
  font-size:10px;
}
#u774 {
  position:absolute;
  left:2px;
  top:14px;
  width:28px;
  word-wrap:break-word;
}
#u775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:73px;
}
#u775 {
  position:absolute;
  left:290px;
  top:49px;
  width:32px;
  height:73px;
  font-size:10px;
}
#u776 {
  position:absolute;
  left:2px;
  top:31px;
  width:28px;
  word-wrap:break-word;
}
#u777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:73px;
}
#u777 {
  position:absolute;
  left:322px;
  top:49px;
  width:35px;
  height:73px;
  font-size:10px;
}
#u778 {
  position:absolute;
  left:2px;
  top:31px;
  width:31px;
  word-wrap:break-word;
}
#u779 {
  position:absolute;
  left:29px;
  top:369px;
  width:354px;
  height:59px;
}
#u780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u781 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u782 {
  position:absolute;
  left:35px;
  top:0px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u783 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u784 {
  position:absolute;
  left:70px;
  top:0px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u785 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u786 {
  position:absolute;
  left:105px;
  top:0px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u787 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u788 {
  position:absolute;
  left:140px;
  top:0px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u789 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u790 {
  position:absolute;
  left:175px;
  top:0px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u791 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u792 {
  position:absolute;
  left:210px;
  top:0px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u793 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u794 {
  position:absolute;
  left:245px;
  top:0px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u795 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u796 {
  position:absolute;
  left:280px;
  top:0px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u797 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:27px;
}
#u798 {
  position:absolute;
  left:315px;
  top:0px;
  width:34px;
  height:27px;
  font-size:10px;
}
#u799 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u800 {
  position:absolute;
  left:0px;
  top:27px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u801 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u802 {
  position:absolute;
  left:35px;
  top:27px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u803 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u804 {
  position:absolute;
  left:70px;
  top:27px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u805 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u806 {
  position:absolute;
  left:105px;
  top:27px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u807 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u808 {
  position:absolute;
  left:140px;
  top:27px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u809 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u810 {
  position:absolute;
  left:175px;
  top:27px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u811 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u812 {
  position:absolute;
  left:210px;
  top:27px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u813 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u814 {
  position:absolute;
  left:245px;
  top:27px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u815 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u816 {
  position:absolute;
  left:280px;
  top:27px;
  width:35px;
  height:27px;
  font-size:10px;
}
#u817 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:27px;
}
#u818 {
  position:absolute;
  left:315px;
  top:27px;
  width:34px;
  height:27px;
  font-size:10px;
}
#u819 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
}
#u820 {
  position:absolute;
  left:37px;
  top:434px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u822 {
  position:absolute;
  left:30px;
  top:459px;
  width:275px;
  height:52px;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  font-size:10px;
}
#u824 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u825 {
  position:absolute;
  left:68px;
  top:0px;
  width:68px;
  height:20px;
  font-size:10px;
}
#u826 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u827 {
  position:absolute;
  left:136px;
  top:0px;
  width:68px;
  height:20px;
  font-size:10px;
}
#u828 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u829 {
  position:absolute;
  left:204px;
  top:0px;
  width:66px;
  height:20px;
  font-size:10px;
}
#u830 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:27px;
}
#u831 {
  position:absolute;
  left:0px;
  top:20px;
  width:68px;
  height:27px;
  font-size:10px;
}
#u832 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:27px;
}
#u833 {
  position:absolute;
  left:68px;
  top:20px;
  width:68px;
  height:27px;
  font-size:10px;
}
#u834 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  word-wrap:break-word;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:27px;
}
#u835 {
  position:absolute;
  left:136px;
  top:20px;
  width:68px;
  height:27px;
  font-size:10px;
}
#u836 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:27px;
}
#u837 {
  position:absolute;
  left:204px;
  top:20px;
  width:66px;
  height:27px;
  font-size:10px;
}
#u838 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u839 {
  position:absolute;
  left:30px;
  top:341px;
  width:4px;
  height:18px;
}
#u840 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u841 {
  position:absolute;
  left:31px;
  top:433px;
  width:4px;
  height:18px;
}
#u842 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u843 {
  position:absolute;
  left:36px;
  top:524px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u845_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u845 {
  position:absolute;
  left:30px;
  top:523px;
  width:4px;
  height:18px;
}
#u846 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u848_img.mouseDown {
}
#u848.mouseDown {
}
#u849 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u850 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u850_img.mouseDown {
}
#u850.mouseDown {
}
#u851 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u852 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u852_img.mouseDown {
}
#u852.mouseDown {
}
#u853 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u854 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u854_img.mouseDown {
}
#u854.mouseDown {
}
#u855 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u856 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u856_img.mouseDown {
}
#u856.mouseDown {
}
#u857 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u858 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u859 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u860 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u861 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u862 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u863 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u864 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u865 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u866 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u867 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u868 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u869 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u871 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u872 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u873 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u874 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u875 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u876 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
