body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u412 {
  position:absolute;
  left:20px;
  top:18px;
  width:375px;
  height:640px;
}
#u413 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:51px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u414 {
  position:absolute;
  left:21px;
  top:18px;
  width:373px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u415 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  word-wrap:break-word;
}
#u416 {
  position:absolute;
  left:21px;
  top:172px;
  width:371px;
  height:429px;
}
#u416_input {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:429px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u417 {
  position:absolute;
  left:21px;
  top:123px;
  width:365px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u418 {
  position:absolute;
  left:2px;
  top:10px;
  width:361px;
  word-wrap:break-word;
}
#u419 {
  position:absolute;
  left:29px;
  top:69px;
  width:354px;
  height:46px;
}
#u420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u420 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-size:10px;
}
#u420_img.mouseDown {
}
#u420.mouseDown {
}
#u421 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u422 {
  position:absolute;
  left:80px;
  top:0px;
  width:70px;
  height:20px;
  font-size:10px;
  color:#0099FF;
}
#u422_img.mouseDown {
}
#u422.mouseDown {
}
#u423 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u424 {
  position:absolute;
  left:150px;
  top:0px;
  width:112px;
  height:20px;
  font-size:10px;
  color:#000000;
}
#u424_img.mouseDown {
}
#u424.mouseDown {
}
#u425 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u426 {
  position:absolute;
  left:262px;
  top:0px;
  width:87px;
  height:20px;
  font-size:10px;
  color:#000000;
}
#u426_img.mouseDown {
}
#u426.mouseDown {
}
#u427 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u428 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:21px;
  font-size:10px;
}
#u428_img.mouseDown {
}
#u428.mouseDown {
}
#u429 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u430 {
  position:absolute;
  left:80px;
  top:20px;
  width:70px;
  height:21px;
  font-size:10px;
  color:#0099FF;
}
#u430_img.mouseDown {
}
#u430.mouseDown {
}
#u431 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u432 {
  position:absolute;
  left:150px;
  top:20px;
  width:112px;
  height:21px;
  font-size:10px;
  color:#000000;
}
#u432_img.mouseDown {
}
#u432.mouseDown {
}
#u433 {
  position:absolute;
  left:2px;
  top:5px;
  width:108px;
  word-wrap:break-word;
}
#u434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u434 {
  position:absolute;
  left:262px;
  top:20px;
  width:87px;
  height:21px;
  font-size:10px;
  color:#000000;
}
#u434_img.mouseDown {
}
#u434.mouseDown {
}
#u435 {
  position:absolute;
  left:2px;
  top:5px;
  width:83px;
  word-wrap:break-word;
}
#u436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u436 {
  position:absolute;
  left:52px;
  top:84px;
  width:10px;
  height:10px;
}
#u437 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438 {
  position:absolute;
  left:62px;
  top:89px;
  width:0px;
  height:0px;
}
#u438_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u439 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u440 {
  position:absolute;
  left:122px;
  top:84px;
  width:10px;
  height:10px;
}
#u441 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u442 {
  position:absolute;
  left:207px;
  top:84px;
  width:10px;
  height:10px;
}
#u443 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444 {
  position:absolute;
  left:132px;
  top:89px;
  width:0px;
  height:0px;
}
#u444_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u445 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u446 {
  position:absolute;
  left:297px;
  top:84px;
  width:10px;
  height:10px;
}
#u447 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448 {
  position:absolute;
  left:217px;
  top:89px;
  width:0px;
  height:0px;
}
#u448_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u449 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u451 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u451_img.mouseDown {
}
#u451.mouseDown {
}
#u452 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u453 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u453_img.mouseDown {
}
#u453.mouseDown {
}
#u454 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u455 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u455_img.mouseDown {
}
#u455.mouseDown {
}
#u456 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u457 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u457_img.mouseDown {
}
#u457.mouseDown {
}
#u458 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u459 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u459_img.mouseDown {
}
#u459.mouseDown {
}
#u460 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u461 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u462 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u463 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u464 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u465 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u466 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u467 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u468 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u469 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u470 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u471 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u472 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u474 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u475 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u476 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u477 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u478 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u479 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
