body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1995 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u1997 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u1999 {
  position:absolute;
  left:21px;
  top:41px;
  width:373px;
  height:44px;
  font-size:14px;
  color:#000000;
}
#u2000 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u2001 {
  position:absolute;
  left:33px;
  top:79px;
  width:349px;
  height:1px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2003 {
  position:absolute;
  left:33px;
  top:56px;
  width:16px;
  height:16px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005 {
  position:absolute;
  left:21px;
  top:638px;
  width:379px;
  height:54px;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
  color:#999999;
}
#u2007 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u2008 {
  position:absolute;
  left:94px;
  top:0px;
  width:93px;
  height:29px;
  color:#999999;
}
#u2009 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u2010 {
  position:absolute;
  left:187px;
  top:0px;
  width:94px;
  height:29px;
  color:#999999;
}
#u2011 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u2012 {
  position:absolute;
  left:281px;
  top:0px;
  width:93px;
  height:29px;
  color:#999999;
}
#u2013 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u2014 {
  position:absolute;
  left:0px;
  top:29px;
  width:94px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u2015 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u2016 {
  position:absolute;
  left:94px;
  top:29px;
  width:93px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u2017 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u2018 {
  position:absolute;
  left:187px;
  top:29px;
  width:94px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u2019 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u2020 {
  position:absolute;
  left:281px;
  top:29px;
  width:93px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u2021 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2022 {
  position:absolute;
  left:55px;
  top:643px;
  width:25px;
  height:25px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2024 {
  position:absolute;
  left:147px;
  top:640px;
  width:32px;
  height:32px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u2026 {
  position:absolute;
  left:238px;
  top:640px;
  width:32px;
  height:28px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2028 {
  position:absolute;
  left:336px;
  top:643px;
  width:25px;
  height:25px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u2030 {
  position:absolute;
  left:22px;
  top:637px;
  width:374px;
  height:1px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032 {
  position:absolute;
  left:21px;
  top:638px;
  width:93px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2033 {
  position:absolute;
  left:114px;
  top:638px;
  width:93px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2034 {
  position:absolute;
  left:207px;
  top:638px;
  width:96px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2035 {
  position:absolute;
  left:303px;
  top:638px;
  width:93px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2036 {
  position:absolute;
  left:41px;
  top:108px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2038_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:350px;
  height:9px;
}
#u2038 {
  position:absolute;
  left:33px;
  top:140px;
  width:345px;
  height:4px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:-6px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:346px;
  height:9px;
}
#u2040 {
  position:absolute;
  left:37px;
  top:95px;
  width:341px;
  height:4px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:-6px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:18px;
  height:20px;
}
#u2042 {
  position:absolute;
  left:41px;
  top:160px;
  width:8px;
  height:10px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u2044 {
  position:absolute;
  left:59px;
  top:154px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:148px;
}
#u2046 {
  position:absolute;
  left:44px;
  top:202px;
  width:163px;
  height:148px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:66px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2048 {
  position:absolute;
  left:230px;
  top:220px;
  width:123px;
  height:110px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:47px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u2050 {
  position:absolute;
  left:260px;
  top:243px;
  width:64px;
  height:64px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052 {
  position:absolute;
  left:41px;
  top:380px;
  width:320px;
  height:70px;
}
#u2052_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(235, 157, 20, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2053 {
  position:absolute;
  left:138px;
  top:520px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
