body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:20px;
  top:18px;
  width:375px;
  height:640px;
}
#u28 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:22px;
  top:110px;
  width:371px;
  height:90px;
}
#u30 {
  position:absolute;
  left:2px;
  top:37px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  position:absolute;
  left:27px;
  top:450px;
  width:172px;
  height:150px;
}
#u32 {
  position:absolute;
  left:2px;
  top:67px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u34_img.mouseDown {
}
#u34.mouseDown {
}
#u35 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u36 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u36_img.mouseDown {
}
#u36.mouseDown {
}
#u37 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u38 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u38_img.mouseDown {
}
#u38.mouseDown {
}
#u39 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u40 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u40_img.mouseDown {
}
#u40.mouseDown {
}
#u41 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u42 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u42_img.mouseDown {
}
#u42.mouseDown {
}
#u43 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u44 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:51px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u46 {
  position:absolute;
  left:21px;
  top:18px;
  width:373px;
  height:51px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u48 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u52 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
}
#u54 {
  position:absolute;
  left:24px;
  top:76px;
  width:68px;
  height:25px;
  font-size:12px;
}
#u55 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:21px;
  top:109px;
  width:376px;
  height:81px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:56px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:56px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3EADE9;
}
#u58 {
  position:absolute;
  left:2px;
  top:30px;
  width:120px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:56px;
}
#u59 {
  position:absolute;
  left:124px;
  top:0px;
  width:124px;
  height:56px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#33FF00;
}
#u60 {
  position:absolute;
  left:2px;
  top:30px;
  width:120px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:56px;
}
#u61 {
  position:absolute;
  left:248px;
  top:0px;
  width:123px;
  height:56px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u62 {
  position:absolute;
  left:2px;
  top:30px;
  width:119px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
}
#u63 {
  position:absolute;
  left:0px;
  top:56px;
  width:124px;
  height:20px;
  font-size:11px;
  color:#999999;
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
}
#u65 {
  position:absolute;
  left:124px;
  top:56px;
  width:124px;
  height:20px;
  font-size:11px;
  color:#999999;
}
#u66 {
  position:absolute;
  left:2px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
}
#u67 {
  position:absolute;
  left:248px;
  top:56px;
  width:123px;
  height:20px;
  font-size:11px;
  color:#999999;
}
#u68 {
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u69 {
  position:absolute;
  left:25px;
  top:80px;
  width:4px;
  height:18px;
}
#u70 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u71 {
  position:absolute;
  left:146px;
  top:130px;
  width:1px;
  height:50px;
}
#u72 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u73 {
  position:absolute;
  left:281px;
  top:130px;
  width:1px;
  height:50px;
}
#u74 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
}
#u75 {
  position:absolute;
  left:25px;
  top:215px;
  width:68px;
  height:25px;
  font-size:12px;
}
#u76 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u77 {
  position:absolute;
  left:26px;
  top:217px;
  width:4px;
  height:18px;
}
#u78 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:22px;
  top:250px;
  width:175px;
  height:141px;
}
#u80 {
  position:absolute;
  left:2px;
  top:62px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u81 {
  position:absolute;
  left:32px;
  top:295px;
  width:70px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#3EADE9;
}
#u82 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
}
#u83 {
  position:absolute;
  left:23px;
  top:250px;
  width:176px;
  height:20px;
  font-size:10px;
  text-align:left;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:172px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:20px;
}
#u85 {
  position:absolute;
  left:208px;
  top:250px;
  width:184px;
  height:20px;
  font-size:12px;
  text-align:left;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:180px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:222px;
  top:284px;
  width:175px;
  height:107px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  font-size:10px;
  text-align:left;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u90 {
  position:absolute;
  left:123px;
  top:0px;
  width:47px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3333CC;
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u92 {
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:36px;
  font-size:10px;
  text-align:left;
}
#u93 {
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u94 {
  position:absolute;
  left:123px;
  top:30px;
  width:47px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3333CC;
}
#u95 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u96 {
  position:absolute;
  left:0px;
  top:66px;
  width:123px;
  height:36px;
  font-size:10px;
  text-align:left;
}
#u97 {
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u98 {
  position:absolute;
  left:123px;
  top:66px;
  width:47px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3333CC;
}
#u99 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  position:absolute;
  left:207px;
  top:250px;
  width:183px;
  height:141px;
}
#u101 {
  position:absolute;
  left:2px;
  top:62px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u102 {
  position:absolute;
  left:212px;
  top:295px;
  width:10px;
  height:10px;
}
#u103 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u104 {
  position:absolute;
  left:212px;
  top:327px;
  width:10px;
  height:10px;
}
#u105 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u106 {
  position:absolute;
  left:212px;
  top:362px;
  width:10px;
  height:10px;
}
#u107 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
}
#u108 {
  position:absolute;
  left:26px;
  top:408px;
  width:68px;
  height:25px;
  font-size:12px;
}
#u109 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u110 {
  position:absolute;
  left:27px;
  top:410px;
  width:4px;
  height:18px;
}
#u111 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:115px;
  top:284px;
  width:87px;
  height:103px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  font-size:10px;
  text-align:left;
}
#u114 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
}
#u115 {
  position:absolute;
  left:0px;
  top:24px;
  width:82px;
  height:15px;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u117 {
  position:absolute;
  left:0px;
  top:39px;
  width:82px;
  height:20px;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u119 {
  position:absolute;
  left:0px;
  top:59px;
  width:82px;
  height:24px;
  font-size:10px;
  text-align:left;
}
#u120 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
}
#u121 {
  position:absolute;
  left:0px;
  top:83px;
  width:82px;
  height:15px;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u123 {
  position:absolute;
  left:37px;
  top:485px;
  width:70px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00FF00;
}
#u124 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:117px;
  top:473px;
  width:87px;
  height:103px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  font-size:10px;
  text-align:left;
}
#u127 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
}
#u128 {
  position:absolute;
  left:0px;
  top:24px;
  width:82px;
  height:15px;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u129 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u130 {
  position:absolute;
  left:0px;
  top:39px;
  width:82px;
  height:20px;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u131 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u132 {
  position:absolute;
  left:0px;
  top:59px;
  width:82px;
  height:24px;
  font-size:10px;
  text-align:left;
}
#u133 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
}
#u134 {
  position:absolute;
  left:0px;
  top:83px;
  width:82px;
  height:15px;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u135 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:9px;
}
#u136 {
  position:absolute;
  left:117px;
  top:305px;
  width:70px;
  height:4px;
}
#u137 {
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:9px;
}
#u138 {
  position:absolute;
  left:117px;
  top:493px;
  width:70px;
  height:4px;
}
#u139 {
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:35px;
  height:9px;
}
#u140 {
  position:absolute;
  left:117px;
  top:551px;
  width:30px;
  height:4px;
}
#u141 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
}
#u142 {
  position:absolute;
  left:26px;
  top:449px;
  width:176px;
  height:20px;
  font-size:10px;
  text-align:left;
}
#u143 {
  position:absolute;
  left:2px;
  top:4px;
  width:172px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:20px;
}
#u144 {
  position:absolute;
  left:210px;
  top:450px;
  width:184px;
  height:20px;
  font-size:10px;
  text-align:left;
}
#u145 {
  position:absolute;
  left:2px;
  top:4px;
  width:180px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:224px;
  top:482px;
  width:171px;
  height:105px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u148 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
}
#u149 {
  position:absolute;
  left:121px;
  top:0px;
  width:45px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF6600;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
}
#u151 {
  position:absolute;
  left:0px;
  top:25px;
  width:121px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u152 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
}
#u153 {
  position:absolute;
  left:121px;
  top:25px;
  width:45px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF6600;
}
#u154 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
}
#u155 {
  position:absolute;
  left:0px;
  top:50px;
  width:121px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u156 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
}
#u157 {
  position:absolute;
  left:121px;
  top:50px;
  width:45px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF6600;
}
#u158 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
}
#u159 {
  position:absolute;
  left:0px;
  top:75px;
  width:121px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u160 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
}
#u161 {
  position:absolute;
  left:121px;
  top:75px;
  width:45px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF6600;
}
#u162 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u163 {
  position:absolute;
  left:213px;
  top:490px;
  width:10px;
  height:10px;
}
#u164 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u165 {
  position:absolute;
  left:213px;
  top:514px;
  width:10px;
  height:10px;
}
#u166 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u167 {
  position:absolute;
  left:213px;
  top:540px;
  width:10px;
  height:10px;
}
#u168 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u169 {
  position:absolute;
  left:213px;
  top:565px;
  width:10px;
  height:10px;
}
#u170 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:9px;
}
#u171 {
  position:absolute;
  left:281px;
  top:496px;
  width:29px;
  height:4px;
}
#u172 {
  position:absolute;
  left:2px;
  top:-6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:25px;
  height:9px;
}
#u173 {
  position:absolute;
  left:281px;
  top:520px;
  width:20px;
  height:4px;
}
#u174 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:53px;
  height:9px;
}
#u175 {
  position:absolute;
  left:281px;
  top:543px;
  width:48px;
  height:4px;
}
#u176 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:19px;
  height:9px;
}
#u177 {
  position:absolute;
  left:281px;
  top:571px;
  width:14px;
  height:4px;
}
#u178 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:35px;
  height:9px;
}
#u179 {
  position:absolute;
  left:117px;
  top:362px;
  width:30px;
  height:4px;
}
#u180 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u181 {
  position:absolute;
  left:209px;
  top:450px;
  width:183px;
  height:150px;
}
#u182 {
  position:absolute;
  left:2px;
  top:67px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u183 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u184 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u185 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u186 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u187 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u188 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u190 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u191 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u192 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u193 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
