body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1118 {
  position:absolute;
  left:20px;
  top:18px;
  width:375px;
  height:640px;
}
#u1119 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:51px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1120 {
  position:absolute;
  left:21px;
  top:18px;
  width:373px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1121 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  word-wrap:break-word;
}
#u1122 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1123 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1123_img.mouseDown {
}
#u1123.mouseDown {
}
#u1124 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1125 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1125_img.mouseDown {
}
#u1125.mouseDown {
}
#u1126 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1127 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1127_img.mouseDown {
}
#u1127.mouseDown {
}
#u1128 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1129 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1129_img.mouseDown {
}
#u1129.mouseDown {
}
#u1130 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1131 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1131_img.mouseDown {
}
#u1131.mouseDown {
}
#u1132 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1133 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1134 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1135 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u1136 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1137 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u1138 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1139 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u1140 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1141 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u1142 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1143 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u1144 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1146 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1147 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1148 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1149 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
.u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
.u1151 {
  position:absolute;
  left:20px;
  top:2px;
  width:219px;
  height:49px;
  font-size:10px;
  color:#000000;
  text-align:left;
}
.u1152 {
  position:absolute;
  left:2px;
  top:19px;
  width:215px;
  word-wrap:break-word;
}
.u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
.u1153 {
  position:absolute;
  left:239px;
  top:2px;
  width:50px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
  text-align:left;
}
.u1154 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
.u1155 {
  position:absolute;
  left:288px;
  top:2px;
  width:37px;
  height:49px;
  font-size:10px;
  color:#000000;
  text-align:left;
}
.u1156 {
  position:absolute;
  left:2px;
  top:16px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u1157 {
  position:absolute;
  left:325px;
  top:2px;
  width:49px;
  height:49px;
  font-size:10px;
  color:#000000;
  text-align:left;
}
.u1158 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:50px;
}
.u1159 {
  position:absolute;
  left:1px;
  top:2px;
  width:20px;
  height:49px;
  font-size:9px;
  color:#000000;
  text-align:left;
}
.u1160 {
  position:absolute;
  left:2px;
  top:16px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:51px;
}
#u1150-2 {
  position:absolute;
  left:0px;
  top:51px;
  width:374px;
  height:51px;
}
#u1150-3 {
  position:absolute;
  left:0px;
  top:102px;
  width:374px;
  height:51px;
}
#u1150-4 {
  position:absolute;
  left:0px;
  top:153px;
  width:374px;
  height:51px;
}
#u1150-5 {
  position:absolute;
  left:0px;
  top:204px;
  width:374px;
  height:51px;
}
#u1150-6 {
  position:absolute;
  left:0px;
  top:255px;
  width:374px;
  height:51px;
}
#u1150-7 {
  position:absolute;
  left:0px;
  top:306px;
  width:374px;
  height:51px;
}
#u1150-8 {
  position:absolute;
  left:0px;
  top:357px;
  width:374px;
  height:51px;
}
#u1150-9 {
  position:absolute;
  left:0px;
  top:408px;
  width:374px;
  height:51px;
}
#u1150-10 {
  position:absolute;
  left:0px;
  top:459px;
  width:374px;
  height:51px;
}
#u1150 {
  position:absolute;
  left:21px;
  top:101px;
  width:374px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1161 {
  position:absolute;
  left:20px;
  top:72px;
  width:380px;
  height:35px;
}
#u1162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u1162 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1163 {
  position:absolute;
  left:2px;
  top:10px;
  width:221px;
  word-wrap:break-word;
}
#u1164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u1164 {
  position:absolute;
  left:225px;
  top:0px;
  width:49px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1165 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u1166 {
  position:absolute;
  left:274px;
  top:0px;
  width:48px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1167 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u1168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u1168 {
  position:absolute;
  left:322px;
  top:0px;
  width:53px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1169 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1170 {
  position:absolute;
  left:280px;
  top:45px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u1171 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1172 {
  position:absolute;
  left:359px;
  top:45px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u1172_img.selected {
}
#u1172.selected {
}
#u1173 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1174 {
  position:absolute;
  left:303px;
  top:43px;
  width:50px;
  height:20px;
  font-size:11px;
}
#u1175 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
