body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1145 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:640px;
}
#u1146 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1147 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1148 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1149 {
  position:absolute;
  left:31px;
  top:80px;
  width:15px;
  height:15px;
}
#u1150 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:21px;
}
#u1151 {
  position:absolute;
  left:53px;
  top:79px;
  width:300px;
  height:21px;
  font-size:12px;
  text-align:left;
}
#u1151_img.mouseOver {
}
#u1151.mouseOver {
}
#u1152 {
  position:absolute;
  left:2px;
  top:3px;
  width:296px;
  word-wrap:break-word;
}
#u1153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:221px;
}
#u1154 {
  position:absolute;
  left:42px;
  top:138px;
  width:331px;
  height:221px;
}
#u1155 {
  position:absolute;
  left:2px;
  top:102px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:222px;
}
#u1156 {
  position:absolute;
  left:38px;
  top:369px;
  width:321px;
  height:222px;
}
#u1157 {
  position:absolute;
  left:2px;
  top:103px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158 {
  position:absolute;
  left:22px;
  top:100px;
  width:336px;
  height:36px;
}
#u1159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
}
#u1159 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
}
#u1159_img.mouseOver {
}
#u1159.mouseOver {
}
#u1159_img.mouseDown {
}
#u1159.mouseDown {
}
#u1160 {
  position:absolute;
  left:2px;
  top:8px;
  width:162px;
  word-wrap:break-word;
}
#u1161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:31px;
}
#u1161 {
  position:absolute;
  left:166px;
  top:0px;
  width:165px;
  height:31px;
  color:#0099FF;
}
#u1161_img.mouseOver {
}
#u1161.mouseOver {
}
#u1161_img.mouseDown {
}
#u1161.mouseDown {
}
#u1162 {
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u1163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1163 {
  position:absolute;
  left:193px;
  top:130px;
  width:200px;
  height:1px;
}
#u1164 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1166 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1166_img.mouseDown {
}
#u1166.mouseDown {
}
#u1167 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1168 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1168_img.mouseDown {
}
#u1168.mouseDown {
}
#u1169 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1170 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1170_img.mouseDown {
}
#u1170.mouseDown {
}
#u1171 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1172 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1172_img.mouseDown {
}
#u1172.mouseDown {
}
#u1173 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1174 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1174_img.mouseDown {
}
#u1174.mouseDown {
}
#u1175 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1176 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1177 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1178 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u1179 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1180 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u1181 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1182 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u1183 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1184 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u1185 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1186 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u1187 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1189 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1190 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1191 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1192 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1193 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1194 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
