body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3285 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u3286 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3287 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u3288 {
  position:absolute;
  left:2px;
  top:10px;
  width:369px;
  word-wrap:break-word;
}
#u3289-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3289-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3289-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3289 {
  position:absolute;
  left:140px;
  top:223px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3290 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u3291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3291 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3291_img.mouseDown {
}
#u3291.mouseDown {
}
#u3292 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3293 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3293_img.mouseDown {
}
#u3293.mouseDown {
}
#u3294 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3295 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3295_img.mouseDown {
}
#u3295.mouseDown {
}
#u3296 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3297 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3297_img.mouseDown {
}
#u3297.mouseDown {
}
#u3298 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3299 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3299_img.mouseDown {
}
#u3299.mouseDown {
}
#u3300 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u3301 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u3302 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3303 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u3304 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3305 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u3306 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3307 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u3308 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3309 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u3310 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3311 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u3312 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3313 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3314 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3315 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3316 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3317 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3318 {
  position:absolute;
  left:30px;
  top:251px;
  width:364px;
  height:277px;
}
#u3319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
}
#u3319 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
  font-size:11px;
  color:#999999;
}
#u3320 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u3321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u3321 {
  position:absolute;
  left:77px;
  top:0px;
  width:82px;
  height:31px;
  font-size:11px;
  color:#999999;
}
#u3322 {
  position:absolute;
  left:2px;
  top:9px;
  width:78px;
  word-wrap:break-word;
}
#u3323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:31px;
}
#u3323 {
  position:absolute;
  left:159px;
  top:0px;
  width:110px;
  height:31px;
  font-size:11px;
  color:#999999;
}
#u3324 {
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u3325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u3325 {
  position:absolute;
  left:269px;
  top:0px;
  width:90px;
  height:31px;
  font-size:11px;
  color:#999999;
}
#u3326 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u3327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
}
#u3327 {
  position:absolute;
  left:0px;
  top:31px;
  width:77px;
  height:31px;
  font-size:11px;
  color:#999999;
}
#u3328 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u3329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u3329 {
  position:absolute;
  left:77px;
  top:31px;
  width:82px;
  height:31px;
  font-size:11px;
  color:#999999;
}
#u3330 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:31px;
}
#u3331 {
  position:absolute;
  left:159px;
  top:31px;
  width:110px;
  height:31px;
  font-size:11px;
  color:#999999;
}
#u3332 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u3333 {
  position:absolute;
  left:269px;
  top:31px;
  width:90px;
  height:31px;
  font-size:11px;
  color:#999999;
}
#u3334 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u3335 {
  position:absolute;
  left:0px;
  top:62px;
  width:77px;
  height:30px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u3336 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u3337 {
  position:absolute;
  left:77px;
  top:62px;
  width:82px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3338 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3339 {
  position:absolute;
  left:159px;
  top:62px;
  width:110px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3340 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u3341 {
  position:absolute;
  left:269px;
  top:62px;
  width:90px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3342 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u3343 {
  position:absolute;
  left:0px;
  top:92px;
  width:77px;
  height:30px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u3344 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u3345 {
  position:absolute;
  left:77px;
  top:92px;
  width:82px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3346 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3347 {
  position:absolute;
  left:159px;
  top:92px;
  width:110px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3348 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u3349 {
  position:absolute;
  left:269px;
  top:92px;
  width:90px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3350 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u3351 {
  position:absolute;
  left:0px;
  top:122px;
  width:77px;
  height:30px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u3352 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u3353 {
  position:absolute;
  left:77px;
  top:122px;
  width:82px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3354 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3355 {
  position:absolute;
  left:159px;
  top:122px;
  width:110px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3356 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u3357 {
  position:absolute;
  left:269px;
  top:122px;
  width:90px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3358 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u3359 {
  position:absolute;
  left:0px;
  top:152px;
  width:77px;
  height:30px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u3360 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u3361 {
  position:absolute;
  left:77px;
  top:152px;
  width:82px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3362 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3363 {
  position:absolute;
  left:159px;
  top:152px;
  width:110px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3364 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u3365 {
  position:absolute;
  left:269px;
  top:152px;
  width:90px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3366 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u3367 {
  position:absolute;
  left:0px;
  top:182px;
  width:77px;
  height:30px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u3368 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u3369 {
  position:absolute;
  left:77px;
  top:182px;
  width:82px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3370 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3371 {
  position:absolute;
  left:159px;
  top:182px;
  width:110px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3372 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u3373 {
  position:absolute;
  left:269px;
  top:182px;
  width:90px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3374 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u3375 {
  position:absolute;
  left:0px;
  top:212px;
  width:77px;
  height:30px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u3376 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u3377 {
  position:absolute;
  left:77px;
  top:212px;
  width:82px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3378 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3379 {
  position:absolute;
  left:159px;
  top:212px;
  width:110px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3380 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u3381 {
  position:absolute;
  left:269px;
  top:212px;
  width:90px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3382 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u3383 {
  position:absolute;
  left:0px;
  top:242px;
  width:77px;
  height:30px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u3384 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u3385 {
  position:absolute;
  left:77px;
  top:242px;
  width:82px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3386 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3387 {
  position:absolute;
  left:159px;
  top:242px;
  width:110px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3388 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u3389 {
  position:absolute;
  left:269px;
  top:242px;
  width:90px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u3390 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3391 {
  position:absolute;
  left:30px;
  top:210px;
  width:345px;
  height:35px;
}
#u3392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u3392 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  color:#3EADE9;
}
#u3393 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u3394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u3394 {
  position:absolute;
  left:170px;
  top:0px;
  width:170px;
  height:30px;
  color:#000000;
}
#u3395 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u3396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:2px;
}
#u3396 {
  position:absolute;
  left:22px;
  top:241px;
  width:167px;
  height:1px;
}
#u3397 {
  position:absolute;
  left:2px;
  top:-8px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#D7D7D7;
  text-align:left;
}
#u3398 {
  position:absolute;
  left:28px;
  top:80px;
  width:359px;
  height:30px;
  font-size:11px;
  color:#D7D7D7;
  text-align:left;
}
#u3399 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u3400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3400 {
  position:absolute;
  left:361px;
  top:84px;
  width:18px;
  height:18px;
}
#u3401 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3402 {
  position:absolute;
  left:77px;
  top:114px;
  width:70px;
  height:70px;
  color:#3EADE9;
}
#u3403 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u3404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3404 {
  position:absolute;
  left:185px;
  top:114px;
  width:70px;
  height:70px;
  color:#33FF00;
}
#u3405 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u3406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3406 {
  position:absolute;
  left:284px;
  top:114px;
  width:70px;
  height:70px;
  color:#FF0000;
}
#u3407 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u3408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3408 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u3409 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
