body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2044 {
  position:absolute;
  left:20px;
  top:17px;
  width:375px;
  height:640px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2046 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2047 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048 {
  position:absolute;
  left:36px;
  top:178px;
  width:333px;
  height:280px;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2049_img.mouseOver {
}
#u2049.mouseOver {
}
#u2049_img.mouseDown {
}
#u2049.mouseDown {
}
#u2050 {
  position:absolute;
  left:2px;
  top:10px;
  width:214px;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u2051 {
  position:absolute;
  left:218px;
  top:0px;
  width:110px;
  height:35px;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u2051_img.mouseOver {
}
#u2051.mouseOver {
}
#u2051_img.mouseDown {
}
#u2051.mouseDown {
}
#u2052 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
}
#u2053 {
  position:absolute;
  left:0px;
  top:35px;
  width:218px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
#u2053_img.mouseOver {
}
#u2053.mouseOver {
}
#u2053_img.mouseDown {
}
#u2053.mouseDown {
}
#u2054 {
  position:absolute;
  left:2px;
  top:4px;
  width:214px;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u2055 {
  position:absolute;
  left:218px;
  top:35px;
  width:110px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u2055_img.mouseOver {
}
#u2055.mouseOver {
}
#u2055_img.mouseDown {
}
#u2055.mouseDown {
}
#u2056 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2057 {
  position:absolute;
  left:0px;
  top:55px;
  width:218px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u2057_img.mouseDown {
}
#u2057.mouseDown {
}
#u2058 {
  position:absolute;
  left:2px;
  top:10px;
  width:214px;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u2059 {
  position:absolute;
  left:218px;
  top:55px;
  width:110px;
  height:35px;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u2059_img.mouseDown {
}
#u2059.mouseDown {
}
#u2060 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
}
#u2061 {
  position:absolute;
  left:0px;
  top:90px;
  width:218px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
#u2061_img.mouseDown {
}
#u2061.mouseDown {
}
#u2062 {
  position:absolute;
  left:2px;
  top:4px;
  width:214px;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u2063 {
  position:absolute;
  left:218px;
  top:90px;
  width:110px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u2063_img.mouseDown {
}
#u2063.mouseDown {
}
#u2064 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2065 {
  position:absolute;
  left:0px;
  top:110px;
  width:218px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u2065_img.mouseDown {
}
#u2065.mouseDown {
}
#u2066 {
  position:absolute;
  left:2px;
  top:10px;
  width:214px;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u2067 {
  position:absolute;
  left:218px;
  top:110px;
  width:110px;
  height:35px;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u2067_img.mouseDown {
}
#u2067.mouseDown {
}
#u2068 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
}
#u2069 {
  position:absolute;
  left:0px;
  top:145px;
  width:218px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
#u2069_img.mouseDown {
}
#u2069.mouseDown {
}
#u2070 {
  position:absolute;
  left:2px;
  top:4px;
  width:214px;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u2071 {
  position:absolute;
  left:218px;
  top:145px;
  width:110px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u2071_img.mouseDown {
}
#u2071.mouseDown {
}
#u2072 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2073 {
  position:absolute;
  left:0px;
  top:165px;
  width:218px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u2073_img.mouseDown {
}
#u2073.mouseDown {
}
#u2074 {
  position:absolute;
  left:2px;
  top:10px;
  width:214px;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u2075 {
  position:absolute;
  left:218px;
  top:165px;
  width:110px;
  height:35px;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u2075_img.mouseDown {
}
#u2075.mouseDown {
}
#u2076 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
}
#u2077 {
  position:absolute;
  left:0px;
  top:200px;
  width:218px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
#u2077_img.mouseDown {
}
#u2077.mouseDown {
}
#u2078 {
  position:absolute;
  left:2px;
  top:4px;
  width:214px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u2079 {
  position:absolute;
  left:218px;
  top:200px;
  width:110px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u2079_img.mouseDown {
}
#u2079.mouseDown {
}
#u2080 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2081 {
  position:absolute;
  left:0px;
  top:220px;
  width:218px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u2081_img.mouseDown {
}
#u2081.mouseDown {
}
#u2082 {
  position:absolute;
  left:2px;
  top:10px;
  width:214px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u2083 {
  position:absolute;
  left:218px;
  top:220px;
  width:110px;
  height:35px;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u2083_img.mouseDown {
}
#u2083.mouseDown {
}
#u2084 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
}
#u2085 {
  position:absolute;
  left:0px;
  top:255px;
  width:218px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
#u2085_img.mouseDown {
}
#u2085.mouseDown {
}
#u2086 {
  position:absolute;
  left:2px;
  top:4px;
  width:214px;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u2087 {
  position:absolute;
  left:218px;
  top:255px;
  width:110px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u2087_img.mouseDown {
}
#u2087.mouseDown {
}
#u2088 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089 {
  position:absolute;
  left:33px;
  top:133px;
  width:338px;
  height:38px;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:33px;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u2090_img.mouseDown {
}
#u2090.mouseDown {
}
#u2091 {
  position:absolute;
  left:2px;
  top:8px;
  width:262px;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
}
#u2092 {
  position:absolute;
  left:266px;
  top:0px;
  width:67px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u2092_img.mouseDown {
}
#u2092.mouseDown {
}
#u2093 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#D7D7D7;
  text-align:left;
}
#u2094 {
  position:absolute;
  left:38px;
  top:74px;
  width:306px;
  height:30px;
  font-size:11px;
  color:#D7D7D7;
  text-align:left;
}
#u2095 {
  position:absolute;
  left:2px;
  top:8px;
  width:302px;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2096 {
  position:absolute;
  left:21px;
  top:107px;
  width:374px;
  height:2px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:-7px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2098 {
  position:absolute;
  left:350px;
  top:82px;
  width:15px;
  height:15px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2100 {
  position:absolute;
  left:366px;
  top:135px;
  width:20px;
  height:20px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:3px;
  background:inherit;
  background-color:rgba(153, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  position:absolute;
  left:21px;
  top:172px;
  width:374px;
  height:3px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:-6px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104 {
  position:absolute;
  left:33px;
  top:121px;
  width:57px;
  height:22px;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u2105_img.mouseDown {
}
#u2105.mouseDown {
}
#u2106 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u2107 {
  position:absolute;
  left:22px;
  top:232px;
  width:370px;
  height:1px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u2109 {
  position:absolute;
  left:21px;
  top:291px;
  width:370px;
  height:1px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u2111 {
  position:absolute;
  left:24px;
  top:345px;
  width:370px;
  height:1px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u2113 {
  position:absolute;
  left:22px;
  top:399px;
  width:370px;
  height:1px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u2115 {
  position:absolute;
  left:22px;
  top:452px;
  width:370px;
  height:1px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2117 {
  position:absolute;
  left:329px;
  top:35px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2118 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2120 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2120_img.mouseDown {
}
#u2120.mouseDown {
}
#u2121 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2122 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2122_img.mouseDown {
}
#u2122.mouseDown {
}
#u2123 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2124 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2124_img.mouseDown {
}
#u2124.mouseDown {
}
#u2125 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2126 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2126_img.mouseDown {
}
#u2126.mouseDown {
}
#u2127 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2128 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2128_img.mouseDown {
}
#u2128.mouseDown {
}
#u2129 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u2130 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2132 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2134 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2136 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2138 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2140 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2143 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2144 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2145 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2146 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2147 {
  position:absolute;
  left:284px;
  top:25px;
  width:30px;
  height:30px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2149 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2150 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
