body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5267 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u5268 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u5269 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u5270 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
}
#u5271 {
  position:absolute;
  left:232px;
  top:455px;
  width:93px;
  height:21px;
}
#u5272 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5273 {
  position:absolute;
  left:38px;
  top:421px;
  width:41px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5274 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u5275 {
  position:absolute;
  left:220px;
  top:48px;
  width:80px;
  height:21px;
  font-size:16px;
  color:#999999;
}
#u5276 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u5277 {
  position:absolute;
  left:21px;
  top:46px;
  width:372px;
  height:34px;
}
#u5278 {
  position:absolute;
  left:2px;
  top:9px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5279 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u5280 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u5281 {
  position:absolute;
  left:354px;
  top:120px;
  width:26px;
  height:36px;
}
#u5282 {
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:663px;
}
#u5283 {
  position:absolute;
  left:22px;
  top:21px;
  width:373px;
  height:663px;
}
#u5284 {
  position:absolute;
  left:2px;
  top:324px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u5285 {
  position:absolute;
  left:169px;
  top:51px;
  width:80px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u5286 {
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u5287 {
  position:absolute;
  left:21px;
  top:46px;
  width:76px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u5288 {
  position:absolute;
  left:304px;
  top:49px;
  width:80px;
  height:23px;
  font-size:14px;
  color:#FF9500;
  text-align:right;
}
#u5289 {
  position:absolute;
  left:2px;
  top:3px;
  width:76px;
  word-wrap:break-word;
}
#u5290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5290 {
  position:absolute;
  left:38px;
  top:130px;
  width:112px;
  height:33px;
}
#u5291 {
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
