body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u896 {
  position:absolute;
  left:20px;
  top:18px;
  width:375px;
  height:640px;
}
#u897 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:51px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u898 {
  position:absolute;
  left:21px;
  top:18px;
  width:373px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u899 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u900 {
  position:absolute;
  left:20px;
  top:69px;
  width:374px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u901 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  word-wrap:break-word;
}
#u902 {
  position:absolute;
  left:27px;
  top:181px;
  width:356px;
  height:269px;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:38px;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:38px;
  font-size:10px;
}
#u904 {
  position:absolute;
  left:2px;
  top:11px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:38px;
}
#u905 {
  position:absolute;
  left:32px;
  top:0px;
  width:46px;
  height:38px;
  font-size:10px;
}
#u906 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:38px;
}
#u907 {
  position:absolute;
  left:78px;
  top:0px;
  width:60px;
  height:38px;
  font-size:10px;
}
#u908 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:38px;
}
#u909 {
  position:absolute;
  left:138px;
  top:0px;
  width:93px;
  height:38px;
  font-size:10px;
}
#u910 {
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:38px;
}
#u911 {
  position:absolute;
  left:231px;
  top:0px;
  width:60px;
  height:38px;
  font-size:10px;
}
#u912 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:38px;
}
#u913 {
  position:absolute;
  left:291px;
  top:0px;
  width:60px;
  height:38px;
  font-size:10px;
}
#u914 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
}
#u915 {
  position:absolute;
  left:0px;
  top:38px;
  width:32px;
  height:25px;
  font-size:10px;
}
#u916 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u917 {
  position:absolute;
  left:32px;
  top:38px;
  width:46px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u918 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u919 {
  position:absolute;
  left:78px;
  top:38px;
  width:60px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u920 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u921 {
  position:absolute;
  left:138px;
  top:38px;
  width:93px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u922 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u923 {
  position:absolute;
  left:231px;
  top:38px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u924 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u925 {
  position:absolute;
  left:291px;
  top:38px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u926 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
}
#u927 {
  position:absolute;
  left:0px;
  top:63px;
  width:32px;
  height:25px;
  font-size:10px;
}
#u928 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u929 {
  position:absolute;
  left:32px;
  top:63px;
  width:46px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u930 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u931 {
  position:absolute;
  left:78px;
  top:63px;
  width:60px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u932 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u933 {
  position:absolute;
  left:138px;
  top:63px;
  width:93px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u934 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u935 {
  position:absolute;
  left:231px;
  top:63px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u936 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u937 {
  position:absolute;
  left:291px;
  top:63px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u938 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
}
#u939 {
  position:absolute;
  left:0px;
  top:88px;
  width:32px;
  height:25px;
  font-size:10px;
}
#u940 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u941 {
  position:absolute;
  left:32px;
  top:88px;
  width:46px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u942 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u943 {
  position:absolute;
  left:78px;
  top:88px;
  width:60px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u944 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u945 {
  position:absolute;
  left:138px;
  top:88px;
  width:93px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u946 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u947 {
  position:absolute;
  left:231px;
  top:88px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u948 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u949 {
  position:absolute;
  left:291px;
  top:88px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u950 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
}
#u951 {
  position:absolute;
  left:0px;
  top:113px;
  width:32px;
  height:25px;
  font-size:10px;
}
#u952 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u953 {
  position:absolute;
  left:32px;
  top:113px;
  width:46px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u954 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u955 {
  position:absolute;
  left:78px;
  top:113px;
  width:60px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u956 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u957 {
  position:absolute;
  left:138px;
  top:113px;
  width:93px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u958 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u959 {
  position:absolute;
  left:231px;
  top:113px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u960 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u961 {
  position:absolute;
  left:291px;
  top:113px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u962 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
}
#u963 {
  position:absolute;
  left:0px;
  top:138px;
  width:32px;
  height:25px;
  font-size:10px;
}
#u964 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u965 {
  position:absolute;
  left:32px;
  top:138px;
  width:46px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u966 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u967 {
  position:absolute;
  left:78px;
  top:138px;
  width:60px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u968 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u969 {
  position:absolute;
  left:138px;
  top:138px;
  width:93px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u970 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u971 {
  position:absolute;
  left:231px;
  top:138px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u972 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u973 {
  position:absolute;
  left:291px;
  top:138px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u974 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u975 {
  position:absolute;
  left:0px;
  top:163px;
  width:32px;
  height:26px;
  font-size:10px;
}
#u976 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
}
#u977 {
  position:absolute;
  left:32px;
  top:163px;
  width:46px;
  height:26px;
  font-size:10px;
  text-align:left;
}
#u978 {
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u979 {
  position:absolute;
  left:78px;
  top:163px;
  width:60px;
  height:26px;
  font-size:10px;
  text-align:left;
}
#u980 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u981 {
  position:absolute;
  left:138px;
  top:163px;
  width:93px;
  height:26px;
  font-size:10px;
  text-align:left;
}
#u982 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u983 {
  position:absolute;
  left:231px;
  top:163px;
  width:60px;
  height:26px;
  font-size:10px;
}
#u984 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u985 {
  position:absolute;
  left:291px;
  top:163px;
  width:60px;
  height:26px;
  font-size:10px;
}
#u986 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
}
#u987 {
  position:absolute;
  left:0px;
  top:189px;
  width:32px;
  height:25px;
  font-size:10px;
}
#u988 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u989 {
  position:absolute;
  left:32px;
  top:189px;
  width:46px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u990 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u991 {
  position:absolute;
  left:78px;
  top:189px;
  width:60px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u992 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u993 {
  position:absolute;
  left:138px;
  top:189px;
  width:93px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u994 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u995 {
  position:absolute;
  left:231px;
  top:189px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u996 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u997 {
  position:absolute;
  left:291px;
  top:189px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u998 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
}
#u999 {
  position:absolute;
  left:0px;
  top:214px;
  width:32px;
  height:25px;
  font-size:10px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u1001 {
  position:absolute;
  left:32px;
  top:214px;
  width:46px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u1002 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u1003 {
  position:absolute;
  left:78px;
  top:214px;
  width:60px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u1004 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u1005 {
  position:absolute;
  left:138px;
  top:214px;
  width:93px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u1006 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u1007 {
  position:absolute;
  left:231px;
  top:214px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u1009 {
  position:absolute;
  left:291px;
  top:214px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
}
#u1011 {
  position:absolute;
  left:0px;
  top:239px;
  width:32px;
  height:25px;
  font-size:10px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u1013 {
  position:absolute;
  left:32px;
  top:239px;
  width:46px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u1014 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u1015 {
  position:absolute;
  left:78px;
  top:239px;
  width:60px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u1016 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u1017 {
  position:absolute;
  left:138px;
  top:239px;
  width:93px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u1018 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u1019 {
  position:absolute;
  left:231px;
  top:239px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u1021 {
  position:absolute;
  left:291px;
  top:239px;
  width:60px;
  height:25px;
  font-size:10px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u1023 {
  position:absolute;
  left:42px;
  top:155px;
  width:17px;
  height:13px;
  font-size:10px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u1025 {
  position:absolute;
  left:60px;
  top:150px;
  width:73px;
  height:20px;
  font-size:10px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1027 {
  position:absolute;
  left:156px;
  top:152px;
  width:16px;
  height:16px;
  font-size:10px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u1029 {
  position:absolute;
  left:172px;
  top:150px;
  width:40px;
  height:20px;
  font-size:10px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
}
#u1031 {
  position:absolute;
  left:260px;
  top:150px;
  width:46px;
  height:20px;
  font-size:10px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1033 {
  position:absolute;
  left:245px;
  top:153px;
  width:16px;
  height:16px;
  font-size:10px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u1035 {
  position:absolute;
  left:37px;
  top:125px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1037_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u1037 {
  position:absolute;
  left:27px;
  top:122px;
  width:4px;
  height:18px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039 {
  position:absolute;
  left:37px;
  top:273px;
  width:14px;
  height:16px;
}
#u1040 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1041 {
  position:absolute;
  left:37px;
  top:247px;
  width:14px;
  height:16px;
}
#u1042 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1043 {
  position:absolute;
  left:37px;
  top:223px;
  width:14px;
  height:16px;
}
#u1044 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1045 {
  position:absolute;
  left:37px;
  top:299px;
  width:14px;
  height:16px;
}
#u1046 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1047 {
  position:absolute;
  left:37px;
  top:324px;
  width:14px;
  height:16px;
}
#u1048 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1049 {
  position:absolute;
  left:37px;
  top:349px;
  width:14px;
  height:16px;
}
#u1050 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1051 {
  position:absolute;
  left:37px;
  top:374px;
  width:14px;
  height:16px;
}
#u1052 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1053 {
  position:absolute;
  left:37px;
  top:400px;
  width:14px;
  height:16px;
}
#u1054 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1055 {
  position:absolute;
  left:37px;
  top:426px;
  width:14px;
  height:16px;
}
#u1056 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1057 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1058_img.mouseDown {
}
#u1058.mouseDown {
}
#u1059 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1060 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1060_img.mouseDown {
}
#u1060.mouseDown {
}
#u1061 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1062 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1062_img.mouseDown {
}
#u1062.mouseDown {
}
#u1063 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1064 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1064_img.mouseDown {
}
#u1064.mouseDown {
}
#u1065 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u1066 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1066_img.mouseDown {
}
#u1066.mouseDown {
}
#u1067 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1068 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1070 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1072 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1074 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1076 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1078 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1081 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1082 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1083 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1084 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1085 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1086 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
