body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2959 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u2960 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2961 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2962 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  word-wrap:break-word;
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u2963 {
  position:absolute;
  left:26px;
  top:86px;
  width:130px;
  height:25px;
}
#u2964 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u2965_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u2965 {
  position:absolute;
  left:35px;
  top:89px;
  width:4px;
  height:18px;
}
#u2966 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2967 {
  position:absolute;
  left:26px;
  top:136px;
  width:362px;
  height:95px;
}
#u2968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2968 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u2969 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2970 {
  position:absolute;
  left:60px;
  top:0px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u2971 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2972 {
  position:absolute;
  left:120px;
  top:0px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u2973 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2974 {
  position:absolute;
  left:180px;
  top:0px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u2975 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2976 {
  position:absolute;
  left:240px;
  top:0px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u2977 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u2978 {
  position:absolute;
  left:300px;
  top:0px;
  width:57px;
  height:30px;
  font-size:10px;
}
#u2979 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u2980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2980 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u2981 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2982 {
  position:absolute;
  left:60px;
  top:30px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u2983 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2984 {
  position:absolute;
  left:120px;
  top:30px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u2985 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2986 {
  position:absolute;
  left:180px;
  top:30px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u2987 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2988 {
  position:absolute;
  left:240px;
  top:30px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u2989 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u2990 {
  position:absolute;
  left:300px;
  top:30px;
  width:57px;
  height:30px;
  font-size:10px;
}
#u2991 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2992 {
  position:absolute;
  left:0px;
  top:60px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u2993 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2994 {
  position:absolute;
  left:60px;
  top:60px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u2995 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2996 {
  position:absolute;
  left:120px;
  top:60px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u2997 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2998 {
  position:absolute;
  left:180px;
  top:60px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u2999 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3000 {
  position:absolute;
  left:240px;
  top:60px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3001 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u3002 {
  position:absolute;
  left:300px;
  top:60px;
  width:57px;
  height:30px;
  font-size:10px;
}
#u3003 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u3004 {
  position:absolute;
  left:21px;
  top:299px;
  width:130px;
  height:25px;
}
#u3005 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u3006_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u3006 {
  position:absolute;
  left:30px;
  top:302px;
  width:4px;
  height:18px;
}
#u3007 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3008 {
  position:absolute;
  left:26px;
  top:347px;
  width:362px;
  height:95px;
}
#u3009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3009 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3010 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u3011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3011 {
  position:absolute;
  left:60px;
  top:0px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3012 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u3013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3013 {
  position:absolute;
  left:120px;
  top:0px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3014 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u3015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3015 {
  position:absolute;
  left:180px;
  top:0px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3016 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u3017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3017 {
  position:absolute;
  left:240px;
  top:0px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3018 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u3019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u3019 {
  position:absolute;
  left:300px;
  top:0px;
  width:57px;
  height:30px;
  font-size:10px;
}
#u3020 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u3021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3021 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3022 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3023 {
  position:absolute;
  left:60px;
  top:30px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3024 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3025 {
  position:absolute;
  left:120px;
  top:30px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3026 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3027 {
  position:absolute;
  left:180px;
  top:30px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3028 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3029 {
  position:absolute;
  left:240px;
  top:30px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3030 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u3031 {
  position:absolute;
  left:300px;
  top:30px;
  width:57px;
  height:30px;
  font-size:10px;
}
#u3032 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3033 {
  position:absolute;
  left:0px;
  top:60px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3034 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3035 {
  position:absolute;
  left:60px;
  top:60px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3036 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3037 {
  position:absolute;
  left:120px;
  top:60px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3038 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3039 {
  position:absolute;
  left:180px;
  top:60px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3040 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3041 {
  position:absolute;
  left:240px;
  top:60px;
  width:60px;
  height:30px;
  font-size:10px;
}
#u3042 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u3043 {
  position:absolute;
  left:300px;
  top:60px;
  width:57px;
  height:30px;
  font-size:10px;
}
#u3044 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3045 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u3046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3046 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3046_img.mouseDown {
}
#u3046.mouseDown {
}
#u3047 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3048 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3048_img.mouseDown {
}
#u3048.mouseDown {
}
#u3049 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3050 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3050_img.mouseDown {
}
#u3050.mouseDown {
}
#u3051 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3052 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3052_img.mouseDown {
}
#u3052.mouseDown {
}
#u3053 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u3054 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3054_img.mouseDown {
}
#u3054.mouseDown {
}
#u3055 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u3056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u3056 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u3057 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3058 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u3059 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3060 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u3061 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3062 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u3063 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3064 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u3065 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3066 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u3067 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3068 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3069 {
  position:absolute;
  left:23px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3070 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3071 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3072 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3073 {
  position:absolute;
  left:336px;
  top:33px;
  width:30px;
  height:30px;
}
#u3074 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3075 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u3076 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
