body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2093 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2095 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2096 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2097 {
  position:absolute;
  left:33px;
  top:35px;
  width:20px;
  height:20px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099 {
  position:absolute;
  left:21px;
  top:611px;
  width:376px;
  height:54px;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u2100 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
  color:#999999;
}
#u2101 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
}
#u2102 {
  position:absolute;
  left:94px;
  top:0px;
  width:92px;
  height:29px;
  color:#999999;
}
#u2103 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u2104 {
  position:absolute;
  left:186px;
  top:0px;
  width:93px;
  height:29px;
  color:#999999;
}
#u2105 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
}
#u2106 {
  position:absolute;
  left:279px;
  top:0px;
  width:92px;
  height:29px;
  color:#999999;
}
#u2107 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u2108 {
  position:absolute;
  left:0px;
  top:29px;
  width:94px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2109 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u2110 {
  position:absolute;
  left:94px;
  top:29px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2111 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u2112 {
  position:absolute;
  left:186px;
  top:29px;
  width:93px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2113 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u2114 {
  position:absolute;
  left:279px;
  top:29px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2115 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u2116 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118 {
  position:absolute;
  left:21px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2119 {
  position:absolute;
  left:114px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2120 {
  position:absolute;
  left:206px;
  top:611px;
  width:95px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2121 {
  position:absolute;
  left:300px;
  top:611px;
  width:92px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2122 {
  position:absolute;
  left:52px;
  top:611px;
  width:30px;
  height:30px;
}
#u2123 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2124 {
  position:absolute;
  left:239px;
  top:611px;
  width:32px;
  height:32px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2126 {
  position:absolute;
  left:145px;
  top:611px;
  width:30px;
  height:30px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2128 {
  position:absolute;
  left:331px;
  top:611px;
  width:30px;
  height:30px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130 {
  position:absolute;
  left:33px;
  top:112px;
  width:359px;
  height:481px;
}
#u2130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:481px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:29px;
}
#u2131 {
  position:absolute;
  left:39px;
  top:73px;
  width:347px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2132 {
  position:absolute;
  left:2px;
  top:7px;
  width:343px;
  word-wrap:break-word;
}
