body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2540 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:640px;
}
#u2541 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2542 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2543 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  word-wrap:break-word;
}
#u2544 {
  position:absolute;
  left:23px;
  top:607px;
  width:375px;
  height:55px;
}
#u2545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2545 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2545_img.mouseDown {
}
#u2545.mouseDown {
}
#u2546 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2547 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2547_img.mouseDown {
}
#u2547.mouseDown {
}
#u2548 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2549 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2549_img.mouseDown {
}
#u2549.mouseDown {
}
#u2550 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2551 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2551_img.mouseDown {
}
#u2551.mouseDown {
}
#u2552 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u2553 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2553_img.mouseDown {
}
#u2553.mouseDown {
}
#u2554 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  word-wrap:break-word;
}
#u2555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u2555 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u2556 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2557 {
  position:absolute;
  left:117px;
  top:610px;
  width:30px;
  height:30px;
}
#u2558 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2559 {
  position:absolute;
  left:269px;
  top:611px;
  width:30px;
  height:30px;
}
#u2560 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2561 {
  position:absolute;
  left:195px;
  top:612px;
  width:30px;
  height:30px;
}
#u2562 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2563 {
  position:absolute;
  left:349px;
  top:611px;
  width:30px;
  height:30px;
}
#u2564 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2565 {
  position:absolute;
  left:44px;
  top:610px;
  width:30px;
  height:30px;
}
#u2566 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2567 {
  position:absolute;
  left:96px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2568 {
  position:absolute;
  left:23px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2569 {
  position:absolute;
  left:169px;
  top:610px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2570 {
  position:absolute;
  left:243px;
  top:611px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2571 {
  position:absolute;
  left:317px;
  top:612px;
  width:73px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2572 {
  position:absolute;
  left:31px;
  top:70px;
  width:358px;
  height:65px;
}
#u2573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u2573 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  font-size:10px;
  color:#3EADE9;
  text-align:left;
}
#u2574 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u2575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:20px;
}
#u2575 {
  position:absolute;
  left:68px;
  top:0px;
  width:285px;
  height:20px;
  font-size:10px;
  color:#3EADE9;
}
#u2576 {
  position:absolute;
  left:2px;
  top:2px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u2577 {
  position:absolute;
  left:0px;
  top:20px;
  width:68px;
  height:20px;
  font-size:10px;
  color:#3EADE9;
  text-align:left;
}
#u2578 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u2579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:20px;
}
#u2579 {
  position:absolute;
  left:68px;
  top:20px;
  width:285px;
  height:20px;
  font-size:10px;
  color:#3EADE9;
}
#u2580 {
  position:absolute;
  left:2px;
  top:2px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u2581 {
  position:absolute;
  left:0px;
  top:40px;
  width:68px;
  height:20px;
  font-size:10px;
  color:#3EADE9;
  text-align:left;
}
#u2582 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u2583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:20px;
}
#u2583 {
  position:absolute;
  left:68px;
  top:40px;
  width:285px;
  height:20px;
  font-size:10px;
  color:#3EADE9;
}
#u2584 {
  position:absolute;
  left:2px;
  top:2px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u2585 {
  position:absolute;
  left:31px;
  top:129px;
  width:359px;
  height:1px;
}
#u2586 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2587 {
  position:absolute;
  left:31px;
  top:130px;
  width:364px;
  height:70px;
}
#u2588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:65px;
}
#u2588 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:65px;
  font-size:10px;
}
#u2589 {
  position:absolute;
  left:2px;
  top:52px;
  width:86px;
  word-wrap:break-word;
}
#u2590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:65px;
}
#u2590 {
  position:absolute;
  left:90px;
  top:0px;
  width:90px;
  height:65px;
  font-size:10px;
}
#u2591 {
  position:absolute;
  left:2px;
  top:52px;
  width:86px;
  word-wrap:break-word;
}
#u2592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:65px;
}
#u2592 {
  position:absolute;
  left:180px;
  top:0px;
  width:90px;
  height:65px;
  font-size:10px;
}
#u2593 {
  position:absolute;
  left:2px;
  top:52px;
  width:86px;
  word-wrap:break-word;
}
#u2594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:65px;
}
#u2594 {
  position:absolute;
  left:270px;
  top:0px;
  width:89px;
  height:65px;
  font-size:10px;
}
#u2595 {
  position:absolute;
  left:2px;
  top:52px;
  width:85px;
  word-wrap:break-word;
}
#u2596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2596 {
  position:absolute;
  left:151px;
  top:143px;
  width:30px;
  height:30px;
}
#u2597 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2598 {
  position:absolute;
  left:240px;
  top:144px;
  width:30px;
  height:30px;
}
#u2599 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u2600 {
  position:absolute;
  left:61px;
  top:144px;
  width:35px;
  height:30px;
}
#u2601 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2602 {
  position:absolute;
  left:329px;
  top:144px;
  width:30px;
  height:30px;
}
#u2603 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2604 {
  position:absolute;
  left:38px;
  top:25px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2605 {
  position:absolute;
  left:2px;
  top:-10px;
  width:21px;
  word-wrap:break-word;
}
